<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Spiritual Fitness &#8211; FetchFit</title>
	<atom:link href="https://fetchfitlife.com/category/fitness/spiritual-fitness/feed/" rel="self" type="application/rss+xml" />
	<link>http://fetchfitlife.com/</link>
	<description>Women&#039;s Fitness and Pet Lifestyle Blog</description>
	<lastBuildDate>Sun, 26 Jul 2020 22:18:08 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.5</generator>

<image>
	<url>https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/19004744/fetchfit-logo-100x100.png</url>
	<title>Spiritual Fitness &#8211; FetchFit</title>
	<link>http://fetchfitlife.com/</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Breaking Free From The Comparison Trap</title>
		<link>https://fetchfitlife.com/2019/05/08/breaking-free-from-the-comparison-trap/</link>
		<comments>https://fetchfitlife.com/2019/05/08/breaking-free-from-the-comparison-trap/#respond</comments>
		<pubDate>Wed, 08 May 2019 09:00:52 +0000</pubDate>
		<dc:creator><![CDATA[Quinn Barefoot]]></dc:creator>
				<category><![CDATA[Fitness]]></category>
		<category><![CDATA[Spiritual Fitness]]></category>

		<guid isPermaLink="false">https://www.fetchfitlife.com/?p=577</guid>
		<description><![CDATA[As I scroll through my Instagram feed I see so many of my friends talking about about how great their day is going, how amazing they felt after an incredible workout, and one even shared a picture of that cool new place they tried for lunch today. &#160; Wow, they seem to be doing well. It looks like they have their lives together. I should really start trying to live like that. &#160; I keep scrolling and see images of celebrities I follow just hanging out and “living the life” with all of their fellow rich, talented, and drop-dead gorgeous friends. &#160; How much better would life be if I could have what they have or look how they look? &#160; And that’s where I catch myself and realize that I’ve fallen into the comparison trap once again. I look up from my phone and take a minute to reflect on what I just saw. Next I think about how silly those little thoughts were… I know they aren’t the slightest bit true, but is that really how I feel? I know people hardly post the raw, real details of life on social media. They never say anything about how [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><span style="font-weight: 400;">As I scroll through my Instagram feed I see so many of my friends talking about about how great their day is going, how amazing they felt after an incredible workout, and one even shared a picture of that cool new place they tried for lunch today. </span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">Wow, they seem to be doing well. It looks like they have their lives together. I should really start trying to live like that.</span></i></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">I keep scrolling and see images of celebrities I follow just hanging out and “living the life” with all of their fellow rich, talented, and drop-dead gorgeous friends.</span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">How much better would life be if I could have what they have or look how they look? </span></i></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">And that’s where I catch myself and realize that I’ve fallen into the comparison trap once again. I look up from my phone and take a minute to reflect on what I just saw. Next I think about how silly those little thoughts were… I know they aren’t the slightest bit true, but is that really how I feel? I know people hardly post the raw, real details of life on social media. They never say anything about how they’ve been fighting with their husband, how they just gained 5 pounds, and they would never dare to mention anything regarding their financial struggles.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">But the scary thing is that I often don’t catch myself before falling into the comparison trap. I see these amazing pictures and videos, read all of the well thought out captions, and listen to the little lies that tell me how much better off I’d be if I could just have what they have, look how they look, and be loved like they’re loved. </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">The comparison trap is something that affects most of us in some way or another. It’s human nature to believe that the grass is greener on the other side, we all do it. However, the scariest thing I’ve noticed is that social media has transformed our desires from keeping up with the Joneses into keeping up with the Kardashians.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">So what would it look like if we were to realize the truth and know that our lives are so much more than those perfectly posed, ultra edited pictures we put out on social media? Well, I think it would truly change the way we live.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">When we are finally able to step back and look at the bigger picture we not only realize how social media is deceitful, but we also see just how irrelevant those things we think will make us happy really are. Like, think about it, will owning a new pair of jeans like that pretty model has on really make your day better? Will being able to capture a cool picture of a sunset fulfil your life’s calling? Will having a nicely decorated home like your friend has really fill that void inside of you? </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Don’t you see how putting everything into perspective really makes what we think we want in life sound so silly? We all have a void in our hearts that we long to fill, and even though none of these earthly desires will quench our thirst for purpose, there is something that will: Christ.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">If you are found in Christ you know that there is so much more to life than these petty, silly things we think we need. Don’t get me wrong, I’m constantly catching myself trying to fill up my life with these empty promises, but recently I’ve been reminded of God’s truth and how he wants me to live. The first thing I’ve learned is that it’s not just about what we do, but it’s about the condition of hearts. </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">There are so many different factors behind each of our desires and actions. For example, I want my hair to look good in a picture that I post on Instagram so that others will see it and give me compliments. Yes, compliments sound nice, but why do I want them? Well, I want compliments because I want to feel like I’m good at something, I want to feel like I’ve made an achievement, I want to feel loved, and I want to be noticed… so I post a picture of myself where I think my hair looks good.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Instead of going through this whole ordeal, I have to remember that my identity is not found in any of these things, but instead it is found in Christ. My thinking should go something like this instead: I am loved by God and I am his child. My hope is in Christ and I don’t need the approval from people in this world, especially not my Instagram followers. God will be the one who fills me with peace, joy, and hope, nothing else will ever be able to compare to what God can give me.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Have you found yourself in the comparison trap recently? Below are some of my favorite Bible verses that remind me where my identity and purpose is truly found. I hope that these truths can also help you to break free from the comparison trap today.</span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">“For we know that our old self was crucified with him so that the body ruled by sin might be done away with, that we should no longer be slaves to sin— because anyone who has died has been set free from sin.”</span></i></p>
<p><span style="font-weight: 400;">Romans 6:6-7</span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">“Before I formed you in the womb I knew you, before you were born I set you apart; I appointed you as a prophet to the nations.”</span></i></p>
<p><span style="font-weight: 400;">Jeremiah 1:5</span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">“But you are a chosen people, a royal priesthood, a holy nation, God’s special possession, that you may declare the praises of him who called you out of darkness into his wonderful light.”</span></i></p>
<p><span style="font-weight: 400;">1 Peter 2:9</span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">“Do you not know that your bodies are temples of the Holy Spirit, who is in you, whom you have received from God? You are not your own; you were bought at a price. Therefore honor God with your bodies.”</span></i></p>
<p><span style="font-weight: 400;">1 Corinthians 6:19-20</span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">“See what great love the Father has lavished on us, that we should be called children of God! And that is what we are! The reason the world does not know us is that it did not know him.”</span></i></p>
<p><span style="font-weight: 400;">1 John 3:1</span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">What are some of your favorite Bible verses? Let us know in the comments section!</span></i></p>
]]></content:encoded>
			<wfw:commentRss>https://fetchfitlife.com/2019/05/08/breaking-free-from-the-comparison-trap/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>When All You Have Still Isn’t Enough</title>
		<link>https://fetchfitlife.com/2019/02/13/when-all-you-have-still-isnt-enough/</link>
		<comments>https://fetchfitlife.com/2019/02/13/when-all-you-have-still-isnt-enough/#respond</comments>
		<pubDate>Wed, 13 Feb 2019 11:00:27 +0000</pubDate>
		<dc:creator><![CDATA[Quinn Barefoot]]></dc:creator>
				<category><![CDATA[Fitness]]></category>
		<category><![CDATA[Spiritual Fitness]]></category>

		<guid isPermaLink="false">https://www.fetchfitlife.com/?p=649</guid>
		<description><![CDATA[If at first you don&#8217;t succeed, try, try, try again. &#160; But what if you’ve tried? What if you’ve really tried, tried, and tried again? And then you try 100 more times and still aren’t any closer to succeeding? You keep trying, keep failing, and now the discouragement is setting in. &#160; I’ve tried so hard. I’ve literally done everything I can. Why is it still not enough? &#160; Maybe you’ve been trying to eat better and work out everyday but still aren’t seeing the fruits of your labor reflected on the scale. Or maybe you are working as hard as you possibly can at your job but all of those extra hours go unnoticed and you still get laid off. Or are you the woman who’s been doing everything in your power to save your marriage but still aren’t seeing any progress? You pray over your children everyday but get a call from their school about something police found in their locker. You take care of your health and see a doctor regularly, but then they diagnose you with cancer. You work hard to save up money but then your car breaks down and you’re forced to liquidate everything [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><i><span style="font-weight: 400;">If at first you don&#8217;t succeed, try, try, try again. </span></i></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">But what if you’ve tried? What if you’ve really tried, tried, and tried again? And then you try 100 more times and still aren’t any closer to succeeding? You keep trying, keep failing, and now the discouragement is setting in. </span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">I’ve tried so hard. I’ve literally done everything I can. Why is it still not enough? </span></i></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Maybe you’ve been trying to eat better and work out everyday but still aren’t seeing the fruits of your labor reflected on the scale. Or maybe you are working as hard as you possibly can at your job but all of those extra hours go unnoticed and you still get laid off. Or are you the woman who’s been doing everything in your power to save your marriage but still aren’t seeing any progress? You pray over your children everyday but get a call from their school about something police found in their locker. You take care of your health and see a doctor regularly, but then they diagnose you with cancer. You work hard to save up money but then your car breaks down and you’re forced to liquidate everything you’ve worked so hard for… and the list goes on. You work, you try, you fail. Over and over again.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Whatever it is you’re working at, you give it everything you have. But, in the end, it’s still not enough. I’m sorry to be the one to tell you this, but you have no control. There is nothing you can do. </span></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Nothing. Nada. Zip. </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">But there is someone who does have control. And let me tell you, what He has planned for you is so much better&#8230; it just takes patience and trust on your part. </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">I’ve found myself stuck so many times in my life. Recently I’ve been stuck in a situation where I’ve tried literally everything to solve my problems and the circumstances still remained the same. But, low and behold, God has been using this season of despair to take the attention off of what’s been happening in my life and instead putting the focus on the condition of my heart. </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Just two months ago I felt like I was all set. I had been working so hard at my job and my husband and I had saved up as much as we could to buy our first home. We found the most beautiful plot of land, picked out all our finishes, and even put down a builder deposit. We worked so hard for this moment, and we were beyond excited to see our home be built from the ground up. We checked in on the house several times a week, driving through the development and getting more and more excited everytime we saw progress being made. One day we drove by and the house was officially framed, so we got out of the car and walked in. I stood in what would soon be the living room and started planning out where we would put our furniture, what we would hang on the walls, and I even found the perfect spot for our Christmas tree. We walked out of the house and drove back to our rental home, counting down the days until we would officially be able to pack up and move onto this new stage of life, this new stage that we’d both worked so hard for.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">And then, of course, everything came crashing down. I lost my job suddenly. Everything I had worked so hard for was just stripped away. I had no guarantee of income, no security for the future, and no possible means of securing a mortgage for the home we planned on moving into in just two more short months. </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">I was absolutely crushed. I felt as if I had done everything I could, but that still wasn’t enough, and now my husband had to work twice as hard to keep us afloat as I scrambled to find something to bring in income. Something to fill my time with. Something that would give me purpose. </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">But that’s when God revealed the biggest truth to me: the crooked condition of my heart. I worked, I had plans, I had dreams, but what I failed to realize is that these were all mine, not God’s. And, boy oh boy, did God let me know that.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">I was a mess, but it was the most beautiful kind of mess I’d ever been. I could no longer rely on myself or what I could do, instead I had to trust fully on God. And you know what happened when I did? It all started coming together perfectly.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">God provided. He provided in amazing ways that I can’t even begin to explain. I still don’t have a guarantee of what my life will look like next month, but do any of us really? God took this brokenness to remind me that He is the only one who dictates my future, and it’s at the point where I am more at peace now even though I don’t know what the future looks like then when I had everything planned out. </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Now, that’s grace. </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Are you stuck today? Have you found that you’re caught up in that vicious cycle of trying and failing? It’s time to give it up. It’s time to surrender. It’s time to stop relying on yourself and put every ounce of your trust in the Lord. </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">There is so much more I can say about surrendering, but the Bible puts it more beautifully than I ever could. I pray that you are encouraged by all God promises us in these verses below:</span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">“Trust in the LORD with all your heart and lean not on your own understanding; in all your ways submit to him, and he will make your paths straight.</span></i><span style="font-weight: 400;">” -Proverbs 3:5-6</span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">“being confident of this, that he who began a good work in you will carry it on to completion until the day of Christ Jesus.” &#8211;</span></i><span style="font-weight: 400;">Philippians 1:6 NIV</span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">“Now listen, you who say, ‘Today or tomorrow we will go to this or that city, spend a year there, carry on business and make money.’ Why, you do not even know what will happen tomorrow. What is your life? You are a mist that appears for a little while and then vanishes. Instead, you ought to say, ‘If it is the Lord’s will, we will live and do this or that.’”</span></i><span style="font-weight: 400;"> -James 4:13-15</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">And my all time favorite:</span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">“Therefore I tell you, do not worry about your life, what you will eat or drink; or about your body, what you will wear. Is not life more than food, and the body more than clothes? Look at the birds of the air; they do not sow or reap or store away in barns, and yet your heavenly Father feeds them. Are you not much more valuable than they? Can any one of you by worrying add a single hour to your life? And why do you worry about clothes? See how the flowers of the field grow. They do not labor or spin. Yet I tell you that not even Solomon in all his splendor was dressed like one of these. If that is how God clothes the grass of the field, which is here today and tomorrow is thrown into the fire, will he not much more clothe you—you of little faith? So do not worry, saying, ‘What shall we eat?’ or ‘What shall we drink?’ or ‘What shall we wear?’ For the pagans run after all these things, and your heavenly Father knows that you need them. But seek first his kingdom and his righteousness, and all these things will be given to you as well. Therefore do not worry about tomorrow, for tomorrow will worry about itself. Each day has enough trouble of its own.”</span></i><span style="font-weight: 400;"> -Matthew 6:25-34</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">So, would you join me at the cross today? It’s time to get on our knees and ask God to pick us back up.</span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">Were you encouraged by this story? We would love to pray for you! Please leave us a comment or send us a message with any prayer requests you have. </span></i></p>
]]></content:encoded>
			<wfw:commentRss>https://fetchfitlife.com/2019/02/13/when-all-you-have-still-isnt-enough/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Welcome to FetchFit!</title>
		<link>https://fetchfitlife.com/2018/09/18/welcome-to-fetchfit/</link>
		<comments>https://fetchfitlife.com/2018/09/18/welcome-to-fetchfit/#respond</comments>
		<pubDate>Tue, 18 Sep 2018 09:00:37 +0000</pubDate>
		<dc:creator><![CDATA[Lauren Henderson]]></dc:creator>
				<category><![CDATA[Fitness]]></category>
		<category><![CDATA[Pet Lifestyle]]></category>
		<category><![CDATA[Physical Fitness]]></category>
		<category><![CDATA[Spiritual Fitness]]></category>

		<guid isPermaLink="false">https://www.fetchfitlife.com/?p=38</guid>
		<description><![CDATA[Welcome! &#160; Our goal here at FetchFit is to create a strong community of like-minded women who highly value their health and happiness. We believe in the importance of nurturing our bodies in a healthy way by eating clean, working out, and challenging ourselves both mentally and physically. Society has plenty of things to say about us, but we want to seek out the real truth. We are determined to focus on the things in life that hold the most value and therefore create healthy habits and develop a positive body image. &#160; We believe that God has created all women beautifully even though each of us has a unique body type, shape, and appearance. No matter what kind of body we have, we are all children of God and therefore have been specifically created in His image for His divine purpose. We know every woman is beautiful and that each one of us is deeply loved by Him. &#160; We invite you, the FetchFit community, to join us in our adventure! And, don’t forget to bring along your furry companion if you have one. We want to be an encouraging, safe place for all women to develop a biblical [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><span style="font-weight: 400;">Welcome!</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Our goal here at FetchFit is to create a strong community of like-minded women who highly value their health and happiness. We believe in the importance of nurturing our bodies in a healthy way by eating clean, working out, and challenging ourselves both mentally and physically. Society has plenty of things to say about us, but we want to seek out the real truth. We are determined to focus on the things in life that hold the most value and therefore create healthy habits and develop a positive body image.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">We believe that God has created all women beautifully even though each of us has a unique body type, shape, and appearance. No matter what kind of body we have, we are all children of God and therefore have been specifically created in His image for His divine purpose. We know every woman is beautiful and that each one of us is deeply loved by Him.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">We invite you, the FetchFit community, to join us in our adventure! And, don’t forget to bring along your furry companion if you have one. We want to be an encouraging, safe place for all women to develop a biblical perspective on health and fitness, while at the same time bonding with your favorite furkid(s)!</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Companionship with dogs is something near and dear to our hearts. Personally, I have grown up with dogs all my life and couldn’t wait to get my own dog as soon as I moved out on my own. My two border collies, who I loving call my “furkids”, have always been a physical (and fluffy) comfort to me throughout even during my darkest times. They provide  me with comfort and unbiased listening ears. Even though they may not understand everything I tell them, they are my confidants. My furkids help keep me active, positive, and it fills me with joy everytime I wake up to their cold wet noses and sloppy puppy kisses.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Even if you aren’t a dog mom, I believe that you can benefit greatly from what we have to say here. We may not have everything figured out, but I hope that you will join us on our journey to a healthier lifestyle while remaining both positive and realistic. Our bodies are temples, so if we don’t treat them with the respect they need, then how are we supposed to honor God or do His work well?</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">We are here to share helpful articles, workouts, and information on dog lifestyle related topics with our readers. We believe it’s so important to be spiritually fit and become strong women of God, not only physically, but in our hearts as well. Even if you are not a follower of Christ, we want to welcome you with open arms. We are not here to judge or shove anything in your face. We are all on our own journeys, and no one here is “perfect” or “has it all together”. If you ever have any questions, please don’t hesitate to contact us! We want to be here for each one of you and will try our best to answer everything honestly and truthfully.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Thank you for taking the time to visit us. We look forward to continuing our journey to a fitter lifestyle with you!</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Lauren Henderson</span></p>
<p><span style="font-weight: 400;">Founder of FetchFit</span></p>
<p>&nbsp;</p>
]]></content:encoded>
			<wfw:commentRss>https://fetchfitlife.com/2018/09/18/welcome-to-fetchfit/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Seeing God In The Ordinary</title>
		<link>https://fetchfitlife.com/2018/07/16/seeing-god-in-the-ordinary/</link>
		<comments>https://fetchfitlife.com/2018/07/16/seeing-god-in-the-ordinary/#respond</comments>
		<pubDate>Mon, 16 Jul 2018 04:50:40 +0000</pubDate>
		<dc:creator><![CDATA[Quinn Barefoot]]></dc:creator>
				<category><![CDATA[Fitness]]></category>
		<category><![CDATA[Spiritual Fitness]]></category>

		<guid isPermaLink="false">https://www.fetchfitlife.com/?p=330</guid>
		<description><![CDATA[&#160; This morning I woke up with a long list of things I wanted to get done. First on the list: start the coffee pot. Ok, I did that, now it’s time to do my daily Bible reading and journaling. A few minutes later I close my journal and feel refreshed. I pause, take a second to send a quick prayer up to God and ask that He would reveal more about His character to me today. I’m about to say “amen” and move on to the next thing when I get a quick idea for another prayer. “God, help me to see you in even the most ordinary of things.” &#160; I turn on the TV and begin writing when I suddenly remember I have to call the doctor to make an appointment. 10 minutes later I hang up the phone, write down my appointment time, and cross that item off my to do list. I look at the clock and realize that’s it’s time for a morning run. While I’m running, I compile a mental list of everything else I want to do and figure out the timing of my day. &#160; If I’m home by 10, I [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>&nbsp;</p>
<p><span style="font-weight: 400;">This morning I woke up with a long list of things I wanted to get done. First on the list: start the coffee pot. Ok, I did that, now it’s time to do my daily Bible reading and journaling. A few minutes later I close my journal and feel refreshed. I pause, take a second to send a quick prayer up to God and ask that He would reveal more about His character to me today. I’m about to say “amen” and move on to the next thing when I get a quick idea for another prayer. </span><i><span style="font-weight: 400;">“God, help me to see you in even the most ordinary of things.”</span></i></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">I turn on the TV and begin writing when I suddenly remember I have to call the doctor to make an appointment. 10 minutes later I hang up the phone, write down my appointment time, and cross that item off my to do list. I look at the clock and realize that’s it’s time for a morning run. While I’m running, I compile a mental list of everything else I want to do and figure out the timing of my day.</span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">If I’m home by 10, I can stretch and cool down by 10:15, then I can get back to writing. I’ll leave the house around 11 and head to my dog walking gig, and then I’ll get home before 12.</span></i></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Before I know it, I’m planning out what I’ll eat for lunch, how long it’ll take me to eat it, and how much time I have left for the other tasks I want to do before my husband gets home.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">I finish stretching and walk over to the backdoor to let Meeka inside. I see her sitting there looking out toward the neighbor’s fence. I watch as her humongous ears stand up straight, then they gently pull back as she lets the wind blow across her nose. Each ear then changes position, sometimes they both move at once, sometimes she moves them forward and back one at a time. I call them her “antena ears” because they move and point toward whatever she hears around her. </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">I reach toward the handle to let her in, knowing that the sound of the door will catch her attention. I also know that when I do this, she will look back at me with those puppy dog eyes that’ll just beg me to let her stay outside a little while longer. My hand is about to slide the door open, but then I stop. For some reason or another, I decide not to open the door and distract her. Instead, I just keep watching.</span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">How is it that Meeka can just sit there and stare at nothing for hours? And how in the world can that be her favorite thing to do?</span></i></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">At that moment I recall the prayer I said just a few hours ago: </span><i><span style="font-weight: 400;">“God, help me to see you in even the most ordinary of things.”</span></i></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Meeka is part of God’s creation, sitting there and just taking in the rest of the world. She’s enjoying the sunshine, letting the breeze blow her fur around, and raising her snout up into the air to take in the smell of our neighbor’s freshly cut grass. It’s such a simple thing to see, something I see her do almost everyday, but this time I stopped and noticed.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">I finally opened the door and Meeka did exactly what I thought she would. She looked back at me with a gaze that begged “just a few more more minutes, mom, please?” And instead of calling her back in so that I could move ahead to the next thing on my list, I take a step outside and walk over to where she was sitting in the grass. I squat down next to Meeka and follow her gaze, realizing that she’s observing a little bird hopping around a dandelion that had just sprung up. Immediately one of my favorite Bible passages comes to mind:</span></p>
<p>&nbsp;</p>
<blockquote><p><i><span style="font-weight: 400;">“Therefore I tell you, do not worry about your life, what you will eat or drink; or about your body, what you will wear. Is not life more than food, and the body more than clothes? Look at the birds of the air; they do not sow or reap or store away in barns, and yet your heavenly Father feeds them. Are you not much more valuable than they? Can any one of you by worrying add a single hour to your life? And why do you worry about clothes? See how the flowers of the field grow. They do not labor or spin. Yet I tell you that not even Solomon in all his splendor was dressed like one of these. If that is how God clothes the grass of the field, which is here today and tomorrow is thrown into the fire, will he not much more clothe you—you of little faith? So do not worry, saying, ‘What shall we eat?’ or ‘What shall we drink?’ or ‘What shall we wear?’ For the pagans run after all these things, and your heavenly Father knows that you need them. But seek first his kingdom and his righteousness, and all these things will be given to you as well. Therefore do not worry about tomorrow, for tomorrow will worry about itself. Each day has enough trouble of its own.</span></i><span style="font-weight: 400;">” -Matthew 6:25-34</span></p></blockquote>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Once again, I am stunned by what God is teaching me: He created everything and is in everything. He provides. He holds my future. And, most importantly, He loves me.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Are busy jumping from one to-do list to the next? Have you found yourself filling your mind with tasks and goals that you’ve created for yourself? </span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">I need to work at least 10 hours today to earn enough so I can pay rent, I can’t go to Church group today.</span></i></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">I need to clean up the house this afternoon, I can’t invite my neighbor over to chat, there’s simply no time and it’ll create an even bigger mess.</span></i></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">I can’t call my parents today, I’ll be stuck on the phone with them for too long, I have more pressing matters to deal with.</span></i></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Let me ask you something: who is making the plans in your life? Are you clinging on tightly to the things you believe will give your future security or comfort? I know I sure have. But you know what? You don’t need to do that! God takes care of the birds even though they don’t sow, reap, or store away in barns. Remember how that dandelion spring up in my backyard? Well, it didn’t have to labor or spin, it just sprouted up. And still, we are told that not even a rich king like Solomon was dressed as beautifully as these simple plants. And take Meeka for example, she doesn’t worry about anything, instead she takes life as it comes and enjoys every moment of it that she can.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Today, take time to stop and observe the goodness of our creator, our father, our Lord. You don’t have to look hard to find Him. In fact, He can be found in even the most ordinary of things.</span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">Were you encouraged by this post? We would love to learn more about what God is teaching you! Please comment below or send us a message for a chance to be featured. Also, please let us know if you have any prayer requests, we’d love to lift them up to God!</span></i></p>
]]></content:encoded>
			<wfw:commentRss>https://fetchfitlife.com/2018/07/16/seeing-god-in-the-ordinary/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
