<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>FetchFit</title>
	<atom:link href="https://fetchfitlife.com/feed/" rel="self" type="application/rss+xml" />
	<link>http://fetchfitlife.com/</link>
	<description>Women&#039;s Fitness and Pet Lifestyle Blog</description>
	<lastBuildDate>Sun, 26 Jul 2020 22:18:08 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.5</generator>

<image>
	<url>https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/19004744/fetchfit-logo-100x100.png</url>
	<title>FetchFit</title>
	<link>http://fetchfitlife.com/</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>How To Plan A Safe and Pawsome Road Trip With Your Dog</title>
		<link>https://fetchfitlife.com/2019/06/25/how-to-plan-a-safe-and-pawsome-road-trip-with-your-dog/</link>
		<comments>https://fetchfitlife.com/2019/06/25/how-to-plan-a-safe-and-pawsome-road-trip-with-your-dog/#respond</comments>
		<pubDate>Tue, 25 Jun 2019 16:30:54 +0000</pubDate>
		<dc:creator><![CDATA[Quinn Barefoot]]></dc:creator>
				<category><![CDATA[Pet Lifestyle]]></category>
		<category><![CDATA[Tips & Tricks]]></category>
		<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://www.fetchfitlife.com/?p=423</guid>
		<description><![CDATA[&#160; How many of you have a countdown until your next vacation? I know for me as soon as I book my trip I go find a calendar and count how many days I have to wait until my getaway (right now it’s 25!). &#160; But you know who else really needs a vacation? Your dog! I mean, that life of chewing toys, eating treats, and late night snuggles can get pretty exhausting! My husband and I love to take our dog along with us on trips whenever we can. Meeka is always up for new places to run, food to try, and people to sniff! &#160; However, traveling with a dog has its challenges, that’s why it’s oh-so important to plan ahead so you can make sure your best friend is as safe and content as possible. To ensure everyone’s fun and well being on vacation, take a look at the following DO’s and DON’Ts for planning a safe road trip with your dog: &#160; 1. Health and Safety &#160; DO bring their vet and vaccination records, DON’T assume everything will go according to plan: You know what they say, it’s better to be safe than sorry! Please please [&#8230;]]]></description>
				<content:encoded><![CDATA[<div id="attachment_424" style="width: 1930px" class="wp-caption aligncenter"><img class="wp-image-424 size-full" src="https://www.fetchfitlife.com/wp-content/uploads/2018/07/dogtrip_1_ds.jpg" alt="" width="1920" height="1280" srcset="https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/19181344/dogtrip_1_ds.jpg 1920w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/19181344/dogtrip_1_ds-600x400.jpg 600w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/19181344/dogtrip_1_ds-300x200.jpg 300w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/19181344/dogtrip_1_ds-768x512.jpg 768w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/19181344/dogtrip_1_ds-1170x780.jpg 1170w" sizes="(max-width: 1920px) 100vw, 1920px" /><p class="wp-caption-text">Lauren&#8217;s Pups, Cassie and Finn are ready to hit the road!</p></div>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">How many of you have a countdown until your next vacation? I know for me as soon as I book my trip I go find a calendar and count how many days I have to wait until my getaway (right now it’s 25!).</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">But you know who else really needs a vacation? Your dog! I mean, that life of chewing toys, eating treats, and late night snuggles can get pretty exhausting! My husband and I love to take our dog along with us on trips whenever we can. Meeka is always up for new places to run, food to try, and people to sniff!</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">However, traveling with a dog has its challenges, that’s why it’s oh-so important to plan ahead so you can make sure your best friend is as safe and content as possible. To ensure everyone’s fun and well being on vacation, take a look at the following DO’s and DON’Ts for planning a safe road trip with your dog:</span></p>
<p>&nbsp;</p>
<h2><b>1. Health and Safety</b></h2>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">DO bring their vet and vaccination records, DON’T assume everything will go according to plan:</span></i><span style="font-weight: 400;"> You know what they say, it’s better to be safe than sorry! Please please please make sure to pack a copy of your pet’s vaccination records and any other medical paperwork that would be helpful in case of an emergency. No one ever wants to make a trip to the emergency vet, especially when you are far away from home. However, heaven forbid something were to happen, having these papers readily on hand will make the process so much easier and more efficient, giving everyone more peace of mind while you adventure with your four-legged friend.</span></p>
<p>&nbsp;</p>
<h2><b>2. The Essentials</b></h2>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">DO bring plenty of water, treats, and your pet’s normal food, DON’T plan on buying food at your destination or only getting water during restroom breaks:</span></i><span style="font-weight: 400;"> Food and water is important for us, and it’s just as, if not more, important for your furry road trip buddy! Make sure to pack a few water bottles and a collapsible bowl (I recommend the</span><a href="https://www.amazon.com/COMSUN-Collapsible-Silicone-Expandable-Carabiner/dp/B019B53YVQ/ref=sr_1_5?ie=UTF8&amp;qid=1530621127&amp;sr=8-5&amp;keywords=portable+dog+bowl" target="_blank" rel="noopener"><span style="font-weight: 400;"> COMSUN Collapsible Dog Bowl</span></a><span style="font-weight: 400;">), especially if you’re making this trip during one of those scorching summer months. It’s important for your pup to stay hydrated, and a collapsible bowl keeps everything neat and compact… it’s a road trip essential! Not only that, but pack a large supply of your dog’s food for the trip. You want them to have their own normal food to eat, and you never know if the stores where you are travelling to will have it in stock. Pack enough for a few extra days just in case there are any spills, travel delays, or especially hungry pups! Also, make sure to keep some mess-free treats in the car in case you get stuck in traffic and your dog’s stomach starts to growl… nobody likes to ride with a &#8220;hangry&#8221; passenger!</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">And just in case your dog makes a mess with food, water, or accidents (car sickness or inability to hold it until the next rest stop), pack a roll of paper towels or a pack of wipes. Keeping their area as clean as possible will help them relax and enjoy the ride!</span></p>
<p>&nbsp;</p>
<h2><b>3. A Place to Snooze</b></h2>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">DO bring your dog’s bed or a familiar pillow, DON’T plan on your dog sleeping through the night in an unfamiliar place:</span></i><span style="font-weight: 400;"> It’s hard for me to sleep through the night in a new place, and it’s also hard for Meeka! We always make sure to pack her bed so that she has somewhere she knows is safe to lay down at night. If your dog’s bed is too big or not able to be packed up into the car, bring a pillow or some sort of cushion that has a familiar scent for your pooch to cuddle up with at night. Having this sense of familiarity will hopefully help to take the edge off and allow them settle down so they can get a good night&#8217;s rest. More sleep equals more energy for fun adventures!</span></p>
<p>&nbsp;</p>
<h2><b>4. Secure Gear and Planning Ahead</b></h2>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">DO ensure your dog has a secure collar, leash and tags, DON’T assume you won’t need to make any stops or that your pup will stay by your side: </span></i><span style="font-weight: 400;">Having your dog run away is every pet parent’s worst nightmare… so let’s take every precaution we can so it won’t happen! Travelling is fun, but it can also be extremely stressful for your dog. Make sure they are wearing a secure collar with tags that have your name and phone number on them. Any time you stop for a bathroom break, make sure to attach the leash to their collar securely before you even open the door. Being in a strange place with tons of cars whizzing by can give your dog a lot of anxiety and may cause them to want to dart off, so keep a tight grip on them. If they seem to be in distress, reassure them with a kind tone that everything is ok and to get their business done! And, if you are able to, plan out a few stops along the way at rest areas that are quieter and have enough grass for your buddy to stretch their legs. If you aren’t in a rush, try stopping at a park halfway through the drive. Go for quick walk so that you and your pup get enough exercise for the day. Who knows, maybe a little walk is just what they need to help them snooze the rest of the way!</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">And just like we need seatbelts, your dog also needs one! Make sure to invest in a </span><a href="https://www.amazon.com/Pawaboo-Safety-Harness-Adjustable-Suitable/dp/B01KNULPO6/ref=sr_1_6?s=pet-supplies&amp;ie=UTF8&amp;qid=1530625872&amp;sr=1-6&amp;keywords=dog+seat+belt" target="_blank" rel="noopener"><span style="font-weight: 400;">dog safety harness </span></a><span style="font-weight: 400;">for the car to ensure their safety!</span></p>
<p>&nbsp;</p>
<h2><b>5. Entertainment</b></h2>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">DO pack a few toys or a bone to chew on, DON’T assume they won’t get bored during the car ride:</span></i><span style="font-weight: 400;"> It is a good idea to pack a few toys that will keep your dog busy during a long trip. If your pup is getting bored or antsy, try hiding a few treats inside their </span><a href="https://www.amazon.com/KONG-Classic-Dog-Toy-Large/dp/B0002AR0I8/ref=sr_1_2?s=pet-supplies&amp;ie=UTF8&amp;qid=1530622611&amp;sr=1-2&amp;keywords=kong" target="_blank" rel="noopener"><span style="font-weight: 400;">Kong</span></a><span style="font-weight: 400;"> or a puzzle toy. If they’ve been an extra good boy or girl, give them a nice big bone to chew on (Meeka loves antlers, and they don’t make a mess!). Keeping your dog entertained will ensure you have a more pleasant car ride and help prevent them from finding something more destructive to do (like chewing through seat belts… that’s no fun to discover!).</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Happy travels!</span></p>
<p>&nbsp;</p>
<p><a href="https://www.fetchfitlife.com/2019/06/25/how-to-plan-a-safe-and-pawsome-road-trip-with-your-dog/ff_dogroadtripchecklist/" rel="attachment wp-att-937">Printable &#8211; Road Trip Checklist for Your Dog!</a></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">Where do you like to travel with your dog? What do you find is helpful for long car rides? Let us know for a chance to be featured!</span></i></p>
]]></content:encoded>
			<wfw:commentRss>https://fetchfitlife.com/2019/06/25/how-to-plan-a-safe-and-pawsome-road-trip-with-your-dog/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Breaking Free From The Comparison Trap</title>
		<link>https://fetchfitlife.com/2019/05/08/breaking-free-from-the-comparison-trap/</link>
		<comments>https://fetchfitlife.com/2019/05/08/breaking-free-from-the-comparison-trap/#respond</comments>
		<pubDate>Wed, 08 May 2019 09:00:52 +0000</pubDate>
		<dc:creator><![CDATA[Quinn Barefoot]]></dc:creator>
				<category><![CDATA[Fitness]]></category>
		<category><![CDATA[Spiritual Fitness]]></category>

		<guid isPermaLink="false">https://www.fetchfitlife.com/?p=577</guid>
		<description><![CDATA[As I scroll through my Instagram feed I see so many of my friends talking about about how great their day is going, how amazing they felt after an incredible workout, and one even shared a picture of that cool new place they tried for lunch today. &#160; Wow, they seem to be doing well. It looks like they have their lives together. I should really start trying to live like that. &#160; I keep scrolling and see images of celebrities I follow just hanging out and “living the life” with all of their fellow rich, talented, and drop-dead gorgeous friends. &#160; How much better would life be if I could have what they have or look how they look? &#160; And that’s where I catch myself and realize that I’ve fallen into the comparison trap once again. I look up from my phone and take a minute to reflect on what I just saw. Next I think about how silly those little thoughts were… I know they aren’t the slightest bit true, but is that really how I feel? I know people hardly post the raw, real details of life on social media. They never say anything about how [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><span style="font-weight: 400;">As I scroll through my Instagram feed I see so many of my friends talking about about how great their day is going, how amazing they felt after an incredible workout, and one even shared a picture of that cool new place they tried for lunch today. </span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">Wow, they seem to be doing well. It looks like they have their lives together. I should really start trying to live like that.</span></i></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">I keep scrolling and see images of celebrities I follow just hanging out and “living the life” with all of their fellow rich, talented, and drop-dead gorgeous friends.</span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">How much better would life be if I could have what they have or look how they look? </span></i></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">And that’s where I catch myself and realize that I’ve fallen into the comparison trap once again. I look up from my phone and take a minute to reflect on what I just saw. Next I think about how silly those little thoughts were… I know they aren’t the slightest bit true, but is that really how I feel? I know people hardly post the raw, real details of life on social media. They never say anything about how they’ve been fighting with their husband, how they just gained 5 pounds, and they would never dare to mention anything regarding their financial struggles.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">But the scary thing is that I often don’t catch myself before falling into the comparison trap. I see these amazing pictures and videos, read all of the well thought out captions, and listen to the little lies that tell me how much better off I’d be if I could just have what they have, look how they look, and be loved like they’re loved. </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">The comparison trap is something that affects most of us in some way or another. It’s human nature to believe that the grass is greener on the other side, we all do it. However, the scariest thing I’ve noticed is that social media has transformed our desires from keeping up with the Joneses into keeping up with the Kardashians.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">So what would it look like if we were to realize the truth and know that our lives are so much more than those perfectly posed, ultra edited pictures we put out on social media? Well, I think it would truly change the way we live.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">When we are finally able to step back and look at the bigger picture we not only realize how social media is deceitful, but we also see just how irrelevant those things we think will make us happy really are. Like, think about it, will owning a new pair of jeans like that pretty model has on really make your day better? Will being able to capture a cool picture of a sunset fulfil your life’s calling? Will having a nicely decorated home like your friend has really fill that void inside of you? </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Don’t you see how putting everything into perspective really makes what we think we want in life sound so silly? We all have a void in our hearts that we long to fill, and even though none of these earthly desires will quench our thirst for purpose, there is something that will: Christ.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">If you are found in Christ you know that there is so much more to life than these petty, silly things we think we need. Don’t get me wrong, I’m constantly catching myself trying to fill up my life with these empty promises, but recently I’ve been reminded of God’s truth and how he wants me to live. The first thing I’ve learned is that it’s not just about what we do, but it’s about the condition of hearts. </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">There are so many different factors behind each of our desires and actions. For example, I want my hair to look good in a picture that I post on Instagram so that others will see it and give me compliments. Yes, compliments sound nice, but why do I want them? Well, I want compliments because I want to feel like I’m good at something, I want to feel like I’ve made an achievement, I want to feel loved, and I want to be noticed… so I post a picture of myself where I think my hair looks good.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Instead of going through this whole ordeal, I have to remember that my identity is not found in any of these things, but instead it is found in Christ. My thinking should go something like this instead: I am loved by God and I am his child. My hope is in Christ and I don’t need the approval from people in this world, especially not my Instagram followers. God will be the one who fills me with peace, joy, and hope, nothing else will ever be able to compare to what God can give me.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Have you found yourself in the comparison trap recently? Below are some of my favorite Bible verses that remind me where my identity and purpose is truly found. I hope that these truths can also help you to break free from the comparison trap today.</span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">“For we know that our old self was crucified with him so that the body ruled by sin might be done away with, that we should no longer be slaves to sin— because anyone who has died has been set free from sin.”</span></i></p>
<p><span style="font-weight: 400;">Romans 6:6-7</span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">“Before I formed you in the womb I knew you, before you were born I set you apart; I appointed you as a prophet to the nations.”</span></i></p>
<p><span style="font-weight: 400;">Jeremiah 1:5</span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">“But you are a chosen people, a royal priesthood, a holy nation, God’s special possession, that you may declare the praises of him who called you out of darkness into his wonderful light.”</span></i></p>
<p><span style="font-weight: 400;">1 Peter 2:9</span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">“Do you not know that your bodies are temples of the Holy Spirit, who is in you, whom you have received from God? You are not your own; you were bought at a price. Therefore honor God with your bodies.”</span></i></p>
<p><span style="font-weight: 400;">1 Corinthians 6:19-20</span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">“See what great love the Father has lavished on us, that we should be called children of God! And that is what we are! The reason the world does not know us is that it did not know him.”</span></i></p>
<p><span style="font-weight: 400;">1 John 3:1</span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">What are some of your favorite Bible verses? Let us know in the comments section!</span></i></p>
]]></content:encoded>
			<wfw:commentRss>https://fetchfitlife.com/2019/05/08/breaking-free-from-the-comparison-trap/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Which Workout Shoes Are Right For Me?</title>
		<link>https://fetchfitlife.com/2019/03/04/which-workout-shoes-are-right-for-me/</link>
		<comments>https://fetchfitlife.com/2019/03/04/which-workout-shoes-are-right-for-me/#respond</comments>
		<pubDate>Mon, 04 Mar 2019 10:00:10 +0000</pubDate>
		<dc:creator><![CDATA[Quinn Barefoot]]></dc:creator>
				<category><![CDATA[Editor's Fitness Picks]]></category>
		<category><![CDATA[Fitness]]></category>
		<category><![CDATA[Physical Fitness]]></category>

		<guid isPermaLink="false">https://www.fetchfitlife.com/?p=586</guid>
		<description><![CDATA[It’s incredible how much our feet can do! Sure, they may not be the most attractive part of our body, but our life certainly wouldn’t be the same without them. And, that is why taking care of our feet is not only important to our fitness life, but also to our everyday health! &#160; That being said, picking out the right shoes is of the utmost importance. Not only can a good pair of shoes maximize your workout, but they can also serve to protect and cushion those precious feet of yours! You probably know that shoes can get quite pricey, but let me assure you that a good pair of workout shoes is worth the splurge. And, although you can use some shoes for various activities, if you spend a lot of time focusing on a certain sport, there are specific shoes that can help take your workout to a whole new level. &#160; Training Shoes &#160; Training shoes are the best shoes to use if you participate in various types of workouts throughout the week. These shoes are typically built for multi-directional movement and the sole is pretty flat, which allows for a wider range of motion. Training [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><span style="font-weight: 400;">It’s incredible how much our feet can do! Sure, they may not be the most attractive part of our body, but our life certainly wouldn’t be the same without them. And, that is why taking care of our feet is not only important to our fitness life, but also to our everyday health!</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">That being said, picking out the right shoes is of the utmost importance. Not only can a good pair of shoes maximize your workout, but they can also serve to protect and cushion those precious feet of yours! You probably know that shoes can get quite pricey, but let me assure you that a good pair of workout shoes is worth the splurge. And, although you can use some shoes for various activities, if you spend a lot of time focusing on a certain sport, there are specific shoes that can help take your workout to a whole new level.</span></p>
<p>&nbsp;</p>
<h2><b>Training Shoes</b></h2>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Training shoes are the best shoes to use if you participate in various types of workouts throughout the week. These shoes are typically built for multi-directional movement and the sole is pretty flat, which allows for a wider range of motion. Training shoes are a great multipurpose option that you should have in your gym bag at all times. Try <a href="https://www.amazon.com/Nike-Free-Womens-Shoes-Black-White/dp/B014GNBTJ2/ref=sr_1_8?s=apparel&amp;ie=UTF8&amp;qid=1531485906&amp;sr=1-8&amp;nodeID=7147440011&amp;psd=1&amp;keywords=training+shoes" target="_blank" rel="noopener">Nike Free TR 6</a> or <a href="https://www.amazon.com/New-Balance-Agility-Trainer-Vintage/dp/B01N77XR7Y/ref=sr_1_24?s=apparel&amp;ie=UTF8&amp;qid=1531485984&amp;sr=1-24&amp;nodeID=7147440011&amp;psd=1&amp;keywords=training+shoes" target="_blank" rel="noopener">New Balance Women’s Agility V2 Cross Trainer</a></span></p>
<div id="attachment_821" style="width: 860px" class="wp-caption aligncenter"><a href="https://www.amazon.com/Nike-Free-Womens-Shoes-Black-White/dp/B00BR7EDLM/ref=sr_1_8?s=apparel&amp;ie=UTF8&amp;qid=1531485906&amp;sr=1-8&amp;nodeID=7147440011&amp;psd=1&amp;keywords=training%2Bshoes&amp;th=1" rel="attachment wp-att-821"><img class="wp-image-821" src="https://www.fetchfitlife.com/wp-content/uploads/2018/07/NikeFreeTR6_ds.jpg" alt="" width="850" height="567" srcset="https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02233752/NikeFreeTR6_ds.jpg 1920w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02233752/NikeFreeTR6_ds-300x200.jpg 300w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02233752/NikeFreeTR6_ds-768x512.jpg 768w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02233752/NikeFreeTR6_ds-1170x780.jpg 1170w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02233752/NikeFreeTR6_ds-600x400.jpg 600w" sizes="(max-width: 850px) 100vw, 850px" /></a><p class="wp-caption-text"><a href="https://www.amazon.com/Nike-Free-Womens-Shoes-Black-White/dp/B00BR7EDLM/ref=sr_1_8?s=apparel&amp;ie=UTF8&amp;qid=1531485906&amp;sr=1-8&amp;nodeID=7147440011&amp;psd=1&amp;keywords=training%2Bshoes&amp;th=1">Womens Nike Free TR 6 Training Shoes</a></p></div>
<div id="attachment_823" style="width: 860px" class="wp-caption aligncenter"><a href="https://www.amazon.com/New-Balance-Agility-Trainer-Vintage/dp/B075R7RBQ2/ref=sr_1_24?s=apparel&amp;ie=UTF8&amp;qid=1531485984&amp;sr=1-24&amp;nodeID=7147440011&amp;psd=1&amp;keywords=training%2Bshoes&amp;th=1" rel="attachment wp-att-823"><img class="wp-image-823" src="https://www.fetchfitlife.com/wp-content/uploads/2018/07/newbalanceagilityv2cross_ds.jpg" alt="" width="850" height="567" srcset="https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02233828/newbalanceagilityv2cross_ds.jpg 1920w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02233828/newbalanceagilityv2cross_ds-300x200.jpg 300w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02233828/newbalanceagilityv2cross_ds-768x512.jpg 768w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02233828/newbalanceagilityv2cross_ds-1170x780.jpg 1170w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02233828/newbalanceagilityv2cross_ds-600x400.jpg 600w" sizes="(max-width: 850px) 100vw, 850px" /></a><p class="wp-caption-text"><a href="https://www.amazon.com/New-Balance-Agility-Trainer-Vintage/dp/B01N77XR7Y/ref=sr_1_24?s=apparel&amp;ie=UTF8&amp;qid=1531485984&amp;sr=1-24&amp;nodeID=7147440011&amp;psd=1&amp;keywords=training+shoes" target="_blank" rel="noopener"><span style="font-weight: 400;">New Balance Women&#8217;s FuelCoreAgility V2 Cross Trainer</span></a></p></div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h2><b>Crossfit Shoes</b></h2>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Yep, there’s a shoe for that! Crossfit require a lot of movement, and there have been shoes specifically designed to give your feet more stability while doing this intense workout. Crossfit shoes are designed to give you better balance and support, thus increasing your overall safety. </span></p>
<p><span style="font-weight: 400;">Reebok has a great line of Crossfit shoes, try the </span><a href="https://www.amazon.com/Reebok-Crossfit-Nano-Training-Fearless/dp/B010VBHA6Y/ref=sr_1_8?s=apparel&amp;ie=UTF8&amp;qid=1531486065&amp;sr=1-8&amp;nodeID=7147440011&amp;psd=1&amp;keywords=crossfit+shoes" target="_blank" rel="noopener"><span style="font-weight: 400;">Reebok Women&#8217;s Crossfit Nano 5.0</span></a></p>
<p>&nbsp;</p>
<div id="attachment_824" style="width: 860px" class="wp-caption aligncenter"><a href="https://www.amazon.com/Reebok-Crossfit-Nano-Training-Fearless/dp/B00TXFUTS6/ref=sr_1_8?s=apparel&amp;ie=UTF8&amp;qid=1531486065&amp;sr=1-8&amp;nodeID=7147440011&amp;psd=1&amp;keywords=crossfit%2Bshoes&amp;th=1" rel="attachment wp-att-824"><img class="wp-image-824" src="https://www.fetchfitlife.com/wp-content/uploads/2018/07/reebokcrossfitnano5_ds.jpg" alt="" width="850" height="567" srcset="https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02233906/reebokcrossfitnano5_ds.jpg 1920w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02233906/reebokcrossfitnano5_ds-300x200.jpg 300w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02233906/reebokcrossfitnano5_ds-768x512.jpg 768w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02233906/reebokcrossfitnano5_ds-1170x780.jpg 1170w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02233906/reebokcrossfitnano5_ds-600x400.jpg 600w" sizes="(max-width: 850px) 100vw, 850px" /></a><p class="wp-caption-text"><a href="https://www.amazon.com/Reebok-Crossfit-Nano-Training-Fearless/dp/B010VBHA6Y/ref=sr_1_8?s=apparel&amp;ie=UTF8&amp;qid=1531486065&amp;sr=1-8&amp;nodeID=7147440011&amp;psd=1&amp;keywords=crossfit+shoes" target="_blank" rel="noopener"><span style="font-weight: 400;">Reebok Women&#8217;s Crossfit Nano 5.0</span></a></p></div>
<p>&nbsp;</p>
<h2><b>Spinning Shoes And Cleats</b></h2>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">If spin classes are your thing, you’re going to love these! There are shoes and cleats made specifically for avid indoor cyclers like yourself. These shoes have the ability to click into the pedal of most spinning bikes, locking your feet into position and thus leading to a more effective workout. Try <a href="https://www.amazon.com/Tommaso-Pista-Womens-Class-Cycling/dp/B076TQK8ZZ/ref=sr_1_2_sspa?s=apparel&amp;ie=UTF8&amp;qid=1531487417&amp;sr=1-2-spons&amp;nodeID=7147440011&amp;psd=1&amp;keywords=spinning+shoes&amp;psc=1" target="_blank" rel="noopener">Tommaso Pista 100 Women&#8217;s Spin Class Ready Cycling Shoe with Compatible Cleat </a></span></p>
<div id="attachment_825" style="width: 860px" class="wp-caption aligncenter"><a href="https://www.amazon.com/Tommaso-Pista-Womens-Class-Cycling/dp/B079R4FRND/ref=sr_1_2_sspa?s=apparel&amp;ie=UTF8&amp;qid=1531487417&amp;sr=1-2-spons&amp;nodeID=7147440011&amp;psd=1&amp;keywords=spinning%2Bshoes&amp;th=1&amp;psc=1" rel="attachment wp-att-825"><img class="wp-image-825" src="https://www.fetchfitlife.com/wp-content/uploads/2018/07/tommasopista_ds.jpg" alt="" width="850" height="567" srcset="https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02234128/tommasopista_ds.jpg 1920w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02234128/tommasopista_ds-300x200.jpg 300w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02234128/tommasopista_ds-768x512.jpg 768w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02234128/tommasopista_ds-1170x780.jpg 1170w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02234128/tommasopista_ds-600x400.jpg 600w" sizes="(max-width: 850px) 100vw, 850px" /></a><p class="wp-caption-text"><span style="font-weight: 400;"><a href="https://www.amazon.com/Tommaso-Pista-Womens-Class-Cycling/dp/B076TQK8ZZ/ref=sr_1_2_sspa?s=apparel&amp;ie=UTF8&amp;qid=1531487417&amp;sr=1-2-spons&amp;nodeID=7147440011&amp;psd=1&amp;keywords=spinning+shoes&amp;psc=1" target="_blank" rel="noopener">Tommaso Pista 100 Women&#8217;s Spin Class Ready Cycling Shoe with Compatible Cleat </a></span></p></div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h2><b>Distance Running Shoes</b></h2>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">If you’re running miles at a time, you’re going to want to make sure your feet are in the best shoes possible! Distance running shoes are especially durable, lightweight and comfortable, making those long runs outside even more enjoyable. There are two types of distance running shoes that are each designed for different terrains: road-running and trail-running. Consider what types of runs you do more often and research shoes accordingly. Brooks and Asics make some of the best running shoes. Try <a href="https://www.amazon.com/Brooks-Womens-Revel-Anthracite-Athletic/dp/B01N073AO0/ref=sr_1_10?s=apparel&amp;ie=UTF8&amp;qid=1531487523&amp;sr=1-10&amp;nodeID=7147440011&amp;psd=1&amp;keywords=distance+running+shoes" target="_blank" rel="noopener">Brooks Womens Revel</a> or <a href="https://www.amazon.com/ASICS-Womens-GT-2000-Trail-Clover/dp/B071P2Z2SB/ref=sr_1_4?s=apparel&amp;ie=UTF8&amp;qid=1531487587&amp;sr=1-4&amp;nodeID=7147440011&amp;psd=1&amp;keywords=distance+running+shoes+asics" target="_blank" rel="noopener">Asics GT-2000 6 Trail Women&#8217;s Running Shoes</a></span></p>
<div id="attachment_827" style="width: 860px" class="wp-caption aligncenter"><a href="https://www.amazon.com/Brooks-Womens-Revel-Anthracite-Athletic/dp/B01N073AO0/ref=sr_1_10?s=apparel&amp;ie=UTF8&amp;qid=1531487523&amp;sr=1-10&amp;nodeID=7147440011&amp;psd=1&amp;keywords=distance+running+shoes" rel="attachment wp-att-827"><img class="wp-image-827" src="https://www.fetchfitlife.com/wp-content/uploads/2018/07/brooksrevel_ds.jpg" alt="" width="850" height="567" srcset="https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02234332/brooksrevel_ds.jpg 1920w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02234332/brooksrevel_ds-300x200.jpg 300w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02234332/brooksrevel_ds-768x512.jpg 768w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02234332/brooksrevel_ds-1170x780.jpg 1170w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02234332/brooksrevel_ds-600x400.jpg 600w" sizes="(max-width: 850px) 100vw, 850px" /></a><p class="wp-caption-text"><a href="https://www.amazon.com/Brooks-Womens-Revel-Anthracite-Athletic/dp/B01N073AO0/ref=sr_1_10?s=apparel&amp;ie=UTF8&amp;qid=1531487523&amp;sr=1-10&amp;nodeID=7147440011&amp;psd=1&amp;keywords=distance+running+shoes" target="_blank" rel="noopener"><span style="font-weight: 400;">Brooks Womens Revel</span></a></p></div>
<p>&nbsp;</p>
<div id="attachment_826" style="width: 860px" class="wp-caption aligncenter"><a href="https://www.amazon.com/ASICS-Womens-GT-2000-Trail-Clover/dp/B071P2Z2SB/ref=sr_1_4?s=apparel&amp;ie=UTF8&amp;qid=1531487587&amp;sr=1-4&amp;nodeID=7147440011&amp;psd=1&amp;keywords=distance+running+shoes+asics" rel="attachment wp-att-826"><img class="wp-image-826" src="https://www.fetchfitlife.com/wp-content/uploads/2018/07/asicsgt_ds.jpg" alt="" width="850" height="567" srcset="https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02234327/asicsgt_ds.jpg 1920w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02234327/asicsgt_ds-300x200.jpg 300w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02234327/asicsgt_ds-768x512.jpg 768w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02234327/asicsgt_ds-1170x780.jpg 1170w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02234327/asicsgt_ds-600x400.jpg 600w" sizes="(max-width: 850px) 100vw, 850px" /></a><p class="wp-caption-text"><a href="https://www.amazon.com/ASICS-Womens-GT-2000-Trail-Clover/dp/B071P2Z2SB/ref=sr_1_4?s=apparel&amp;ie=UTF8&amp;qid=1531487587&amp;sr=1-4&amp;nodeID=7147440011&amp;psd=1&amp;keywords=distance+running+shoes+asics" target="_blank" rel="noopener"><span style="font-weight: 400;">Asics GT-2000 6 Trail Women&#8217;s Running Shoes</span></a></p></div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h2><b>Get Professional Help When Choosing Shoes</b></h2>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Employees in athletic shoe stores really do know best! And, did you know there are even some stores that can use specially designed technology to measure feet and fit you to the perfect shoe? They can measure your arch support, tell you if your feet turn in or out while walking, and even find out what part of the foot you put the most pressure on. It’s like a sporty Cinderella story! </span></p>
<p>&nbsp;</p>
<p><a href="http://stores.newbalance.com/pro_fit.aspx" target="_blank" rel="noopener"><span style="font-weight: 400;">New Balance</span></a><span style="font-weight: 400;"> is a major retailer that does a great job fitting their customers with the perfect shoe. </span><a href="https://www.fleetfeet.com/" target="_blank" rel="noopener"><span style="font-weight: 400;">Fleet Feet</span></a><span style="font-weight: 400;"> is another shop that does a great job matching your feet with the right shoes… and all of their stores are locally owned and operated!</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Remember: happy feet lead to a better workout!</span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">What is your favorite brand or type of shoe? Let us know so we can help spread the news!</span></i></p>
]]></content:encoded>
			<wfw:commentRss>https://fetchfitlife.com/2019/03/04/which-workout-shoes-are-right-for-me/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Happy Valentine&#8217;s Day!</title>
		<link>https://fetchfitlife.com/2019/02/14/happy-valentines-day/</link>
		<comments>https://fetchfitlife.com/2019/02/14/happy-valentines-day/#respond</comments>
		<pubDate>Thu, 14 Feb 2019 19:49:35 +0000</pubDate>
		<dc:creator><![CDATA[Lauren Henderson]]></dc:creator>
				<category><![CDATA[Pet Lifestyle]]></category>

		<guid isPermaLink="false">https://www.fetchfitlife.com/?p=809</guid>
		<description><![CDATA[We hope your day is full of puppy love! &#160; &#160;]]></description>
				<content:encoded><![CDATA[<h2 style="text-align: center;">We hope your day is full of puppy love!</h2>
<p>&nbsp;</p>
<p><a href="https://www.fetchfitlife.com/2019/02/14/happy-valentines-day/finn_valentines/" rel="attachment wp-att-810"><img class="aligncenter size-full wp-image-810" src="https://www.fetchfitlife.com/wp-content/uploads/2019/02/finn_valentines.jpg" alt="" width="696" height="960" srcset="https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2019/02/14144253/finn_valentines.jpg 696w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2019/02/14144253/finn_valentines-218x300.jpg 218w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2019/02/14144253/finn_valentines-600x828.jpg 600w" sizes="(max-width: 696px) 100vw, 696px" /></a></p>
<h2 style="text-align: center;"></h2>
<p>&nbsp;</p>
]]></content:encoded>
			<wfw:commentRss>https://fetchfitlife.com/2019/02/14/happy-valentines-day/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>When All You Have Still Isn’t Enough</title>
		<link>https://fetchfitlife.com/2019/02/13/when-all-you-have-still-isnt-enough/</link>
		<comments>https://fetchfitlife.com/2019/02/13/when-all-you-have-still-isnt-enough/#respond</comments>
		<pubDate>Wed, 13 Feb 2019 11:00:27 +0000</pubDate>
		<dc:creator><![CDATA[Quinn Barefoot]]></dc:creator>
				<category><![CDATA[Fitness]]></category>
		<category><![CDATA[Spiritual Fitness]]></category>

		<guid isPermaLink="false">https://www.fetchfitlife.com/?p=649</guid>
		<description><![CDATA[If at first you don&#8217;t succeed, try, try, try again. &#160; But what if you’ve tried? What if you’ve really tried, tried, and tried again? And then you try 100 more times and still aren’t any closer to succeeding? You keep trying, keep failing, and now the discouragement is setting in. &#160; I’ve tried so hard. I’ve literally done everything I can. Why is it still not enough? &#160; Maybe you’ve been trying to eat better and work out everyday but still aren’t seeing the fruits of your labor reflected on the scale. Or maybe you are working as hard as you possibly can at your job but all of those extra hours go unnoticed and you still get laid off. Or are you the woman who’s been doing everything in your power to save your marriage but still aren’t seeing any progress? You pray over your children everyday but get a call from their school about something police found in their locker. You take care of your health and see a doctor regularly, but then they diagnose you with cancer. You work hard to save up money but then your car breaks down and you’re forced to liquidate everything [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><i><span style="font-weight: 400;">If at first you don&#8217;t succeed, try, try, try again. </span></i></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">But what if you’ve tried? What if you’ve really tried, tried, and tried again? And then you try 100 more times and still aren’t any closer to succeeding? You keep trying, keep failing, and now the discouragement is setting in. </span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">I’ve tried so hard. I’ve literally done everything I can. Why is it still not enough? </span></i></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Maybe you’ve been trying to eat better and work out everyday but still aren’t seeing the fruits of your labor reflected on the scale. Or maybe you are working as hard as you possibly can at your job but all of those extra hours go unnoticed and you still get laid off. Or are you the woman who’s been doing everything in your power to save your marriage but still aren’t seeing any progress? You pray over your children everyday but get a call from their school about something police found in their locker. You take care of your health and see a doctor regularly, but then they diagnose you with cancer. You work hard to save up money but then your car breaks down and you’re forced to liquidate everything you’ve worked so hard for… and the list goes on. You work, you try, you fail. Over and over again.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Whatever it is you’re working at, you give it everything you have. But, in the end, it’s still not enough. I’m sorry to be the one to tell you this, but you have no control. There is nothing you can do. </span></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Nothing. Nada. Zip. </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">But there is someone who does have control. And let me tell you, what He has planned for you is so much better&#8230; it just takes patience and trust on your part. </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">I’ve found myself stuck so many times in my life. Recently I’ve been stuck in a situation where I’ve tried literally everything to solve my problems and the circumstances still remained the same. But, low and behold, God has been using this season of despair to take the attention off of what’s been happening in my life and instead putting the focus on the condition of my heart. </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Just two months ago I felt like I was all set. I had been working so hard at my job and my husband and I had saved up as much as we could to buy our first home. We found the most beautiful plot of land, picked out all our finishes, and even put down a builder deposit. We worked so hard for this moment, and we were beyond excited to see our home be built from the ground up. We checked in on the house several times a week, driving through the development and getting more and more excited everytime we saw progress being made. One day we drove by and the house was officially framed, so we got out of the car and walked in. I stood in what would soon be the living room and started planning out where we would put our furniture, what we would hang on the walls, and I even found the perfect spot for our Christmas tree. We walked out of the house and drove back to our rental home, counting down the days until we would officially be able to pack up and move onto this new stage of life, this new stage that we’d both worked so hard for.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">And then, of course, everything came crashing down. I lost my job suddenly. Everything I had worked so hard for was just stripped away. I had no guarantee of income, no security for the future, and no possible means of securing a mortgage for the home we planned on moving into in just two more short months. </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">I was absolutely crushed. I felt as if I had done everything I could, but that still wasn’t enough, and now my husband had to work twice as hard to keep us afloat as I scrambled to find something to bring in income. Something to fill my time with. Something that would give me purpose. </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">But that’s when God revealed the biggest truth to me: the crooked condition of my heart. I worked, I had plans, I had dreams, but what I failed to realize is that these were all mine, not God’s. And, boy oh boy, did God let me know that.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">I was a mess, but it was the most beautiful kind of mess I’d ever been. I could no longer rely on myself or what I could do, instead I had to trust fully on God. And you know what happened when I did? It all started coming together perfectly.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">God provided. He provided in amazing ways that I can’t even begin to explain. I still don’t have a guarantee of what my life will look like next month, but do any of us really? God took this brokenness to remind me that He is the only one who dictates my future, and it’s at the point where I am more at peace now even though I don’t know what the future looks like then when I had everything planned out. </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Now, that’s grace. </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Are you stuck today? Have you found that you’re caught up in that vicious cycle of trying and failing? It’s time to give it up. It’s time to surrender. It’s time to stop relying on yourself and put every ounce of your trust in the Lord. </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">There is so much more I can say about surrendering, but the Bible puts it more beautifully than I ever could. I pray that you are encouraged by all God promises us in these verses below:</span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">“Trust in the LORD with all your heart and lean not on your own understanding; in all your ways submit to him, and he will make your paths straight.</span></i><span style="font-weight: 400;">” -Proverbs 3:5-6</span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">“being confident of this, that he who began a good work in you will carry it on to completion until the day of Christ Jesus.” &#8211;</span></i><span style="font-weight: 400;">Philippians 1:6 NIV</span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">“Now listen, you who say, ‘Today or tomorrow we will go to this or that city, spend a year there, carry on business and make money.’ Why, you do not even know what will happen tomorrow. What is your life? You are a mist that appears for a little while and then vanishes. Instead, you ought to say, ‘If it is the Lord’s will, we will live and do this or that.’”</span></i><span style="font-weight: 400;"> -James 4:13-15</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">And my all time favorite:</span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">“Therefore I tell you, do not worry about your life, what you will eat or drink; or about your body, what you will wear. Is not life more than food, and the body more than clothes? Look at the birds of the air; they do not sow or reap or store away in barns, and yet your heavenly Father feeds them. Are you not much more valuable than they? Can any one of you by worrying add a single hour to your life? And why do you worry about clothes? See how the flowers of the field grow. They do not labor or spin. Yet I tell you that not even Solomon in all his splendor was dressed like one of these. If that is how God clothes the grass of the field, which is here today and tomorrow is thrown into the fire, will he not much more clothe you—you of little faith? So do not worry, saying, ‘What shall we eat?’ or ‘What shall we drink?’ or ‘What shall we wear?’ For the pagans run after all these things, and your heavenly Father knows that you need them. But seek first his kingdom and his righteousness, and all these things will be given to you as well. Therefore do not worry about tomorrow, for tomorrow will worry about itself. Each day has enough trouble of its own.”</span></i><span style="font-weight: 400;"> -Matthew 6:25-34</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">So, would you join me at the cross today? It’s time to get on our knees and ask God to pick us back up.</span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">Were you encouraged by this story? We would love to pray for you! Please leave us a comment or send us a message with any prayer requests you have. </span></i></p>
]]></content:encoded>
			<wfw:commentRss>https://fetchfitlife.com/2019/02/13/when-all-you-have-still-isnt-enough/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>How To Start Working Out Again After A Long Break… And 5 Ways You Can Actually Stick To It!</title>
		<link>https://fetchfitlife.com/2019/01/07/how-to-start-working-out-again-after-a-long-break-and-5-ways-you-can-actually-stick-to-it/</link>
		<comments>https://fetchfitlife.com/2019/01/07/how-to-start-working-out-again-after-a-long-break-and-5-ways-you-can-actually-stick-to-it/#respond</comments>
		<pubDate>Mon, 07 Jan 2019 10:00:49 +0000</pubDate>
		<dc:creator><![CDATA[Quinn Barefoot]]></dc:creator>
				<category><![CDATA[Fitness]]></category>
		<category><![CDATA[Physical Fitness]]></category>
		<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://www.fetchfitlife.com/?p=426</guid>
		<description><![CDATA[It’s no secret that sticking to a consistent workout routine is much easier said than done. If you’re anything like me, you know that it’s easy to get motivated and sprint out of the starting gate. However, as soon as you start skipping out on workouts, that seed of motivation quickly withers away just as fast as it sprung up. &#160; Trust me, I know how difficult it is to start working out again after taking a (sometimes embarrassingly long) break. But you know what? I started running again, and I’ve kept at it! I know that creating healthy habits isn’t easy, but I did it… and here’s 5 ways you can to: 1. Stop the excuses. Just stop. &#160; There are many different reasons you probably give as to why you can’t seem to consistently workout. And to be honest, I’ve given every excuse in the book. I’m too busy. It’s too hot outside to run. It’s too cold outside to run. I’m tired today. I’ve got so many other things I’ve got to deal with right now. Oh, and my personal favorite:  I don’t feel like it. &#160; We can think of a million different reasons as to [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><span style="font-weight: 400;">It’s no secret that sticking to a consistent workout routine is much easier said than done. If you’re anything like me, you know that it’s easy to get motivated and sprint out of the starting gate. However, as soon as you start skipping out on workouts, that seed of motivation quickly withers away just as fast as it sprung up.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Trust me, I know how difficult it is to start working out again after taking a (sometimes embarrassingly long) break. But you know what? I started running again, and I’ve kept at it! I know that creating healthy habits isn’t easy, but I did it… and here’s 5 ways you can to:</span></p>
<h2><b>1. Stop the excuses. Just stop.</b></h2>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">There are many different reasons you probably give as to why you can’t seem to consistently workout. And to be honest, I’ve given every excuse in the book</span><i><span style="font-weight: 400;">. I’m too busy. It’s too hot outside to run. It’s too cold outside to run. I’m tired today. I’ve got so many other things I’ve got to deal with right now. </span></i><span style="font-weight: 400;">Oh, and my personal favorite: </span><i><span style="font-weight: 400;"> I don’t feel like it. </span></i></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">We can think of a million different reasons as to why we choose to skip our workout. But that’s exactly what they are: excuses. So why don’t we start with being honest? Often times we put exercise on our “to do” list, but it’s never the top priority. Sure we may have things we have to do like work, school, taking care of the kids, or paying the bills. But you know what? Your health is a priority too! In fact, you can’t even accomplish any of those other tasks if you aren’t healthy enough! So let’s stop making excuses and start being honest with ourselves, would you take that first step with us?</span></p>
<p>&nbsp;</p>
<h2><b>2. Set a (realistic) goal.</b></h2>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Ok, maybe you’re one of those people who has “running a marathon” written down on your bucket list. But if you’ve taken a month off from working out, saying you want to be in marathon-running shape a few weeks down the road is probably unrealistic. And if you don’t stay on track or keep a consistent routine, discouragement is unavoidable.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Setting a realistic goal is a great place to start. A 26.2 mile race may take a few years to build up to, but how about 3.1 miles? If you want to start running, find a 5K race going on in your area. And if the race supports a great cause, well then that’s even better! There are always great races posted on websites like </span><a href="https://www.runnersworld.com/race-finder" target="_blank" rel="noopener"><span style="font-weight: 400;">Runner’s World</span></a><span style="font-weight: 400;"> or </span><a href="https://www.active.com/" target="_blank" rel="noopener"><span style="font-weight: 400;">Active</span></a><span style="font-weight: 400;">! Not into running? Try a push-up or sit-up challenge. See how many you can do today, and then do as many as you can again tomorrow. Record the number you do each day and see how quickly you can improve! </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Want to work out to lose weight? Start by setting small weight loss goals. Dropping a few pounds each month isn’t too hard and it can really be encouraging. However, you shouldn’t convince yourself that you’re going to fit into a two-sizes-too-small dress by the summer. Not everyone loses weight at the same rate or in the same places, so don’t set yourself up for discouragement. Take it at your pace and see what works best for your body. If you keep up a healthy routine, you may not only start looking slimmer, but also feeling more energized!</span></p>
<p>&nbsp;</p>
<h2><b>3. Count on accountability</b></h2>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Let’s be honest, we slip up a lot. Having a workout accountability partner can be the key to consistency! Whether it’s a spouse who wants to workout with you, a friend who shoots you a quick text, or a child who wants to tag along with you to the park, having that friendly face encouraging you can really help push you to the next level.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">So write it on your calendar, create a Facebook page, or just ask some of your close friends to keep tabs on you. It’s harder to skip out on exercising when you have others watching!</span></p>
<p>&nbsp;</p>
<h2><b>4. Don’t dread it</b></h2>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Ok, so maybe you don’t like exercising. Or, if you’re being honest, you have a deeply rooted hatred of it. But you know what? Don’t you usually feel so much better after a good workout (well, after you finally catch your breath and stop sweating)? If you’re sitting in your car trying to decide between hitting the gym or Dunkin Donuts, think of that post-workout feeling. Yea, it may be tough to step on the treadmill, but once you get going it’s really not as bad as you thought!</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">And yes, we all have those days where we struggle to get through a simple set of crunches, but don’t be discouraged. Just think, at least you pushed yourself to get up and do it! Take some time afterwards to stretch so that tomorrow may be a little easier!</span></p>
<p>&nbsp;</p>
<h2><b>5. Make a game out of it</b></h2>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Believe it or not, working out can actually be enjoyable if you make a game out of it! Create a running playlist on </span><a href="https://www.spotify.com/" target="_blank" rel="noopener"><span style="font-weight: 400;">Spotify</span></a><span style="font-weight: 400;"> or </span><a href="https://www.amazon.com/gp/dmusic/promotions/PrimeMusic" target="_blank" rel="noopener"><span style="font-weight: 400;">Amazon Music</span></a> <span style="font-weight: 400;">with your favorite pump-up music. Choose certain songs that you will run fast to and others that are for a light jog. Put them in a specific order or just shuffle them up and see what happens! Are you into zombies? Download the </span><a href="https://zombiesrungame.com/" target="_blank" rel="noopener"><span style="font-weight: 400;">Zombies, Run!</span></a><span style="font-weight: 400;"> game app that will transplant you into a different world where you won’t be running to workout, you’ll be running to survive!</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">And did you know you can get rewarded by working out? </span><a href="https://www.walgreens.com/steps/brhc-loggedout.jsp" target="_blank" rel="noopener"><span style="font-weight: 400;">Walgreens Balance Rewards</span></a><span style="font-weight: 400;"> allows you to earn points for maintaining healthy behaviors that you can then use to save money! </span><a href="http://www.charitymiles.org/" target="_blank" rel="noopener"><span style="font-weight: 400;">Charity Miles</span></a><span style="font-weight: 400;"> is another app that will make a donation to charity for every mile you run… how cool is that?!</span></p>
<p>&nbsp;</p>
<h2><b>So, what’s next?</b></h2>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">It’s time to stop saying “one day I’ll start working out again” and finally make today the day. There are always a million reasons not to do something, but why not push past those excuses and start creating healthy habits now? Are you ready to take the challenge?</span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">Were you encouraged by these 5 tips? We’d love to hear about your own journey toward health! Send us a message or leave a comment for a chance to be featured on our site! </span></i></p>
]]></content:encoded>
			<wfw:commentRss>https://fetchfitlife.com/2019/01/07/how-to-start-working-out-again-after-a-long-break-and-5-ways-you-can-actually-stick-to-it/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Happy New Year! 2019!</title>
		<link>https://fetchfitlife.com/2019/01/01/happy-new-year-2019/</link>
		<comments>https://fetchfitlife.com/2019/01/01/happy-new-year-2019/#respond</comments>
		<pubDate>Tue, 01 Jan 2019 06:00:32 +0000</pubDate>
		<dc:creator><![CDATA[Lauren Henderson]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://www.fetchfitlife.com/?p=797</guid>
		<description><![CDATA[Thank you for following us on our journey in 2018, it&#8217;s been a great one!   We look forward to starting back up after the new year! We will feature more fitness inspiration with a focus on promoting a healthy body image. We will continue on our spiritual fitness journey and deepening our relationship with God. And, of course, doing all this and more alongside our best fur friends!]]></description>
				<content:encoded><![CDATA[<div class="" data-block="true" data-editor="8r1s0" data-offset-key="f178j-0-0">
<div class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr" data-offset-key="f178j-0-0">Thank you for following us on our journey in 2018, it&#8217;s been a great one!</div>
</div>
<div class="" data-block="true" data-editor="8r1s0" data-offset-key="d1fs8-0-0">
<div class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr" data-offset-key="d1fs8-0-0"><span data-offset-key="d1fs8-0-0"> </span></div>
</div>
<div class="" data-block="true" data-editor="8r1s0" data-offset-key="55qka-0-0">
<div class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr" data-offset-key="55qka-0-0"><span data-offset-key="55qka-0-0">We look forward to starting back up after the new year! We will feature more fitness inspiration with a focus on promoting a healthy body image. </span><span class="hardreadability"><span data-offset-key="55qka-1-0">We will continue on our spiritual fitness journey and deepening our relationship with God</span></span><span data-offset-key="55qka-2-0">. And, of course, doing all this and more alongside our best fur friends!</span></div>
<div class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr" data-offset-key="55qka-0-0"></div>
</div>
]]></content:encoded>
			<wfw:commentRss>https://fetchfitlife.com/2019/01/01/happy-new-year-2019/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Merry Christmas!</title>
		<link>https://fetchfitlife.com/2018/12/25/merry-christmas/</link>
		<comments>https://fetchfitlife.com/2018/12/25/merry-christmas/#respond</comments>
		<pubDate>Tue, 25 Dec 2018 06:00:21 +0000</pubDate>
		<dc:creator><![CDATA[Lauren Henderson]]></dc:creator>
				<category><![CDATA[Fitness]]></category>
		<category><![CDATA[Pet Lifestyle]]></category>
		<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://www.fetchfitlife.com/?p=786</guid>
		<description><![CDATA[Wishing you a very merry Christmas! &#160; May your holiday season with family and friends be filled with joy and love&#8230; &#160; &#160; May you have good times full of fun and laughter&#8230; &#160; &#160; May your home be warm and cozy, with time for naps between all the yummy food and treats&#8230; &#160; Merry Christmas from the ladies (and their pups) at FetchFit.]]></description>
				<content:encoded><![CDATA[<h1>Wishing you a very merry Christmas!</h1>
<p>&nbsp;</p>
<h3>May your holiday season with family and friends be filled with joy and love&#8230;</h3>
<p>&nbsp;</p>
<p><a href="https://www.fetchfitlife.com/?attachment_id=792" rel="attachment wp-att-792"><img class="aligncenter size-full wp-image-792" src="https://www.fetchfitlife.com/wp-content/uploads/2018/12/christmas_meeka2.jpg" alt="" width="668" height="1002" srcset="https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/12/24104034/christmas_meeka2.jpg 668w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/12/24104034/christmas_meeka2-200x300.jpg 200w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/12/24104034/christmas_meeka2-600x900.jpg 600w" sizes="(max-width: 668px) 100vw, 668px" /></a></p>
<p>&nbsp;</p>
<h3>May you have good times full of fun and laughter&#8230;</h3>
<p>&nbsp;</p>
<p><a href="https://www.fetchfitlife.com/?attachment_id=790" rel="attachment wp-att-790"><img class="aligncenter size-full wp-image-790" src="https://www.fetchfitlife.com/wp-content/uploads/2018/12/Christmas_Finley.jpg" alt="" width="5184" height="3456" srcset="https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/12/24103917/Christmas_Finley.jpg 5184w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/12/24103917/Christmas_Finley-300x200.jpg 300w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/12/24103917/Christmas_Finley-768x512.jpg 768w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/12/24103917/Christmas_Finley-1170x780.jpg 1170w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/12/24103917/Christmas_Finley-600x400.jpg 600w" sizes="(max-width: 5184px) 100vw, 5184px" /></a></p>
<p>&nbsp;</p>
<h3>May your home be warm and cozy, with time for naps between all the yummy food and treats&#8230;</h3>
<p>&nbsp;</p>
<p><a href="https://www.fetchfitlife.com/?attachment_id=789" rel="attachment wp-att-789"><img class="aligncenter size-full wp-image-789" src="https://www.fetchfitlife.com/wp-content/uploads/2018/12/Christmas_CassieandFinn.jpg" alt="" width="5184" height="3456" srcset="https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/12/24103904/Christmas_CassieandFinn.jpg 5184w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/12/24103904/Christmas_CassieandFinn-300x200.jpg 300w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/12/24103904/Christmas_CassieandFinn-768x512.jpg 768w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/12/24103904/Christmas_CassieandFinn-1170x780.jpg 1170w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/12/24103904/Christmas_CassieandFinn-600x400.jpg 600w" sizes="(max-width: 5184px) 100vw, 5184px" /></a></p>
<h2></h2>
<h2>Merry Christmas from the ladies (and their pups) at FetchFit.</h2>
]]></content:encoded>
			<wfw:commentRss>https://fetchfitlife.com/2018/12/25/merry-christmas/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>5 Foods You Should Never Feed Your Dog (and 5 Safe Alternatives)</title>
		<link>https://fetchfitlife.com/2018/12/19/5-foods-you-should-never-feed-your-dog-and-5-safe-alternatives/</link>
		<comments>https://fetchfitlife.com/2018/12/19/5-foods-you-should-never-feed-your-dog-and-5-safe-alternatives/#respond</comments>
		<pubDate>Wed, 19 Dec 2018 10:00:19 +0000</pubDate>
		<dc:creator><![CDATA[Quinn Barefoot]]></dc:creator>
				<category><![CDATA[Pet Health]]></category>
		<category><![CDATA[Pet Lifestyle]]></category>
		<category><![CDATA[Tips & Tricks]]></category>
		<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://www.fetchfitlife.com/?p=775</guid>
		<description><![CDATA[Picture this: you and your family are sitting down at the dinner table after a long day, armed with forks and knives, ready to chow down on some grub. Suddenly, you feel something warm and fuzzy brush against your feet. You immediately know what it is, and as you look under the table, your eyes lock with that wide-eyed puppy staring back up at you, just desperate for a bite. They’re not looking for much, just a few table scraps to satisfy that sweet puppy belly. I mean, wouldn’t it be cruel to cook up a delicious-smelling meal and not let them try a bite? &#160; I know I’m guilty of giving into that furball under the table. But, even though I want to spoil my dog, I know that has to be done in moderation and with only a few types of food. Yes, it’s hard saying no to those desperate eyes, but it’s for their own good! And, it’s even more tempting to give into that adorable pooch during the holiday season, but it’s important to stand your ground and say “no”. &#160; We want to help you keep your furry friend safe, so we compiled a list [&#8230;]]]></description>
				<content:encoded><![CDATA[<article id="post-759" class="post-759 post type-post status-draft format-standard hentry category-uncategorized">
<div class="entry-content">
<div class="momoko-content">
<div class="momoko-excerpt-area">
<div class="momoko-post-excerpt">
<p>Picture this: you and your family are sitting down at the dinner table after a long day, armed with forks and knives, ready to chow down on some grub. Suddenly, you feel something warm and fuzzy brush against your feet. You immediately know what it is, and as you look under the table, your eyes lock with that wide-eyed puppy staring back up at you, just desperate for a bite. They’re not looking for much, just a few table scraps to satisfy that sweet puppy belly. I mean, wouldn’t it be cruel to cook up a delicious-smelling meal and not let them try a bite?</p>
<p>&nbsp;</p>
<p>I know I’m guilty of giving into that furball under the table. But, even though I want to spoil my dog, I know that has to be done in moderation and with only a few types of food. Yes, it’s hard saying no to those desperate eyes, but it’s for their own good! And, it’s even more tempting to give into that adorable pooch during the holiday season, but it’s important to stand your ground and say “no”.</p>
<p>&nbsp;</p>
<p>We want to help you keep your furry friend safe, so we compiled a list of 5 foods that you should never give your dog followed by a safe option you should consider instead.</p>
<p>&nbsp;</p>
<p><a href="https://www.fetchfitlife.com/?attachment_id=784" rel="attachment wp-att-784"><img class="aligncenter size-full wp-image-784" src="https://www.fetchfitlife.com/wp-content/uploads/2018/12/5Foods_ds.jpg" alt="" width="2400" height="3304" srcset="https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/12/18222908/5Foods_ds.jpg 2400w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/12/18222908/5Foods_ds-218x300.jpg 218w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/12/18222908/5Foods_ds-768x1057.jpg 768w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/12/18222908/5Foods_ds-1453x2000.jpg 1453w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/12/18222908/5Foods_ds-1170x1611.jpg 1170w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/12/18222908/5Foods_ds-600x826.jpg 600w" sizes="(max-width: 2400px) 100vw, 2400px" /></a></p>
<h2></h2>
<h2><strong>1. Xylitol</strong></h2>
<p>&nbsp;</p>
<p>This one is tricky but oh-so-important! Believe it or not, xylitol can be found in some brands of peanut butter, that’s why it’s crucial to always check the label before giving Fido a spoonful of their favorite sticky treat. Xylitol is a sweetner typically found in candy, gum, baked goods, and many diet foods. This chemical can cause an imbalance in your pup’s blood sugar and, in serious cases, can even lead to liver failure.</p>
<p>&nbsp;</p>
<p>Safe option: Find peanut butter that doesn’t contain xylitol (brands that say “all natural” typically don’t contain this chemical, but always double check). I’m sure your dog will always be up for a spoonful of that!</p>
</div>
<p>&nbsp;</p>
<div class="momoko-post-excerpt">
<h2><strong>2. Onions and Garlic</strong></h2>
<p>&nbsp;</p>
<p>Now, I’m sure you would never give your dog a whole onion or clove of garlic to munch on, but these dangerous ingredients are mixed into a whole bunch of foods that we might not even think twice about feeding to our pup. All forms of onions and garlic (raw, cooked, powdered, etc.) can be dangerous to dogs because they wreak havoc on their red blood cells.</p>
<p>&nbsp;</p>
<p>Safe option: Instead of giving your pup something that may contain traces on onions or garlic, try giving them few plain carrots, either steamed or raw. Carrots are a great, nutritious vegetable for dogs to enjoy as long as they are completely plain and free from seasoning.</p>
<p>&nbsp;</p>
<h2><strong>3. Grapes and Raisins</strong></h2>
<p>&nbsp;</p>
<p>Even if you’re tempted to feed your dog some fresh grapes off of an overflowing fruit tray, DON’T! Many pet parents don’t realize that grapes and raisins can lead to kidney failure in dogs. And, the scary thing is that just a small amount of this toxic fruit can cause a lot of harm to your furry friend. So, if your dog has a tendency of sneaking food off of the counter, really double check to make sure there are no grapes or foods that contain raisins within their reach!</p>
<p>&nbsp;</p>
<p>Safe option: Grapes and raisins may not be safe for dogs, but apples and bananas sure are! Try giving them a few pieces of these dog-friendly fruits the next time they’re begging for something sweet.</p>
<p>&nbsp;</p>
<h2><strong>4. Chocolate</strong></h2>
<p>&nbsp;</p>
<p>Now, all of us should know by now that dogs aren’t supposed to have chocolate, but that doesn’t stop some pet parents from allowing their dog to take a little bite of something that has this toxic ingredient. I mean, chocolate is so good, just a little bit won’t hurt them, right? WRONG! Chocolate contains theobromine which can cause a variety of health issues including heart problems, tremors, and seizures. And, it’s important to know that theobromine is found in all types of chocolate, including white chocolate. No matter how much you love chocolate, never ever under any circumstances give your dog a taste!</p>
<p>&nbsp;</p>
<p>Safe option: Pumpkin puree (which is only one ingredient: pumpkin. Make sure to buy the puree and NOT the pumpkin pie filling) is a safe and delicious food for your pup to enjoy. Not only that, but it can also help ease stomach aches and be beneficial to your pup.</p>
<p>&nbsp;</p>
<h2><strong>5. Bones</strong></h2>
<p>&nbsp;</p>
<p>You know that old saying “give a dog a bone”… but that’s probably not be the best idea! If you cook yourself up a steak or some chicken wings, it may be tempting to throw that bone under the table for Fido to enjoy. However, small bones like this are easy for dogs to choke on. Not only that, but they can splinter, which may lead to painful cuts or blockages within your pup’s digestive tract.</p>
<p>&nbsp;</p>
<p>Safe option: You may not be able to give your dog a bone from the dinner table, but there are plenty of dog-safe bones and chew toys on the market for them to enjoy. I usually end up giving my dog an <a href="https://www.amazon.com/Gnawtlers-Naturally-Specially-Selected-Heartland/dp/B01M9GOH17/ref=sr_1_9?s=pet-supplies&amp;ie=UTF8&amp;qid=1532088527&amp;sr=1-9&amp;keywords=dog+antler">Elk Antler</a> to keep her busy. Not only does she love them, but they last a long time! Now, make sure to get the appropriate size for your dog and keep an eye on them while they are chewing to make sure they don’t choke or cut themselves as some of these treats can have sharp points.</p>
<p>&nbsp;</p>
<p>So, next time you see your dog waiting under the table for some scraps, I hope you have the willpower to stand strong and not give into those begging puppy dog eyes. But, every good girl and boy does deserve a treat, so make sure to keep these dog-safe options on hand.</p>
<p>&nbsp;</p>
<p>Remember, a healthy pup is a happy pup!</p>
<p>&nbsp;</p>
<p><i>Did you find this story helpful? Do you have any other dog-safe food options that your furball enjoys? Let us know so we can let others know!</i></p>
<p>&nbsp;</p>
</div>
</div>
<div class="momoko-tags-area"></div>
</div>
</div>
</article>
<div id="comments" class="post-comments"></div>
]]></content:encoded>
			<wfw:commentRss>https://fetchfitlife.com/2018/12/19/5-foods-you-should-never-feed-your-dog-and-5-safe-alternatives/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>DIY Custom Dog Ornament</title>
		<link>https://fetchfitlife.com/2018/12/13/diy-custom-dog-ornament/</link>
		<comments>https://fetchfitlife.com/2018/12/13/diy-custom-dog-ornament/#respond</comments>
		<pubDate>Thu, 13 Dec 2018 16:48:19 +0000</pubDate>
		<dc:creator><![CDATA[Lauren Henderson]]></dc:creator>
				<category><![CDATA[DIY]]></category>
		<category><![CDATA[Pet Lifestyle]]></category>
		<category><![CDATA[Tips & Tricks]]></category>
		<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://www.fetchfitlife.com/?p=764</guid>
		<description><![CDATA[It&#8217;s more often than I&#8217;d care to admit that I come across things in stores that gets my creative mind going. Recently, I found some basic border collie ornaments at my local Cost Plus World Market. I almost couldn&#8217;t believe it, as I never see border collie themed, well&#8230;anything! The &#8220;dog things&#8221; that I do see are usually frenchie, black lab, dachshund, and pug themed (don&#8217;t get me wrong, I have nothing against them, they are all super cute and popular breeds, but&#8230;come on!).   However, the ornament wasn&#8217;t quite right because I don&#8217;t have typical black and white border collies. But then I thought; Hey! I can paint these up to look like my two pups!   In this DIY tutorial, learn how I customize a simple wooden carved ornament to look like my dogs. This is a very simple, easy mode DIY that anyone can do! Also, this ornament in particular is a basic dog shape. It could be painted up to look like any kind of floppy eared breed! Check out what I made with mine&#8230; &#160; [embedyt] https://www.youtube.com/watch?v=XNSivS317-Q[/embedyt] &#160; Materials Needed: Wood carved ornament (I found mine at World Market) Gesso or any acrylic primer of [&#8230;]]]></description>
				<content:encoded><![CDATA[<div class="" data-block="true" data-editor="86t8" data-offset-key="7sjr8-0-0">
<div class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr" data-offset-key="7sjr8-0-0">It&#8217;s more often than I&#8217;d care to admit that I come across things in stores that gets my creative mind going. Recently, I found some basic border collie ornaments at my local Cost Plus World Market. I almost couldn&#8217;t believe it, as I never see border collie themed, well&#8230;anything! The &#8220;dog things&#8221; that I do see are usually frenchie, black lab, dachshund, and pug themed (don&#8217;t get me wrong, I have nothing against them, they are all super cute and popular breeds, but&#8230;come on!).</div>
</div>
<div class="" data-block="true" data-editor="86t8" data-offset-key="auh8v-0-0">
<div class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr" data-offset-key="auh8v-0-0"><span data-offset-key="auh8v-0-0"> </span></div>
</div>
<div class="" data-block="true" data-editor="86t8" data-offset-key="3psmk-0-0">
<div class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr" data-offset-key="3psmk-0-0"><span class="complexword"><span data-offset-key="3psmk-0-0">However</span></span><span class="hardreadability"><span data-offset-key="3psmk-1-0">, the ornament wasn&#8217;t quite right because I don&#8217;t have typical black and white border collies</span></span><span data-offset-key="3psmk-2-0">. But then I thought; </span><span data-offset-key="3psmk-2-1">Hey! I can paint these up to look like my two pups!</span></div>
</div>
<div class="" data-block="true" data-editor="86t8" data-offset-key="fi6ua-0-0">
<div class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr" data-offset-key="fi6ua-0-0"><span data-offset-key="fi6ua-0-0"> </span></div>
</div>
<div class="" data-block="true" data-editor="86t8" data-offset-key="colqk-0-0">
<div class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr" data-offset-key="colqk-0-0"><span data-offset-key="colqk-0-0">In this DIY tutorial, learn how I customize a simple wooden carved ornament to look like my dogs. This is a very simple, easy mode DIY that anyone can do! Also, this ornament in particular is a basic dog shape. It could </span><span class="passivevoice"><span data-offset-key="colqk-1-0">be painted</span></span><span data-offset-key="colqk-2-0"> up to look like any kind of floppy eared breed! Check out what I made with mine&#8230;</span></div>
</div>
<p>&nbsp;</p>
<p>[embedyt] https://www.youtube.com/watch?v=XNSivS317-Q[/embedyt]</p>
<p>&nbsp;</p>
<h2><strong>Materials Needed: </strong></h2>
<ul>
<li>Wood carved ornament (I found mine at World Market)</li>
<li>Gesso or any acrylic primer of choice</li>
<li>A paint palette or scrap piece of board</li>
<li>Variety of acrylic or craft paint (you don&#8217;t need professional paints. I&#8217;m an artist so this is just what I had on hand already)</li>
<li>Small soft brushes</li>
<li>Clear protective top coat (I used Krylon Acrylic non-yellowing crystal clear)</li>
</ul>
<p>&nbsp;</p>
<h2><strong>Instructions:</strong></h2>
<p>&nbsp;</p>
<p><strong>Clean Surface:</strong></p>
<p>Be sure to wipe your ornament with a cloth to remove any dust or dirt before applying your acrylic primer.</p>
<p>&nbsp;</p>
<p><strong>Prime Ornament:</strong></p>
<p>Next, prime the ornament. This will help to not only cover what is already painted on there, but also add some “tooth” to the surface, which helps the colored paints to adhere better to the surface. Start with a light coat of primer, starting from top to bottom. You can probably use a spray primer which would likely be quicker and smoother, but this is what I had on hand.</p>
<p>&nbsp;</p>
<p><strong>Apply First Coat of Color:</strong></p>
<p><span style="font-weight: 400;">Go ahead and squirt a little bit of paint out on your palette. You won’t need much. I’ll start with painting my dog Cassie. Start painting light to dark. </span></p>
<p><span style="font-weight: 400;">Here’s a pro tip: Use a nutcracker to remove paint tube caps that are stuck on. </span></p>
<p><span style="font-weight: 400;">Start working from light colors to darker colors. It doesn&#8217;t have to be perfect at this point, we are just trying to block in color and get an even coat of paint. </span></p>
<p><span style="font-weight: 400;">Allow the first coat to dry completely before starting on your next coat of paint.</span></p>
<p>&nbsp;</p>
<p><strong>Apply Final Coat of Color:</strong></p>
<p><span style="font-weight: 400;">Its time to do the final coat, and blending in the colors as needed. Make sure to add any unique characteristics that would define the dog. For example….Cassie has black markings along her snout, and Finley has freckles on his face and feet, so once I painted those details on, the ornaments really start to represent them.</span></p>
<p><span style="font-weight: 400;">Its attention to these small details that REALLY make the difference between a generic dog ornament verses YOUR dog ornament.</span></p>
<p>&nbsp;</p>
<p><strong>Apply Protective Clear Top Coat and Enjoy!:</strong></p>
<p><span style="font-weight: 400;">Make sure you allow to dry completely before applying the top clear protective coat. </span></p>
<p><span style="font-weight: 400;">Once that is dry, hand them up on the Christmas tree and enjoy your new custom dog ornaments!</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Have fun customizing your pet’s ornament! </span><span style="font-weight: 400;">If you try this DIY out,  send us a picture of your custom ornaments, we would love to see them!  </span>Please leave any questions below and we&#8217;ll try to get back to you as soon as we can. Thanks for watching and please let us know of any other DIY ideas you&#8217;d like to see in the future and we&#8217;ll try our best to make it happen!</p>
<p>&nbsp;</p>
<h6>This content is not sponsored.</h6>
<h6>Necessary Video Credits:</h6>
<h6>Music: &#8220;Summer&#8221; by <a class="yt-simple-endpoint style-scope yt-formatted-string" spellcheck="false" href="https://www.youtube.com/redirect?q=https%3A%2F%2Fwww.bensound.com&amp;v=XNSivS317-Q&amp;event=video_description&amp;redir_token=GJZNJePY8XSy-cQhNUSchpPeoo58MTU0NDgwNTY5MUAxNTQ0NzE5Mjkx" rel="nofollow">https://www.bensound.com</a> (creative commons license)</h6>
<h6>Opening graphic by Envato Market via <a class="yt-simple-endpoint style-scope yt-formatted-string" spellcheck="false" href="https://www.youtube.com/redirect?q=https%3A%2F%2Fvideohive.net&amp;v=XNSivS317-Q&amp;event=video_description&amp;redir_token=GJZNJePY8XSy-cQhNUSchpPeoo58MTU0NDgwNTY5MUAxNTQ0NzE5Mjkx" rel="nofollow">https://videohive.net</a></h6>
]]></content:encoded>
			<wfw:commentRss>https://fetchfitlife.com/2018/12/13/diy-custom-dog-ornament/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
