<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>DIY &#8211; FetchFit</title>
	<atom:link href="https://fetchfitlife.com/category/diy/feed/" rel="self" type="application/rss+xml" />
	<link>http://fetchfitlife.com/</link>
	<description>Women&#039;s Fitness and Pet Lifestyle Blog</description>
	<lastBuildDate>Sun, 26 Jul 2020 22:18:08 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.5</generator>

<image>
	<url>https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/19004744/fetchfit-logo-100x100.png</url>
	<title>DIY &#8211; FetchFit</title>
	<link>http://fetchfitlife.com/</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>DIY Custom Dog Ornament</title>
		<link>https://fetchfitlife.com/2018/12/13/diy-custom-dog-ornament/</link>
		<comments>https://fetchfitlife.com/2018/12/13/diy-custom-dog-ornament/#respond</comments>
		<pubDate>Thu, 13 Dec 2018 16:48:19 +0000</pubDate>
		<dc:creator><![CDATA[Lauren Henderson]]></dc:creator>
				<category><![CDATA[DIY]]></category>
		<category><![CDATA[Pet Lifestyle]]></category>
		<category><![CDATA[Tips & Tricks]]></category>
		<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://www.fetchfitlife.com/?p=764</guid>
		<description><![CDATA[It&#8217;s more often than I&#8217;d care to admit that I come across things in stores that gets my creative mind going. Recently, I found some basic border collie ornaments at my local Cost Plus World Market. I almost couldn&#8217;t believe it, as I never see border collie themed, well&#8230;anything! The &#8220;dog things&#8221; that I do see are usually frenchie, black lab, dachshund, and pug themed (don&#8217;t get me wrong, I have nothing against them, they are all super cute and popular breeds, but&#8230;come on!).   However, the ornament wasn&#8217;t quite right because I don&#8217;t have typical black and white border collies. But then I thought; Hey! I can paint these up to look like my two pups!   In this DIY tutorial, learn how I customize a simple wooden carved ornament to look like my dogs. This is a very simple, easy mode DIY that anyone can do! Also, this ornament in particular is a basic dog shape. It could be painted up to look like any kind of floppy eared breed! Check out what I made with mine&#8230; &#160; [embedyt] https://www.youtube.com/watch?v=XNSivS317-Q[/embedyt] &#160; Materials Needed: Wood carved ornament (I found mine at World Market) Gesso or any acrylic primer of [&#8230;]]]></description>
				<content:encoded><![CDATA[<div class="" data-block="true" data-editor="86t8" data-offset-key="7sjr8-0-0">
<div class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr" data-offset-key="7sjr8-0-0">It&#8217;s more often than I&#8217;d care to admit that I come across things in stores that gets my creative mind going. Recently, I found some basic border collie ornaments at my local Cost Plus World Market. I almost couldn&#8217;t believe it, as I never see border collie themed, well&#8230;anything! The &#8220;dog things&#8221; that I do see are usually frenchie, black lab, dachshund, and pug themed (don&#8217;t get me wrong, I have nothing against them, they are all super cute and popular breeds, but&#8230;come on!).</div>
</div>
<div class="" data-block="true" data-editor="86t8" data-offset-key="auh8v-0-0">
<div class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr" data-offset-key="auh8v-0-0"><span data-offset-key="auh8v-0-0"> </span></div>
</div>
<div class="" data-block="true" data-editor="86t8" data-offset-key="3psmk-0-0">
<div class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr" data-offset-key="3psmk-0-0"><span class="complexword"><span data-offset-key="3psmk-0-0">However</span></span><span class="hardreadability"><span data-offset-key="3psmk-1-0">, the ornament wasn&#8217;t quite right because I don&#8217;t have typical black and white border collies</span></span><span data-offset-key="3psmk-2-0">. But then I thought; </span><span data-offset-key="3psmk-2-1">Hey! I can paint these up to look like my two pups!</span></div>
</div>
<div class="" data-block="true" data-editor="86t8" data-offset-key="fi6ua-0-0">
<div class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr" data-offset-key="fi6ua-0-0"><span data-offset-key="fi6ua-0-0"> </span></div>
</div>
<div class="" data-block="true" data-editor="86t8" data-offset-key="colqk-0-0">
<div class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr" data-offset-key="colqk-0-0"><span data-offset-key="colqk-0-0">In this DIY tutorial, learn how I customize a simple wooden carved ornament to look like my dogs. This is a very simple, easy mode DIY that anyone can do! Also, this ornament in particular is a basic dog shape. It could </span><span class="passivevoice"><span data-offset-key="colqk-1-0">be painted</span></span><span data-offset-key="colqk-2-0"> up to look like any kind of floppy eared breed! Check out what I made with mine&#8230;</span></div>
</div>
<p>&nbsp;</p>
<p>[embedyt] https://www.youtube.com/watch?v=XNSivS317-Q[/embedyt]</p>
<p>&nbsp;</p>
<h2><strong>Materials Needed: </strong></h2>
<ul>
<li>Wood carved ornament (I found mine at World Market)</li>
<li>Gesso or any acrylic primer of choice</li>
<li>A paint palette or scrap piece of board</li>
<li>Variety of acrylic or craft paint (you don&#8217;t need professional paints. I&#8217;m an artist so this is just what I had on hand already)</li>
<li>Small soft brushes</li>
<li>Clear protective top coat (I used Krylon Acrylic non-yellowing crystal clear)</li>
</ul>
<p>&nbsp;</p>
<h2><strong>Instructions:</strong></h2>
<p>&nbsp;</p>
<p><strong>Clean Surface:</strong></p>
<p>Be sure to wipe your ornament with a cloth to remove any dust or dirt before applying your acrylic primer.</p>
<p>&nbsp;</p>
<p><strong>Prime Ornament:</strong></p>
<p>Next, prime the ornament. This will help to not only cover what is already painted on there, but also add some “tooth” to the surface, which helps the colored paints to adhere better to the surface. Start with a light coat of primer, starting from top to bottom. You can probably use a spray primer which would likely be quicker and smoother, but this is what I had on hand.</p>
<p>&nbsp;</p>
<p><strong>Apply First Coat of Color:</strong></p>
<p><span style="font-weight: 400;">Go ahead and squirt a little bit of paint out on your palette. You won’t need much. I’ll start with painting my dog Cassie. Start painting light to dark. </span></p>
<p><span style="font-weight: 400;">Here’s a pro tip: Use a nutcracker to remove paint tube caps that are stuck on. </span></p>
<p><span style="font-weight: 400;">Start working from light colors to darker colors. It doesn&#8217;t have to be perfect at this point, we are just trying to block in color and get an even coat of paint. </span></p>
<p><span style="font-weight: 400;">Allow the first coat to dry completely before starting on your next coat of paint.</span></p>
<p>&nbsp;</p>
<p><strong>Apply Final Coat of Color:</strong></p>
<p><span style="font-weight: 400;">Its time to do the final coat, and blending in the colors as needed. Make sure to add any unique characteristics that would define the dog. For example….Cassie has black markings along her snout, and Finley has freckles on his face and feet, so once I painted those details on, the ornaments really start to represent them.</span></p>
<p><span style="font-weight: 400;">Its attention to these small details that REALLY make the difference between a generic dog ornament verses YOUR dog ornament.</span></p>
<p>&nbsp;</p>
<p><strong>Apply Protective Clear Top Coat and Enjoy!:</strong></p>
<p><span style="font-weight: 400;">Make sure you allow to dry completely before applying the top clear protective coat. </span></p>
<p><span style="font-weight: 400;">Once that is dry, hand them up on the Christmas tree and enjoy your new custom dog ornaments!</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Have fun customizing your pet’s ornament! </span><span style="font-weight: 400;">If you try this DIY out,  send us a picture of your custom ornaments, we would love to see them!  </span>Please leave any questions below and we&#8217;ll try to get back to you as soon as we can. Thanks for watching and please let us know of any other DIY ideas you&#8217;d like to see in the future and we&#8217;ll try our best to make it happen!</p>
<p>&nbsp;</p>
<h6>This content is not sponsored.</h6>
<h6>Necessary Video Credits:</h6>
<h6>Music: &#8220;Summer&#8221; by <a class="yt-simple-endpoint style-scope yt-formatted-string" spellcheck="false" href="https://www.youtube.com/redirect?q=https%3A%2F%2Fwww.bensound.com&amp;v=XNSivS317-Q&amp;event=video_description&amp;redir_token=GJZNJePY8XSy-cQhNUSchpPeoo58MTU0NDgwNTY5MUAxNTQ0NzE5Mjkx" rel="nofollow">https://www.bensound.com</a> (creative commons license)</h6>
<h6>Opening graphic by Envato Market via <a class="yt-simple-endpoint style-scope yt-formatted-string" spellcheck="false" href="https://www.youtube.com/redirect?q=https%3A%2F%2Fvideohive.net&amp;v=XNSivS317-Q&amp;event=video_description&amp;redir_token=GJZNJePY8XSy-cQhNUSchpPeoo58MTU0NDgwNTY5MUAxNTQ0NzE5Mjkx" rel="nofollow">https://videohive.net</a></h6>
]]></content:encoded>
			<wfw:commentRss>https://fetchfitlife.com/2018/12/13/diy-custom-dog-ornament/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>DIY Pet Picture Coasters</title>
		<link>https://fetchfitlife.com/2018/07/27/diy-pet-picture-coasters/</link>
		<comments>https://fetchfitlife.com/2018/07/27/diy-pet-picture-coasters/#respond</comments>
		<pubDate>Fri, 27 Jul 2018 04:13:35 +0000</pubDate>
		<dc:creator><![CDATA[Quinn Barefoot]]></dc:creator>
				<category><![CDATA[DIY]]></category>

		<guid isPermaLink="false">https://www.fetchfitlife.com/?p=500</guid>
		<description><![CDATA[&#160; *Sees dog making cute face while playing with toy, quickly lunges for phone to take picture ASAP* &#160; I don’t think much else is a more accurate representation about how obsessed I am with my dog. A little crazy, I know, and now I have an entire camera roll full (and I mean full) of pictures that I need to do something with. So… it’s crafting time! &#160; A few years back I stumbled upon a tile coaster tutorial somewhere in the deep abyss of the internet (cue dramatic music) and since then I have been hooked on making them. I’ve modified these coasters quite a bit over time and have finally come up with the secret formula to make them perfectly even, durable, and bubble-free. &#160; The best thing about these coasters is that you can make them anything you want. I’ve used anything from pretty scrapbook paper to newspaper clippings and even photographs that I printed out and stuck on these coasters. But my favorite ones to make? Well, of course they are the ones with photos of my dog, Meeka! &#160; Here’s what you need to get started: -4  4.25&#215;4.25 tiles (I get these from Lowes) [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">*Sees dog making cute face while playing with toy, quickly lunges for phone to take picture ASAP*</span></i></p>
<p>&nbsp;</p>
<p>I don’t think much else is a more accurate representation about how obsessed I am with my dog. A little crazy, I know, and now I have an entire camera roll full (and I mean full) of pictures that I need to do something with. So… it’s crafting time!</p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">A few years back I stumbled upon a tile coaster tutorial somewhere in the deep abyss of the internet (cue dramatic music) and since then I have been hooked on making them. I’ve modified these coasters quite a bit over time and have finally come up with the secret formula to make them perfectly even, durable, and bubble-free.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">The best thing about these coasters is that you can make them anything you want. I’ve used anything from pretty scrapbook paper to newspaper clippings and even photographs that I printed out and stuck on these coasters. But my favorite ones to make? Well, of course they are the ones with photos of my dog, Meeka!</span></p>
<p>&nbsp;</p>
<h2><b>Here’s what you need to get started:</b></h2>
<p><span style="font-weight: 400;">-4  4.25&#215;4.25 tiles (</span><a href="https://www.lowes.com/pd/American-Olean-Starting-Line-White-Gloss-Ceramic-Wall-Tile-Common-4-in-x-4-in-Actual-4-25-in-x-4-25-in/1126001" target="_blank" rel="noopener"><span style="font-weight: 400;">I get these from Lowes</span></a><span style="font-weight: 400;">)</span></p>
<p><span style="font-weight: 400;">&#8211;</span><a href="https://www.amazon.com/Mod-Podge-Waterbase-16-Ounce-CS11302/dp/B001IKES5O/ref=sr_1_1?ie=UTF8&amp;qid=1523972752&amp;sr=8-1&amp;keywords=modge+podge+matte" target="_blank" rel="noopener"><span style="font-weight: 400;">Mod Podge</span></a><span style="font-weight: 400;"> (I use a matte finish Mod Podge, but glossy works as well)</span></p>
<p><span style="font-weight: 400;">&#8211;</span><a href="https://www.amazon.com/dp/B01MG5FZD3/ref=sspa_dk_detail_2?psc=1&amp;pd_rd_i=B01MG5FZD3&amp;pd_rd_wg=oQPAQ&amp;pd_rd_r=XN50J105AC6H4DRA9ZM9&amp;pd_rd_w=6AQKN" target="_blank" rel="noopener"><span style="font-weight: 400;">Foam Brush</span></a></p>
<p><span style="font-weight: 400;">&#8211;</span><a href="https://www.amazon.com/Krylon-Moisture-Proof-Enamel-Spray/dp/B0042SYPOS/ref=sr_1_11?s=arts-crafts&amp;ie=UTF8&amp;qid=1523972917&amp;sr=1-11&amp;keywords=clear+spray" target="_blank" rel="noopener"><span style="font-weight: 400;">Clear Spray</span></a><span style="font-weight: 400;"> (either a matte or glossy finish works, it’s all up to you!)</span></p>
<p><span style="font-weight: 400;">-Your favorite pictures, printed out on </span><a href="https://www.amazon.com/Darice-GX-2200-06-50-Piece-Stock-11-Inch/dp/B00883OTNA/ref=sr_1_5?s=arts-crafts&amp;ie=UTF8&amp;qid=1523973094&amp;sr=1-5&amp;keywords=cardstock" target="_blank" rel="noopener"><span style="font-weight: 400;">cardstock</span></a><span style="font-weight: 400;"> and cut in to 4&#215;4 inch squares (or you can use scrapbook paper)</span></p>
<p><span style="font-weight: 400;">&#8211;</span><a href="https://www.lowes.com/pd/Duck-20-in-x-4-ft-Cork-Shelf-Liner/1000310135" target="_blank" rel="noopener"><span style="font-weight: 400;">Stick-on cork backing</span></a><span style="font-weight: 400;"> cut into 4&#215;4 inch squares</span></p>
<p>&nbsp;</p>
<h2><b>Step One:</b></h2>
<p><img class="aligncenter size-full wp-image-502" src="https://www.fetchfitlife.com/wp-content/uploads/2018/07/coaster1_ds.jpg" alt="" width="1920" height="1280" srcset="https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/24232248/coaster1_ds.jpg 1920w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/24232248/coaster1_ds-600x400.jpg 600w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/24232248/coaster1_ds-300x200.jpg 300w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/24232248/coaster1_ds-768x512.jpg 768w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/24232248/coaster1_ds-1170x780.jpg 1170w" sizes="(max-width: 1920px) 100vw, 1920px" /></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Gather your tiles, pictures, Mod Podge, and foam brush. Make sure your tiles are clean and free of any dust so that the pictures will stick on nice and even. Making one coaster at a time, use your foam sponge and apply a generous, but even, coat of Mod Podge onto your tile. Take your picture and center it up on the tile, there should be about .25 inches of space on each edge (</span><i><span style="font-weight: 400;">note: if you don’t want a border on the coasters, you can cut the pictures bigger to fill up the entire tile. In my experience, I’ve found it harder to get the edges smooth when the pictures are larger and often times the sides peel up and create bubbles underneath the paper. You can try it this way, but be extra careful and maybe do a practice one first!</span></i><span style="font-weight: 400;">). Use your fingers to gently smooth the picture, working from the center to the edges. Take you foam brush and apply another coat of Mod Podge on top of the picture and outside edges of the tile. Repeat this process with the remaining 3 tiles. Let the coasters dry for about 10-20 minutes, or until the Mod Podge is clear. Take your foam brush and apply another coat of Mod Podge to each coaster, then let the coastes dry for at least 30 minutes. </span></p>
<p>&nbsp;</p>
<h2><b>Step Two:</b></h2>
<p><img class="aligncenter size-full wp-image-504" src="https://www.fetchfitlife.com/wp-content/uploads/2018/07/coaster3_ds.jpg" alt="" width="1920" height="1280" srcset="https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/24232258/coaster3_ds.jpg 1920w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/24232258/coaster3_ds-600x400.jpg 600w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/24232258/coaster3_ds-300x200.jpg 300w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/24232258/coaster3_ds-768x512.jpg 768w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/24232258/coaster3_ds-1170x780.jpg 1170w" sizes="(max-width: 1920px) 100vw, 1920px" /></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Lay all 4 tiles out on a piece of cardboard or any other flat surface that can be used for spraying. I like to do this step outside because spraying can get messy and smelly, but make sure you do it in an area where nothing will blow onto the coasters and ruin them. Spray each tile with an even coat of clear spray. Let them dry for at least 1 hour, then spray them with a second coat of clear. After applying a second coat, let the tiles dry overnight (</span><i><span style="font-weight: 400;">note: if you sprayed them outside, you can transport them indoors once they are dry enough to touch. But whatever you do, don’t stack them until they are completely set or they will stick together</span></i><span style="font-weight: 400;">). </span></p>
<p>&nbsp;</p>
<h2><b>Step Three:</b></h2>
<p><img class="aligncenter size-full wp-image-505" src="https://www.fetchfitlife.com/wp-content/uploads/2018/07/coaster4_ds.jpg" alt="" width="1920" height="1280" srcset="https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/24232303/coaster4_ds.jpg 1920w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/24232303/coaster4_ds-600x400.jpg 600w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/24232303/coaster4_ds-300x200.jpg 300w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/24232303/coaster4_ds-768x512.jpg 768w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/24232303/coaster4_ds-1170x780.jpg 1170w" sizes="(max-width: 1920px) 100vw, 1920px" /></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Take your stick-on cork backing and peel off the paper. Stick 1 square on to the back of each coaster, pressing it down and making sure it is smooth. The cork backing will help protect the surface you are using the coaster on from scratching.</span></p>
<p>&nbsp;</p>
<p><img class="aligncenter size-full wp-image-507" src="https://www.fetchfitlife.com/wp-content/uploads/2018/07/coaster6_ds.jpg" alt="" width="1920" height="1280" srcset="https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/24232313/coaster6_ds.jpg 1920w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/24232313/coaster6_ds-600x400.jpg 600w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/24232313/coaster6_ds-300x200.jpg 300w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/24232313/coaster6_ds-768x512.jpg 768w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/24232313/coaster6_ds-1170x780.jpg 1170w" sizes="(max-width: 1920px) 100vw, 1920px" /></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">That’s it, your masterpieces are complete! Put them out on your coffee table and just wait for the compliments to roll in!</span></p>
<p>&nbsp;</p>
<p><img class="aligncenter size-full wp-image-506" src="https://www.fetchfitlife.com/wp-content/uploads/2018/07/coaster5_ds.jpg" alt="" width="1920" height="1280" srcset="https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/24232308/coaster5_ds.jpg 1920w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/24232308/coaster5_ds-600x400.jpg 600w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/24232308/coaster5_ds-300x200.jpg 300w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/24232308/coaster5_ds-768x512.jpg 768w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/24232308/coaster5_ds-1170x780.jpg 1170w" sizes="(max-width: 1920px) 100vw, 1920px" /></p>
<p><i><span style="font-weight: 400;">Did you try this tutorial? How’d it go? Share a picture of your finished project with us for a chance to be featured!</span></i></p>
<p>&nbsp;</p>
]]></content:encoded>
			<wfw:commentRss>https://fetchfitlife.com/2018/07/27/diy-pet-picture-coasters/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
