<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Fitness &#8211; FetchFit</title>
	<atom:link href="https://fetchfitlife.com/category/fitness/feed/" rel="self" type="application/rss+xml" />
	<link>http://fetchfitlife.com/</link>
	<description>Women&#039;s Fitness and Pet Lifestyle Blog</description>
	<lastBuildDate>Sun, 26 Jul 2020 22:18:08 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.5</generator>

<image>
	<url>https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/19004744/fetchfit-logo-100x100.png</url>
	<title>Fitness &#8211; FetchFit</title>
	<link>http://fetchfitlife.com/</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Breaking Free From The Comparison Trap</title>
		<link>https://fetchfitlife.com/2019/05/08/breaking-free-from-the-comparison-trap/</link>
		<comments>https://fetchfitlife.com/2019/05/08/breaking-free-from-the-comparison-trap/#respond</comments>
		<pubDate>Wed, 08 May 2019 09:00:52 +0000</pubDate>
		<dc:creator><![CDATA[Quinn Barefoot]]></dc:creator>
				<category><![CDATA[Fitness]]></category>
		<category><![CDATA[Spiritual Fitness]]></category>

		<guid isPermaLink="false">https://www.fetchfitlife.com/?p=577</guid>
		<description><![CDATA[As I scroll through my Instagram feed I see so many of my friends talking about about how great their day is going, how amazing they felt after an incredible workout, and one even shared a picture of that cool new place they tried for lunch today. &#160; Wow, they seem to be doing well. It looks like they have their lives together. I should really start trying to live like that. &#160; I keep scrolling and see images of celebrities I follow just hanging out and “living the life” with all of their fellow rich, talented, and drop-dead gorgeous friends. &#160; How much better would life be if I could have what they have or look how they look? &#160; And that’s where I catch myself and realize that I’ve fallen into the comparison trap once again. I look up from my phone and take a minute to reflect on what I just saw. Next I think about how silly those little thoughts were… I know they aren’t the slightest bit true, but is that really how I feel? I know people hardly post the raw, real details of life on social media. They never say anything about how [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><span style="font-weight: 400;">As I scroll through my Instagram feed I see so many of my friends talking about about how great their day is going, how amazing they felt after an incredible workout, and one even shared a picture of that cool new place they tried for lunch today. </span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">Wow, they seem to be doing well. It looks like they have their lives together. I should really start trying to live like that.</span></i></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">I keep scrolling and see images of celebrities I follow just hanging out and “living the life” with all of their fellow rich, talented, and drop-dead gorgeous friends.</span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">How much better would life be if I could have what they have or look how they look? </span></i></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">And that’s where I catch myself and realize that I’ve fallen into the comparison trap once again. I look up from my phone and take a minute to reflect on what I just saw. Next I think about how silly those little thoughts were… I know they aren’t the slightest bit true, but is that really how I feel? I know people hardly post the raw, real details of life on social media. They never say anything about how they’ve been fighting with their husband, how they just gained 5 pounds, and they would never dare to mention anything regarding their financial struggles.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">But the scary thing is that I often don’t catch myself before falling into the comparison trap. I see these amazing pictures and videos, read all of the well thought out captions, and listen to the little lies that tell me how much better off I’d be if I could just have what they have, look how they look, and be loved like they’re loved. </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">The comparison trap is something that affects most of us in some way or another. It’s human nature to believe that the grass is greener on the other side, we all do it. However, the scariest thing I’ve noticed is that social media has transformed our desires from keeping up with the Joneses into keeping up with the Kardashians.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">So what would it look like if we were to realize the truth and know that our lives are so much more than those perfectly posed, ultra edited pictures we put out on social media? Well, I think it would truly change the way we live.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">When we are finally able to step back and look at the bigger picture we not only realize how social media is deceitful, but we also see just how irrelevant those things we think will make us happy really are. Like, think about it, will owning a new pair of jeans like that pretty model has on really make your day better? Will being able to capture a cool picture of a sunset fulfil your life’s calling? Will having a nicely decorated home like your friend has really fill that void inside of you? </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Don’t you see how putting everything into perspective really makes what we think we want in life sound so silly? We all have a void in our hearts that we long to fill, and even though none of these earthly desires will quench our thirst for purpose, there is something that will: Christ.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">If you are found in Christ you know that there is so much more to life than these petty, silly things we think we need. Don’t get me wrong, I’m constantly catching myself trying to fill up my life with these empty promises, but recently I’ve been reminded of God’s truth and how he wants me to live. The first thing I’ve learned is that it’s not just about what we do, but it’s about the condition of hearts. </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">There are so many different factors behind each of our desires and actions. For example, I want my hair to look good in a picture that I post on Instagram so that others will see it and give me compliments. Yes, compliments sound nice, but why do I want them? Well, I want compliments because I want to feel like I’m good at something, I want to feel like I’ve made an achievement, I want to feel loved, and I want to be noticed… so I post a picture of myself where I think my hair looks good.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Instead of going through this whole ordeal, I have to remember that my identity is not found in any of these things, but instead it is found in Christ. My thinking should go something like this instead: I am loved by God and I am his child. My hope is in Christ and I don’t need the approval from people in this world, especially not my Instagram followers. God will be the one who fills me with peace, joy, and hope, nothing else will ever be able to compare to what God can give me.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Have you found yourself in the comparison trap recently? Below are some of my favorite Bible verses that remind me where my identity and purpose is truly found. I hope that these truths can also help you to break free from the comparison trap today.</span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">“For we know that our old self was crucified with him so that the body ruled by sin might be done away with, that we should no longer be slaves to sin— because anyone who has died has been set free from sin.”</span></i></p>
<p><span style="font-weight: 400;">Romans 6:6-7</span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">“Before I formed you in the womb I knew you, before you were born I set you apart; I appointed you as a prophet to the nations.”</span></i></p>
<p><span style="font-weight: 400;">Jeremiah 1:5</span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">“But you are a chosen people, a royal priesthood, a holy nation, God’s special possession, that you may declare the praises of him who called you out of darkness into his wonderful light.”</span></i></p>
<p><span style="font-weight: 400;">1 Peter 2:9</span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">“Do you not know that your bodies are temples of the Holy Spirit, who is in you, whom you have received from God? You are not your own; you were bought at a price. Therefore honor God with your bodies.”</span></i></p>
<p><span style="font-weight: 400;">1 Corinthians 6:19-20</span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">“See what great love the Father has lavished on us, that we should be called children of God! And that is what we are! The reason the world does not know us is that it did not know him.”</span></i></p>
<p><span style="font-weight: 400;">1 John 3:1</span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">What are some of your favorite Bible verses? Let us know in the comments section!</span></i></p>
]]></content:encoded>
			<wfw:commentRss>https://fetchfitlife.com/2019/05/08/breaking-free-from-the-comparison-trap/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Which Workout Shoes Are Right For Me?</title>
		<link>https://fetchfitlife.com/2019/03/04/which-workout-shoes-are-right-for-me/</link>
		<comments>https://fetchfitlife.com/2019/03/04/which-workout-shoes-are-right-for-me/#respond</comments>
		<pubDate>Mon, 04 Mar 2019 10:00:10 +0000</pubDate>
		<dc:creator><![CDATA[Quinn Barefoot]]></dc:creator>
				<category><![CDATA[Editor's Fitness Picks]]></category>
		<category><![CDATA[Fitness]]></category>
		<category><![CDATA[Physical Fitness]]></category>

		<guid isPermaLink="false">https://www.fetchfitlife.com/?p=586</guid>
		<description><![CDATA[It’s incredible how much our feet can do! Sure, they may not be the most attractive part of our body, but our life certainly wouldn’t be the same without them. And, that is why taking care of our feet is not only important to our fitness life, but also to our everyday health! &#160; That being said, picking out the right shoes is of the utmost importance. Not only can a good pair of shoes maximize your workout, but they can also serve to protect and cushion those precious feet of yours! You probably know that shoes can get quite pricey, but let me assure you that a good pair of workout shoes is worth the splurge. And, although you can use some shoes for various activities, if you spend a lot of time focusing on a certain sport, there are specific shoes that can help take your workout to a whole new level. &#160; Training Shoes &#160; Training shoes are the best shoes to use if you participate in various types of workouts throughout the week. These shoes are typically built for multi-directional movement and the sole is pretty flat, which allows for a wider range of motion. Training [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><span style="font-weight: 400;">It’s incredible how much our feet can do! Sure, they may not be the most attractive part of our body, but our life certainly wouldn’t be the same without them. And, that is why taking care of our feet is not only important to our fitness life, but also to our everyday health!</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">That being said, picking out the right shoes is of the utmost importance. Not only can a good pair of shoes maximize your workout, but they can also serve to protect and cushion those precious feet of yours! You probably know that shoes can get quite pricey, but let me assure you that a good pair of workout shoes is worth the splurge. And, although you can use some shoes for various activities, if you spend a lot of time focusing on a certain sport, there are specific shoes that can help take your workout to a whole new level.</span></p>
<p>&nbsp;</p>
<h2><b>Training Shoes</b></h2>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Training shoes are the best shoes to use if you participate in various types of workouts throughout the week. These shoes are typically built for multi-directional movement and the sole is pretty flat, which allows for a wider range of motion. Training shoes are a great multipurpose option that you should have in your gym bag at all times. Try <a href="https://www.amazon.com/Nike-Free-Womens-Shoes-Black-White/dp/B014GNBTJ2/ref=sr_1_8?s=apparel&amp;ie=UTF8&amp;qid=1531485906&amp;sr=1-8&amp;nodeID=7147440011&amp;psd=1&amp;keywords=training+shoes" target="_blank" rel="noopener">Nike Free TR 6</a> or <a href="https://www.amazon.com/New-Balance-Agility-Trainer-Vintage/dp/B01N77XR7Y/ref=sr_1_24?s=apparel&amp;ie=UTF8&amp;qid=1531485984&amp;sr=1-24&amp;nodeID=7147440011&amp;psd=1&amp;keywords=training+shoes" target="_blank" rel="noopener">New Balance Women’s Agility V2 Cross Trainer</a></span></p>
<div id="attachment_821" style="width: 860px" class="wp-caption aligncenter"><a href="https://www.amazon.com/Nike-Free-Womens-Shoes-Black-White/dp/B00BR7EDLM/ref=sr_1_8?s=apparel&amp;ie=UTF8&amp;qid=1531485906&amp;sr=1-8&amp;nodeID=7147440011&amp;psd=1&amp;keywords=training%2Bshoes&amp;th=1" rel="attachment wp-att-821"><img class="wp-image-821" src="https://www.fetchfitlife.com/wp-content/uploads/2018/07/NikeFreeTR6_ds.jpg" alt="" width="850" height="567" srcset="https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02233752/NikeFreeTR6_ds.jpg 1920w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02233752/NikeFreeTR6_ds-300x200.jpg 300w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02233752/NikeFreeTR6_ds-768x512.jpg 768w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02233752/NikeFreeTR6_ds-1170x780.jpg 1170w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02233752/NikeFreeTR6_ds-600x400.jpg 600w" sizes="(max-width: 850px) 100vw, 850px" /></a><p class="wp-caption-text"><a href="https://www.amazon.com/Nike-Free-Womens-Shoes-Black-White/dp/B00BR7EDLM/ref=sr_1_8?s=apparel&amp;ie=UTF8&amp;qid=1531485906&amp;sr=1-8&amp;nodeID=7147440011&amp;psd=1&amp;keywords=training%2Bshoes&amp;th=1">Womens Nike Free TR 6 Training Shoes</a></p></div>
<div id="attachment_823" style="width: 860px" class="wp-caption aligncenter"><a href="https://www.amazon.com/New-Balance-Agility-Trainer-Vintage/dp/B075R7RBQ2/ref=sr_1_24?s=apparel&amp;ie=UTF8&amp;qid=1531485984&amp;sr=1-24&amp;nodeID=7147440011&amp;psd=1&amp;keywords=training%2Bshoes&amp;th=1" rel="attachment wp-att-823"><img class="wp-image-823" src="https://www.fetchfitlife.com/wp-content/uploads/2018/07/newbalanceagilityv2cross_ds.jpg" alt="" width="850" height="567" srcset="https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02233828/newbalanceagilityv2cross_ds.jpg 1920w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02233828/newbalanceagilityv2cross_ds-300x200.jpg 300w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02233828/newbalanceagilityv2cross_ds-768x512.jpg 768w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02233828/newbalanceagilityv2cross_ds-1170x780.jpg 1170w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02233828/newbalanceagilityv2cross_ds-600x400.jpg 600w" sizes="(max-width: 850px) 100vw, 850px" /></a><p class="wp-caption-text"><a href="https://www.amazon.com/New-Balance-Agility-Trainer-Vintage/dp/B01N77XR7Y/ref=sr_1_24?s=apparel&amp;ie=UTF8&amp;qid=1531485984&amp;sr=1-24&amp;nodeID=7147440011&amp;psd=1&amp;keywords=training+shoes" target="_blank" rel="noopener"><span style="font-weight: 400;">New Balance Women&#8217;s FuelCoreAgility V2 Cross Trainer</span></a></p></div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h2><b>Crossfit Shoes</b></h2>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Yep, there’s a shoe for that! Crossfit require a lot of movement, and there have been shoes specifically designed to give your feet more stability while doing this intense workout. Crossfit shoes are designed to give you better balance and support, thus increasing your overall safety. </span></p>
<p><span style="font-weight: 400;">Reebok has a great line of Crossfit shoes, try the </span><a href="https://www.amazon.com/Reebok-Crossfit-Nano-Training-Fearless/dp/B010VBHA6Y/ref=sr_1_8?s=apparel&amp;ie=UTF8&amp;qid=1531486065&amp;sr=1-8&amp;nodeID=7147440011&amp;psd=1&amp;keywords=crossfit+shoes" target="_blank" rel="noopener"><span style="font-weight: 400;">Reebok Women&#8217;s Crossfit Nano 5.0</span></a></p>
<p>&nbsp;</p>
<div id="attachment_824" style="width: 860px" class="wp-caption aligncenter"><a href="https://www.amazon.com/Reebok-Crossfit-Nano-Training-Fearless/dp/B00TXFUTS6/ref=sr_1_8?s=apparel&amp;ie=UTF8&amp;qid=1531486065&amp;sr=1-8&amp;nodeID=7147440011&amp;psd=1&amp;keywords=crossfit%2Bshoes&amp;th=1" rel="attachment wp-att-824"><img class="wp-image-824" src="https://www.fetchfitlife.com/wp-content/uploads/2018/07/reebokcrossfitnano5_ds.jpg" alt="" width="850" height="567" srcset="https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02233906/reebokcrossfitnano5_ds.jpg 1920w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02233906/reebokcrossfitnano5_ds-300x200.jpg 300w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02233906/reebokcrossfitnano5_ds-768x512.jpg 768w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02233906/reebokcrossfitnano5_ds-1170x780.jpg 1170w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02233906/reebokcrossfitnano5_ds-600x400.jpg 600w" sizes="(max-width: 850px) 100vw, 850px" /></a><p class="wp-caption-text"><a href="https://www.amazon.com/Reebok-Crossfit-Nano-Training-Fearless/dp/B010VBHA6Y/ref=sr_1_8?s=apparel&amp;ie=UTF8&amp;qid=1531486065&amp;sr=1-8&amp;nodeID=7147440011&amp;psd=1&amp;keywords=crossfit+shoes" target="_blank" rel="noopener"><span style="font-weight: 400;">Reebok Women&#8217;s Crossfit Nano 5.0</span></a></p></div>
<p>&nbsp;</p>
<h2><b>Spinning Shoes And Cleats</b></h2>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">If spin classes are your thing, you’re going to love these! There are shoes and cleats made specifically for avid indoor cyclers like yourself. These shoes have the ability to click into the pedal of most spinning bikes, locking your feet into position and thus leading to a more effective workout. Try <a href="https://www.amazon.com/Tommaso-Pista-Womens-Class-Cycling/dp/B076TQK8ZZ/ref=sr_1_2_sspa?s=apparel&amp;ie=UTF8&amp;qid=1531487417&amp;sr=1-2-spons&amp;nodeID=7147440011&amp;psd=1&amp;keywords=spinning+shoes&amp;psc=1" target="_blank" rel="noopener">Tommaso Pista 100 Women&#8217;s Spin Class Ready Cycling Shoe with Compatible Cleat </a></span></p>
<div id="attachment_825" style="width: 860px" class="wp-caption aligncenter"><a href="https://www.amazon.com/Tommaso-Pista-Womens-Class-Cycling/dp/B079R4FRND/ref=sr_1_2_sspa?s=apparel&amp;ie=UTF8&amp;qid=1531487417&amp;sr=1-2-spons&amp;nodeID=7147440011&amp;psd=1&amp;keywords=spinning%2Bshoes&amp;th=1&amp;psc=1" rel="attachment wp-att-825"><img class="wp-image-825" src="https://www.fetchfitlife.com/wp-content/uploads/2018/07/tommasopista_ds.jpg" alt="" width="850" height="567" srcset="https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02234128/tommasopista_ds.jpg 1920w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02234128/tommasopista_ds-300x200.jpg 300w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02234128/tommasopista_ds-768x512.jpg 768w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02234128/tommasopista_ds-1170x780.jpg 1170w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02234128/tommasopista_ds-600x400.jpg 600w" sizes="(max-width: 850px) 100vw, 850px" /></a><p class="wp-caption-text"><span style="font-weight: 400;"><a href="https://www.amazon.com/Tommaso-Pista-Womens-Class-Cycling/dp/B076TQK8ZZ/ref=sr_1_2_sspa?s=apparel&amp;ie=UTF8&amp;qid=1531487417&amp;sr=1-2-spons&amp;nodeID=7147440011&amp;psd=1&amp;keywords=spinning+shoes&amp;psc=1" target="_blank" rel="noopener">Tommaso Pista 100 Women&#8217;s Spin Class Ready Cycling Shoe with Compatible Cleat </a></span></p></div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h2><b>Distance Running Shoes</b></h2>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">If you’re running miles at a time, you’re going to want to make sure your feet are in the best shoes possible! Distance running shoes are especially durable, lightweight and comfortable, making those long runs outside even more enjoyable. There are two types of distance running shoes that are each designed for different terrains: road-running and trail-running. Consider what types of runs you do more often and research shoes accordingly. Brooks and Asics make some of the best running shoes. Try <a href="https://www.amazon.com/Brooks-Womens-Revel-Anthracite-Athletic/dp/B01N073AO0/ref=sr_1_10?s=apparel&amp;ie=UTF8&amp;qid=1531487523&amp;sr=1-10&amp;nodeID=7147440011&amp;psd=1&amp;keywords=distance+running+shoes" target="_blank" rel="noopener">Brooks Womens Revel</a> or <a href="https://www.amazon.com/ASICS-Womens-GT-2000-Trail-Clover/dp/B071P2Z2SB/ref=sr_1_4?s=apparel&amp;ie=UTF8&amp;qid=1531487587&amp;sr=1-4&amp;nodeID=7147440011&amp;psd=1&amp;keywords=distance+running+shoes+asics" target="_blank" rel="noopener">Asics GT-2000 6 Trail Women&#8217;s Running Shoes</a></span></p>
<div id="attachment_827" style="width: 860px" class="wp-caption aligncenter"><a href="https://www.amazon.com/Brooks-Womens-Revel-Anthracite-Athletic/dp/B01N073AO0/ref=sr_1_10?s=apparel&amp;ie=UTF8&amp;qid=1531487523&amp;sr=1-10&amp;nodeID=7147440011&amp;psd=1&amp;keywords=distance+running+shoes" rel="attachment wp-att-827"><img class="wp-image-827" src="https://www.fetchfitlife.com/wp-content/uploads/2018/07/brooksrevel_ds.jpg" alt="" width="850" height="567" srcset="https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02234332/brooksrevel_ds.jpg 1920w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02234332/brooksrevel_ds-300x200.jpg 300w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02234332/brooksrevel_ds-768x512.jpg 768w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02234332/brooksrevel_ds-1170x780.jpg 1170w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02234332/brooksrevel_ds-600x400.jpg 600w" sizes="(max-width: 850px) 100vw, 850px" /></a><p class="wp-caption-text"><a href="https://www.amazon.com/Brooks-Womens-Revel-Anthracite-Athletic/dp/B01N073AO0/ref=sr_1_10?s=apparel&amp;ie=UTF8&amp;qid=1531487523&amp;sr=1-10&amp;nodeID=7147440011&amp;psd=1&amp;keywords=distance+running+shoes" target="_blank" rel="noopener"><span style="font-weight: 400;">Brooks Womens Revel</span></a></p></div>
<p>&nbsp;</p>
<div id="attachment_826" style="width: 860px" class="wp-caption aligncenter"><a href="https://www.amazon.com/ASICS-Womens-GT-2000-Trail-Clover/dp/B071P2Z2SB/ref=sr_1_4?s=apparel&amp;ie=UTF8&amp;qid=1531487587&amp;sr=1-4&amp;nodeID=7147440011&amp;psd=1&amp;keywords=distance+running+shoes+asics" rel="attachment wp-att-826"><img class="wp-image-826" src="https://www.fetchfitlife.com/wp-content/uploads/2018/07/asicsgt_ds.jpg" alt="" width="850" height="567" srcset="https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02234327/asicsgt_ds.jpg 1920w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02234327/asicsgt_ds-300x200.jpg 300w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02234327/asicsgt_ds-768x512.jpg 768w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02234327/asicsgt_ds-1170x780.jpg 1170w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02234327/asicsgt_ds-600x400.jpg 600w" sizes="(max-width: 850px) 100vw, 850px" /></a><p class="wp-caption-text"><a href="https://www.amazon.com/ASICS-Womens-GT-2000-Trail-Clover/dp/B071P2Z2SB/ref=sr_1_4?s=apparel&amp;ie=UTF8&amp;qid=1531487587&amp;sr=1-4&amp;nodeID=7147440011&amp;psd=1&amp;keywords=distance+running+shoes+asics" target="_blank" rel="noopener"><span style="font-weight: 400;">Asics GT-2000 6 Trail Women&#8217;s Running Shoes</span></a></p></div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h2><b>Get Professional Help When Choosing Shoes</b></h2>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Employees in athletic shoe stores really do know best! And, did you know there are even some stores that can use specially designed technology to measure feet and fit you to the perfect shoe? They can measure your arch support, tell you if your feet turn in or out while walking, and even find out what part of the foot you put the most pressure on. It’s like a sporty Cinderella story! </span></p>
<p>&nbsp;</p>
<p><a href="http://stores.newbalance.com/pro_fit.aspx" target="_blank" rel="noopener"><span style="font-weight: 400;">New Balance</span></a><span style="font-weight: 400;"> is a major retailer that does a great job fitting their customers with the perfect shoe. </span><a href="https://www.fleetfeet.com/" target="_blank" rel="noopener"><span style="font-weight: 400;">Fleet Feet</span></a><span style="font-weight: 400;"> is another shop that does a great job matching your feet with the right shoes… and all of their stores are locally owned and operated!</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Remember: happy feet lead to a better workout!</span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">What is your favorite brand or type of shoe? Let us know so we can help spread the news!</span></i></p>
]]></content:encoded>
			<wfw:commentRss>https://fetchfitlife.com/2019/03/04/which-workout-shoes-are-right-for-me/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>When All You Have Still Isn’t Enough</title>
		<link>https://fetchfitlife.com/2019/02/13/when-all-you-have-still-isnt-enough/</link>
		<comments>https://fetchfitlife.com/2019/02/13/when-all-you-have-still-isnt-enough/#respond</comments>
		<pubDate>Wed, 13 Feb 2019 11:00:27 +0000</pubDate>
		<dc:creator><![CDATA[Quinn Barefoot]]></dc:creator>
				<category><![CDATA[Fitness]]></category>
		<category><![CDATA[Spiritual Fitness]]></category>

		<guid isPermaLink="false">https://www.fetchfitlife.com/?p=649</guid>
		<description><![CDATA[If at first you don&#8217;t succeed, try, try, try again. &#160; But what if you’ve tried? What if you’ve really tried, tried, and tried again? And then you try 100 more times and still aren’t any closer to succeeding? You keep trying, keep failing, and now the discouragement is setting in. &#160; I’ve tried so hard. I’ve literally done everything I can. Why is it still not enough? &#160; Maybe you’ve been trying to eat better and work out everyday but still aren’t seeing the fruits of your labor reflected on the scale. Or maybe you are working as hard as you possibly can at your job but all of those extra hours go unnoticed and you still get laid off. Or are you the woman who’s been doing everything in your power to save your marriage but still aren’t seeing any progress? You pray over your children everyday but get a call from their school about something police found in their locker. You take care of your health and see a doctor regularly, but then they diagnose you with cancer. You work hard to save up money but then your car breaks down and you’re forced to liquidate everything [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><i><span style="font-weight: 400;">If at first you don&#8217;t succeed, try, try, try again. </span></i></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">But what if you’ve tried? What if you’ve really tried, tried, and tried again? And then you try 100 more times and still aren’t any closer to succeeding? You keep trying, keep failing, and now the discouragement is setting in. </span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">I’ve tried so hard. I’ve literally done everything I can. Why is it still not enough? </span></i></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Maybe you’ve been trying to eat better and work out everyday but still aren’t seeing the fruits of your labor reflected on the scale. Or maybe you are working as hard as you possibly can at your job but all of those extra hours go unnoticed and you still get laid off. Or are you the woman who’s been doing everything in your power to save your marriage but still aren’t seeing any progress? You pray over your children everyday but get a call from their school about something police found in their locker. You take care of your health and see a doctor regularly, but then they diagnose you with cancer. You work hard to save up money but then your car breaks down and you’re forced to liquidate everything you’ve worked so hard for… and the list goes on. You work, you try, you fail. Over and over again.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Whatever it is you’re working at, you give it everything you have. But, in the end, it’s still not enough. I’m sorry to be the one to tell you this, but you have no control. There is nothing you can do. </span></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Nothing. Nada. Zip. </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">But there is someone who does have control. And let me tell you, what He has planned for you is so much better&#8230; it just takes patience and trust on your part. </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">I’ve found myself stuck so many times in my life. Recently I’ve been stuck in a situation where I’ve tried literally everything to solve my problems and the circumstances still remained the same. But, low and behold, God has been using this season of despair to take the attention off of what’s been happening in my life and instead putting the focus on the condition of my heart. </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Just two months ago I felt like I was all set. I had been working so hard at my job and my husband and I had saved up as much as we could to buy our first home. We found the most beautiful plot of land, picked out all our finishes, and even put down a builder deposit. We worked so hard for this moment, and we were beyond excited to see our home be built from the ground up. We checked in on the house several times a week, driving through the development and getting more and more excited everytime we saw progress being made. One day we drove by and the house was officially framed, so we got out of the car and walked in. I stood in what would soon be the living room and started planning out where we would put our furniture, what we would hang on the walls, and I even found the perfect spot for our Christmas tree. We walked out of the house and drove back to our rental home, counting down the days until we would officially be able to pack up and move onto this new stage of life, this new stage that we’d both worked so hard for.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">And then, of course, everything came crashing down. I lost my job suddenly. Everything I had worked so hard for was just stripped away. I had no guarantee of income, no security for the future, and no possible means of securing a mortgage for the home we planned on moving into in just two more short months. </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">I was absolutely crushed. I felt as if I had done everything I could, but that still wasn’t enough, and now my husband had to work twice as hard to keep us afloat as I scrambled to find something to bring in income. Something to fill my time with. Something that would give me purpose. </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">But that’s when God revealed the biggest truth to me: the crooked condition of my heart. I worked, I had plans, I had dreams, but what I failed to realize is that these were all mine, not God’s. And, boy oh boy, did God let me know that.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">I was a mess, but it was the most beautiful kind of mess I’d ever been. I could no longer rely on myself or what I could do, instead I had to trust fully on God. And you know what happened when I did? It all started coming together perfectly.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">God provided. He provided in amazing ways that I can’t even begin to explain. I still don’t have a guarantee of what my life will look like next month, but do any of us really? God took this brokenness to remind me that He is the only one who dictates my future, and it’s at the point where I am more at peace now even though I don’t know what the future looks like then when I had everything planned out. </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Now, that’s grace. </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Are you stuck today? Have you found that you’re caught up in that vicious cycle of trying and failing? It’s time to give it up. It’s time to surrender. It’s time to stop relying on yourself and put every ounce of your trust in the Lord. </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">There is so much more I can say about surrendering, but the Bible puts it more beautifully than I ever could. I pray that you are encouraged by all God promises us in these verses below:</span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">“Trust in the LORD with all your heart and lean not on your own understanding; in all your ways submit to him, and he will make your paths straight.</span></i><span style="font-weight: 400;">” -Proverbs 3:5-6</span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">“being confident of this, that he who began a good work in you will carry it on to completion until the day of Christ Jesus.” &#8211;</span></i><span style="font-weight: 400;">Philippians 1:6 NIV</span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">“Now listen, you who say, ‘Today or tomorrow we will go to this or that city, spend a year there, carry on business and make money.’ Why, you do not even know what will happen tomorrow. What is your life? You are a mist that appears for a little while and then vanishes. Instead, you ought to say, ‘If it is the Lord’s will, we will live and do this or that.’”</span></i><span style="font-weight: 400;"> -James 4:13-15</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">And my all time favorite:</span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">“Therefore I tell you, do not worry about your life, what you will eat or drink; or about your body, what you will wear. Is not life more than food, and the body more than clothes? Look at the birds of the air; they do not sow or reap or store away in barns, and yet your heavenly Father feeds them. Are you not much more valuable than they? Can any one of you by worrying add a single hour to your life? And why do you worry about clothes? See how the flowers of the field grow. They do not labor or spin. Yet I tell you that not even Solomon in all his splendor was dressed like one of these. If that is how God clothes the grass of the field, which is here today and tomorrow is thrown into the fire, will he not much more clothe you—you of little faith? So do not worry, saying, ‘What shall we eat?’ or ‘What shall we drink?’ or ‘What shall we wear?’ For the pagans run after all these things, and your heavenly Father knows that you need them. But seek first his kingdom and his righteousness, and all these things will be given to you as well. Therefore do not worry about tomorrow, for tomorrow will worry about itself. Each day has enough trouble of its own.”</span></i><span style="font-weight: 400;"> -Matthew 6:25-34</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">So, would you join me at the cross today? It’s time to get on our knees and ask God to pick us back up.</span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">Were you encouraged by this story? We would love to pray for you! Please leave us a comment or send us a message with any prayer requests you have. </span></i></p>
]]></content:encoded>
			<wfw:commentRss>https://fetchfitlife.com/2019/02/13/when-all-you-have-still-isnt-enough/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>How To Start Working Out Again After A Long Break… And 5 Ways You Can Actually Stick To It!</title>
		<link>https://fetchfitlife.com/2019/01/07/how-to-start-working-out-again-after-a-long-break-and-5-ways-you-can-actually-stick-to-it/</link>
		<comments>https://fetchfitlife.com/2019/01/07/how-to-start-working-out-again-after-a-long-break-and-5-ways-you-can-actually-stick-to-it/#respond</comments>
		<pubDate>Mon, 07 Jan 2019 10:00:49 +0000</pubDate>
		<dc:creator><![CDATA[Quinn Barefoot]]></dc:creator>
				<category><![CDATA[Fitness]]></category>
		<category><![CDATA[Physical Fitness]]></category>
		<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://www.fetchfitlife.com/?p=426</guid>
		<description><![CDATA[It’s no secret that sticking to a consistent workout routine is much easier said than done. If you’re anything like me, you know that it’s easy to get motivated and sprint out of the starting gate. However, as soon as you start skipping out on workouts, that seed of motivation quickly withers away just as fast as it sprung up. &#160; Trust me, I know how difficult it is to start working out again after taking a (sometimes embarrassingly long) break. But you know what? I started running again, and I’ve kept at it! I know that creating healthy habits isn’t easy, but I did it… and here’s 5 ways you can to: 1. Stop the excuses. Just stop. &#160; There are many different reasons you probably give as to why you can’t seem to consistently workout. And to be honest, I’ve given every excuse in the book. I’m too busy. It’s too hot outside to run. It’s too cold outside to run. I’m tired today. I’ve got so many other things I’ve got to deal with right now. Oh, and my personal favorite:  I don’t feel like it. &#160; We can think of a million different reasons as to [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><span style="font-weight: 400;">It’s no secret that sticking to a consistent workout routine is much easier said than done. If you’re anything like me, you know that it’s easy to get motivated and sprint out of the starting gate. However, as soon as you start skipping out on workouts, that seed of motivation quickly withers away just as fast as it sprung up.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Trust me, I know how difficult it is to start working out again after taking a (sometimes embarrassingly long) break. But you know what? I started running again, and I’ve kept at it! I know that creating healthy habits isn’t easy, but I did it… and here’s 5 ways you can to:</span></p>
<h2><b>1. Stop the excuses. Just stop.</b></h2>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">There are many different reasons you probably give as to why you can’t seem to consistently workout. And to be honest, I’ve given every excuse in the book</span><i><span style="font-weight: 400;">. I’m too busy. It’s too hot outside to run. It’s too cold outside to run. I’m tired today. I’ve got so many other things I’ve got to deal with right now. </span></i><span style="font-weight: 400;">Oh, and my personal favorite: </span><i><span style="font-weight: 400;"> I don’t feel like it. </span></i></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">We can think of a million different reasons as to why we choose to skip our workout. But that’s exactly what they are: excuses. So why don’t we start with being honest? Often times we put exercise on our “to do” list, but it’s never the top priority. Sure we may have things we have to do like work, school, taking care of the kids, or paying the bills. But you know what? Your health is a priority too! In fact, you can’t even accomplish any of those other tasks if you aren’t healthy enough! So let’s stop making excuses and start being honest with ourselves, would you take that first step with us?</span></p>
<p>&nbsp;</p>
<h2><b>2. Set a (realistic) goal.</b></h2>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Ok, maybe you’re one of those people who has “running a marathon” written down on your bucket list. But if you’ve taken a month off from working out, saying you want to be in marathon-running shape a few weeks down the road is probably unrealistic. And if you don’t stay on track or keep a consistent routine, discouragement is unavoidable.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Setting a realistic goal is a great place to start. A 26.2 mile race may take a few years to build up to, but how about 3.1 miles? If you want to start running, find a 5K race going on in your area. And if the race supports a great cause, well then that’s even better! There are always great races posted on websites like </span><a href="https://www.runnersworld.com/race-finder" target="_blank" rel="noopener"><span style="font-weight: 400;">Runner’s World</span></a><span style="font-weight: 400;"> or </span><a href="https://www.active.com/" target="_blank" rel="noopener"><span style="font-weight: 400;">Active</span></a><span style="font-weight: 400;">! Not into running? Try a push-up or sit-up challenge. See how many you can do today, and then do as many as you can again tomorrow. Record the number you do each day and see how quickly you can improve! </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Want to work out to lose weight? Start by setting small weight loss goals. Dropping a few pounds each month isn’t too hard and it can really be encouraging. However, you shouldn’t convince yourself that you’re going to fit into a two-sizes-too-small dress by the summer. Not everyone loses weight at the same rate or in the same places, so don’t set yourself up for discouragement. Take it at your pace and see what works best for your body. If you keep up a healthy routine, you may not only start looking slimmer, but also feeling more energized!</span></p>
<p>&nbsp;</p>
<h2><b>3. Count on accountability</b></h2>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Let’s be honest, we slip up a lot. Having a workout accountability partner can be the key to consistency! Whether it’s a spouse who wants to workout with you, a friend who shoots you a quick text, or a child who wants to tag along with you to the park, having that friendly face encouraging you can really help push you to the next level.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">So write it on your calendar, create a Facebook page, or just ask some of your close friends to keep tabs on you. It’s harder to skip out on exercising when you have others watching!</span></p>
<p>&nbsp;</p>
<h2><b>4. Don’t dread it</b></h2>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Ok, so maybe you don’t like exercising. Or, if you’re being honest, you have a deeply rooted hatred of it. But you know what? Don’t you usually feel so much better after a good workout (well, after you finally catch your breath and stop sweating)? If you’re sitting in your car trying to decide between hitting the gym or Dunkin Donuts, think of that post-workout feeling. Yea, it may be tough to step on the treadmill, but once you get going it’s really not as bad as you thought!</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">And yes, we all have those days where we struggle to get through a simple set of crunches, but don’t be discouraged. Just think, at least you pushed yourself to get up and do it! Take some time afterwards to stretch so that tomorrow may be a little easier!</span></p>
<p>&nbsp;</p>
<h2><b>5. Make a game out of it</b></h2>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Believe it or not, working out can actually be enjoyable if you make a game out of it! Create a running playlist on </span><a href="https://www.spotify.com/" target="_blank" rel="noopener"><span style="font-weight: 400;">Spotify</span></a><span style="font-weight: 400;"> or </span><a href="https://www.amazon.com/gp/dmusic/promotions/PrimeMusic" target="_blank" rel="noopener"><span style="font-weight: 400;">Amazon Music</span></a> <span style="font-weight: 400;">with your favorite pump-up music. Choose certain songs that you will run fast to and others that are for a light jog. Put them in a specific order or just shuffle them up and see what happens! Are you into zombies? Download the </span><a href="https://zombiesrungame.com/" target="_blank" rel="noopener"><span style="font-weight: 400;">Zombies, Run!</span></a><span style="font-weight: 400;"> game app that will transplant you into a different world where you won’t be running to workout, you’ll be running to survive!</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">And did you know you can get rewarded by working out? </span><a href="https://www.walgreens.com/steps/brhc-loggedout.jsp" target="_blank" rel="noopener"><span style="font-weight: 400;">Walgreens Balance Rewards</span></a><span style="font-weight: 400;"> allows you to earn points for maintaining healthy behaviors that you can then use to save money! </span><a href="http://www.charitymiles.org/" target="_blank" rel="noopener"><span style="font-weight: 400;">Charity Miles</span></a><span style="font-weight: 400;"> is another app that will make a donation to charity for every mile you run… how cool is that?!</span></p>
<p>&nbsp;</p>
<h2><b>So, what’s next?</b></h2>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">It’s time to stop saying “one day I’ll start working out again” and finally make today the day. There are always a million reasons not to do something, but why not push past those excuses and start creating healthy habits now? Are you ready to take the challenge?</span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">Were you encouraged by these 5 tips? We’d love to hear about your own journey toward health! Send us a message or leave a comment for a chance to be featured on our site! </span></i></p>
]]></content:encoded>
			<wfw:commentRss>https://fetchfitlife.com/2019/01/07/how-to-start-working-out-again-after-a-long-break-and-5-ways-you-can-actually-stick-to-it/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Merry Christmas!</title>
		<link>https://fetchfitlife.com/2018/12/25/merry-christmas/</link>
		<comments>https://fetchfitlife.com/2018/12/25/merry-christmas/#respond</comments>
		<pubDate>Tue, 25 Dec 2018 06:00:21 +0000</pubDate>
		<dc:creator><![CDATA[Lauren Henderson]]></dc:creator>
				<category><![CDATA[Fitness]]></category>
		<category><![CDATA[Pet Lifestyle]]></category>
		<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://www.fetchfitlife.com/?p=786</guid>
		<description><![CDATA[Wishing you a very merry Christmas! &#160; May your holiday season with family and friends be filled with joy and love&#8230; &#160; &#160; May you have good times full of fun and laughter&#8230; &#160; &#160; May your home be warm and cozy, with time for naps between all the yummy food and treats&#8230; &#160; Merry Christmas from the ladies (and their pups) at FetchFit.]]></description>
				<content:encoded><![CDATA[<h1>Wishing you a very merry Christmas!</h1>
<p>&nbsp;</p>
<h3>May your holiday season with family and friends be filled with joy and love&#8230;</h3>
<p>&nbsp;</p>
<p><a href="https://www.fetchfitlife.com/?attachment_id=792" rel="attachment wp-att-792"><img class="aligncenter size-full wp-image-792" src="https://www.fetchfitlife.com/wp-content/uploads/2018/12/christmas_meeka2.jpg" alt="" width="668" height="1002" srcset="https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/12/24104034/christmas_meeka2.jpg 668w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/12/24104034/christmas_meeka2-200x300.jpg 200w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/12/24104034/christmas_meeka2-600x900.jpg 600w" sizes="(max-width: 668px) 100vw, 668px" /></a></p>
<p>&nbsp;</p>
<h3>May you have good times full of fun and laughter&#8230;</h3>
<p>&nbsp;</p>
<p><a href="https://www.fetchfitlife.com/?attachment_id=790" rel="attachment wp-att-790"><img class="aligncenter size-full wp-image-790" src="https://www.fetchfitlife.com/wp-content/uploads/2018/12/Christmas_Finley.jpg" alt="" width="5184" height="3456" srcset="https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/12/24103917/Christmas_Finley.jpg 5184w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/12/24103917/Christmas_Finley-300x200.jpg 300w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/12/24103917/Christmas_Finley-768x512.jpg 768w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/12/24103917/Christmas_Finley-1170x780.jpg 1170w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/12/24103917/Christmas_Finley-600x400.jpg 600w" sizes="(max-width: 5184px) 100vw, 5184px" /></a></p>
<p>&nbsp;</p>
<h3>May your home be warm and cozy, with time for naps between all the yummy food and treats&#8230;</h3>
<p>&nbsp;</p>
<p><a href="https://www.fetchfitlife.com/?attachment_id=789" rel="attachment wp-att-789"><img class="aligncenter size-full wp-image-789" src="https://www.fetchfitlife.com/wp-content/uploads/2018/12/Christmas_CassieandFinn.jpg" alt="" width="5184" height="3456" srcset="https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/12/24103904/Christmas_CassieandFinn.jpg 5184w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/12/24103904/Christmas_CassieandFinn-300x200.jpg 300w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/12/24103904/Christmas_CassieandFinn-768x512.jpg 768w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/12/24103904/Christmas_CassieandFinn-1170x780.jpg 1170w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/12/24103904/Christmas_CassieandFinn-600x400.jpg 600w" sizes="(max-width: 5184px) 100vw, 5184px" /></a></p>
<h2></h2>
<h2>Merry Christmas from the ladies (and their pups) at FetchFit.</h2>
]]></content:encoded>
			<wfw:commentRss>https://fetchfitlife.com/2018/12/25/merry-christmas/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Review For Your Brew: Contigo VS Ello Travel Mugs</title>
		<link>https://fetchfitlife.com/2018/11/14/review-for-your-brew-contigo-vs-ello-travel-mugs/</link>
		<comments>https://fetchfitlife.com/2018/11/14/review-for-your-brew-contigo-vs-ello-travel-mugs/#respond</comments>
		<pubDate>Wed, 14 Nov 2018 17:42:49 +0000</pubDate>
		<dc:creator><![CDATA[Quinn Barefoot]]></dc:creator>
				<category><![CDATA[Editor's Fitness Picks]]></category>
		<category><![CDATA[Fitness]]></category>

		<guid isPermaLink="false">https://www.fetchfitlife.com/?p=149</guid>
		<description><![CDATA[Coffee: the word alone has the ability to make many of us salivate the moment we hear it. I love coffee. Like I deeply, truly, unconditionally love coffee. I may even be addicted to it. And, you know it’s bad when you stop drinking coffee by the cup and start tallying up how many pots you have a day… but we won’t go there. &#160; Anyways… &#160; I’m an active woman who is always on the move, I need my coffee. And as any avid coffee lover knows, a good mug is required to indulge in your favorite brew. If you aren’t able to sit on your couch the entire time you’re sipping away (ah, what a life that would be), it’s necessary that you invest in a good, reliable travel mug. &#160; There are many travel mugs out there in a wide array of various price ranges. I mean, you can pick one up at the dollar store or even spend upwards of $100 on a mug (now that’s an entirely different level of coffee love). But from what I’ve noticed, there’s no need to drop that much cash on a coffee mug. In fact, my favorite mugs cost [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><span style="font-weight: 400;">Coffee: the word alone has the ability to make many of us salivate the moment we hear it. I love coffee. Like I deeply, truly, unconditionally love coffee. I may even be addicted to it. And, you know it’s bad when you stop drinking coffee by the cup and start tallying up how many pots you have a day… but we won’t go there.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Anyways…</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">I’m an active woman who is always on the move, I need my coffee. And as any avid coffee lover knows, a good mug is required to indulge in your favorite brew. If you aren’t able to sit on your couch the entire time you’re sipping away (ah, what a life that would be), it’s necessary that you invest in a good, reliable travel mug. </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">There are many travel mugs out there in a wide array of various price ranges. I mean, you can pick one up at the dollar store or even spend upwards of $100 on a mug (now that’s an entirely different level of coffee love). But from what I’ve noticed, there’s no need to drop that much cash on a coffee mug. In fact, my favorite mugs cost me between $10 and $20 each.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">The two go-to mugs that I chose to hold my precious liquid energy are a Contigo AUTOSEAL® West Loop mug and an Ello Campy vacuum insulated stainless steel travel mug. The two big claims each of these travel mugs boasts is: 1. They will keep your beverage hot or cold for hours, and 2. They are leak proof and spill proof. Even though they both earned a top spot in my coffee mug collection, there’s one mug I prefer over the other. Let’s take a closer look at each one:</span></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div id="attachment_166" style="width: 1930px" class="wp-caption aligncenter"><a href="https://www.amazon.com/Contigo-AUTOSEAL-Stainless-Steel-Travel/dp/B00HZI5XBG/ref=sr_1_3?ie=UTF8&amp;qid=1531583973&amp;sr=8-3&amp;keywords=contigo%2BAUTOSEAL%C2%AE%2BWest%2BLoop&amp;dpID=31PIjx260DL&amp;preST=_SY300_QL70_&amp;dpSrc=srch&amp;th=1" target="_blank" rel="noopener"><img class="wp-image-166 size-full" src="https://www.fetchfitlife.com/wp-content/uploads/2018/07/mugreview7.jpg" alt="" width="1920" height="1280" srcset="https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/04175351/mugreview7.jpg 1920w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/04175351/mugreview7-300x200.jpg 300w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/04175351/mugreview7-768x512.jpg 768w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/04175351/mugreview7-1024x683.jpg 1024w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/04175351/mugreview7-1170x780.jpg 1170w" sizes="(max-width: 1920px) 100vw, 1920px" /></a><p class="wp-caption-text">The sleek and practical <a href="https://www.amazon.com/Contigo-AUTOSEAL-Stainless-Steel-Travel/dp/B00HZI5XBG/ref=sr_1_3?ie=UTF8&amp;qid=1531583973&amp;sr=8-3&amp;keywords=contigo%2BAUTOSEAL%C2%AE%2BWest%2BLoop&amp;dpID=31PIjx260DL&amp;preST=_SY300_QL70_&amp;dpSrc=srch&amp;th=1" target="_blank" rel="noopener">Contigo AUTOSEAL® West Loop</a></p></div>
<p>&nbsp;</p>
<h2><b>Contigo AUTOSEAL® West Loop</b></h2>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Now this mug is pretty crazy. I’ll admit, I was intrigued by the product the first time I saw it at Target. The Contigo has AUTOSEAL® technology that claims to be both leak and spill proof, so if you’re a klutz like me, that’s a huge deal! I can’t even begin to tell you how many outfits, papers, even carpets I’ve ruined by spilling coffee. So yeah, my Contigo is probably saving me money at this point.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">How AUTOSEAL®  works: You have to press a little button on the top side of the mug that slides open a valve. It’s pretty simple: open the valve, gulp down coffee. You can open the valve easily with one hand and keep it open as you sip away. The fact that you can easily unlock the valve with one hand makes this mug perfect for when you are driving to the gym for an early morning workout, holding a baby, typing on your computer, or just too lazy to use both hands (admit it, we’ve all been there). Also, there is a button that allows you to lock the valve on top of the lid, a feature that I don’t use often but can be great for mothers who want to make sure their kids don’t swipe it off the counter and make a mess.</span></p>
<p>&nbsp;</p>
<div id="attachment_164" style="width: 1930px" class="wp-caption alignnone"><a href="https://www.amazon.com/Contigo-AUTOSEAL-Stainless-Steel-Travel/dp/B00HZI5XBG/ref=sr_1_3?ie=UTF8&amp;qid=1531583973&amp;sr=8-3&amp;keywords=contigo%2BAUTOSEAL%C2%AE%2BWest%2BLoop&amp;dpID=31PIjx260DL&amp;preST=_SY300_QL70_&amp;dpSrc=srch&amp;th=1" target="_blank" rel="noopener"><img class="wp-image-164 size-full" src="https://www.fetchfitlife.com/wp-content/uploads/2018/07/mugreview5.jpg" alt="" width="1920" height="1280" srcset="https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/04175346/mugreview5.jpg 1920w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/04175346/mugreview5-600x400.jpg 600w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/04175346/mugreview5-300x200.jpg 300w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/04175346/mugreview5-768x512.jpg 768w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/04175346/mugreview5-1024x683.jpg 1024w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/04175346/mugreview5-1170x780.jpg 1170w" sizes="(max-width: 1920px) 100vw, 1920px" /></a><p class="wp-caption-text">With a simple switch you can lock this travel mug up tight. You can be worry free of leaks and accidental spills.</p></div>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Another thing I love about this mug is that it keeps my coffee hot for hours on end. According to <a href="https://www.gocontigo.com/16-oz-autoseal-west-loop-stainless-travel-mug-with-easy-clean-lid.html" target="_blank" rel="noopener">Contigo</a></span><span style="font-weight: 400;">: “drinks stay hot up to 5 hours and cold up to 12 with THERMALOCK<img src="https://s.w.org/images/core/emoji/2.4/72x72/2122.png" alt="™" class="wp-smiley" style="height: 1em; max-height: 1em;" /> Vacuum Insulation”. I’ve found that claim to be reliable. In fact, whenever I screw on the top of the mug I always hear a little “puff” sound that lets me know my coffee is locked up tight and will be good for hours (which, honestly, it hardly ever takes me more than 30 minutes to gulp it down anyway).</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Personally, I think the only drawback to the Contigo mug is screwing it on. Sometimes I get a little carried away while pouring coffee into the mug and fill it a too close to the top. I hate having to pour it out, and it’s hard to sip enough scalding hot coffee off the top without burning my mouth (I know, the struggle is real). If I try to screw the top on when the liquid level is too high, it seeps out the sides and all over my hands since the valve at the top is sealed. It’s not a huge problem, just something to consider.</span></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h2><b>Ello Campy Vacuum Insulated Stainless Steel Travel Mug</b></h2>
<p>&nbsp;</p>
<div id="attachment_162" style="width: 1930px" class="wp-caption alignnone"><a href="https://www.amazon.com/Ello-Vacuum-Insulated-Stainless-Travel-Georgia/dp/B01FZD7MN4/ref=sr_1_3?ie=UTF8&amp;qid=1531584284&amp;sr=8-3&amp;keywords=ello%2Bcampy%2Bvacuum-insulated%2Bstainless%2Bsteel%2Btravel%2Bmug&amp;dpID=41VddzjN%252BCL&amp;preST=_SY300_QL70_&amp;dpSrc=srch&amp;th=1" target="_blank" rel="noopener"><img class="wp-image-162 size-full" src="https://www.fetchfitlife.com/wp-content/uploads/2018/07/mugreview3.jpg" alt="" width="1920" height="1280" srcset="https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/04175341/mugreview3.jpg 1920w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/04175341/mugreview3-600x400.jpg 600w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/04175341/mugreview3-300x200.jpg 300w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/04175341/mugreview3-768x512.jpg 768w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/04175341/mugreview3-1024x683.jpg 1024w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/04175341/mugreview3-1170x780.jpg 1170w" sizes="(max-width: 1920px) 100vw, 1920px" /></a><p class="wp-caption-text">The oh-so-cute<a href="https://www.amazon.com/Ello-Vacuum-Insulated-Stainless-Travel-Georgia/dp/B01FZD7MN4/ref=sr_1_3?ie=UTF8&amp;qid=1531584284&amp;sr=8-3&amp;keywords=ello%2Bcampy%2Bvacuum-insulated%2Bstainless%2Bsteel%2Btravel%2Bmug&amp;dpID=41VddzjN%252BCL&amp;preST=_SY300_QL70_&amp;dpSrc=srch&amp;th=1" target="_blank" rel="noopener"> Ello Campy Mug</a> is sure reminiscent of classic camp cookware.</p></div>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">This mug is just darn adorable and probably looks more feminine than the Contigo does. Like the Contigo, the <a href="https://www.amazon.com/Ello-Vacuum-Insulated-Stainless-Travel-Georgia/dp/B01FZD7MN4/ref=sr_1_3?ie=UTF8&amp;qid=1531584284&amp;sr=8-3&amp;keywords=ello%2Bcampy%2Bvacuum-insulated%2Bstainless%2Bsteel%2Btravel%2Bmug&amp;dpID=41VddzjN%252BCL&amp;preST=_SY300_QL70_&amp;dpSrc=srch&amp;th=1" target="_blank" rel="noopener">Ello Campy mug</a> also claims to be leak proof. According to </span><a href="https://www.amazon.com/Ello-Vacuum-Insulated-Stainless-Travel-Georgia/dp/B01FZD7MN4/ref=sr_1_3?ie=UTF8&amp;qid=1531584284&amp;sr=8-3&amp;keywords=ello%2Bcampy%2Bvacuum-insulated%2Bstainless%2Bsteel%2Btravel%2Bmug&amp;dpID=41VddzjN%252BCL&amp;preST=_SY300_QL70_&amp;dpSrc=srch&amp;th=1" target="_blank" rel="noopener"><span style="font-weight: 400;">Ello</span></a><span style="font-weight: 400;">, the mug has a “leak-proof sealing slider for easy open/close.” In my opinion, the mug does keep coffee safe inside while I’m driving, walking, or moving around with it in my hand as long as the slider is closed. However, I’ve found the slider a bit more challenging to use than the AUTOSEAL® technology the Contigo mug has. I find that opening the slider is fairly difficult and it has a sudden “click” that jerks the mug around and sometimes even causes coffee at the top of the mug to splatter.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Unlike the Contigo, the Ello Campy requires two hands to unlock. I’ve found it difficult to unlock the slider on my Ello Campy while driving or trying to multitask. Also, to my dismay, the Ello Campy does not fit into the cup holder slot in my car, it’s too big! Now, that is a major downside for me and probably my least favorite thing about the Ello Campy.</span></p>
<p>&nbsp;</p>
<p><a href="https://www.amazon.com/Ello-Vacuum-Insulated-Stainless-Travel-Georgia/dp/B01FZD7MN4/ref=sr_1_3?ie=UTF8&amp;qid=1531584284&amp;sr=8-3&amp;keywords=ello%2Bcampy%2Bvacuum-insulated%2Bstainless%2Bsteel%2Btravel%2Bmug&amp;dpID=41VddzjN%252BCL&amp;preST=_SY300_QL70_&amp;dpSrc=srch&amp;th=1" target="_blank" rel="noopener"><img class="alignnone wp-image-161 size-full" src="https://www.fetchfitlife.com/wp-content/uploads/2018/07/mugreview2.jpg" alt="" width="1920" height="1280" srcset="https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/04175339/mugreview2.jpg 1920w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/04175339/mugreview2-300x200.jpg 300w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/04175339/mugreview2-768x512.jpg 768w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/04175339/mugreview2-1024x683.jpg 1024w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/04175339/mugreview2-1170x780.jpg 1170w" sizes="(max-width: 1920px) 100vw, 1920px" /></a></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">As far as keeping my coffee hot goes, I’ve found the Ello Campy is just as good as the Contigo. <a href="https://www.elloproducts.com/travel-mugs/campy-18oz-stainless-steel-travel-mug">Ello’s website</a> claims the “vacuum insulated stainless steel keeps beverages hot for 6 hours [and] cold for 10” and I’ve found that claim to be reliable.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">The Ello Campy is more stylish, as I mentioned earlier, and that’s probably the biggest advantage it has over the Contigo mug. Not only does it come in pretty colors, but it also has a handle with a cork inlay that’s cute and comfortable to hold. The only other drawback I have is that the lid is white, so coffee stains do appear on the top and are hard to wipe off. Luckily the top of the mug is dishwasher safe, so I run it through the dishwasher after every use.</span></p>
<p>&nbsp;</p>
<p><img class="alignnone wp-image-165 size-full" src="https://www.fetchfitlife.com/wp-content/uploads/2018/07/mugreview6.jpg" alt="" width="1920" height="1280" srcset="https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/04175349/mugreview6.jpg 1920w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/04175349/mugreview6-300x200.jpg 300w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/04175349/mugreview6-768x512.jpg 768w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/04175349/mugreview6-1024x683.jpg 1024w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/04175349/mugreview6-1170x780.jpg 1170w" sizes="(max-width: 1920px) 100vw, 1920px" /></p>
<p>&nbsp;</p>
<h2><b>After exhaustive deliberation and countless cups of coffee, I declare the winner as…</b></h2>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">The <a href="https://www.amazon.com/Contigo-AUTOSEAL-Stainless-Steel-Travel/dp/B00HZI5XBG/ref=sr_1_3?ie=UTF8&amp;qid=1531583973&amp;sr=8-3&amp;keywords=contigo%2BAUTOSEAL%C2%AE%2BWest%2BLoop&amp;dpID=31PIjx260DL&amp;preST=_SY300_QL70_&amp;dpSrc=srch&amp;th=1" target="_blank" rel="noopener">Contigo AUTOSEAL® West Loop travel mug</a>! After weighing the pros and cons of each mug, I’ve come to the conclusion that the Contigo West Loop mug is more practical for me and has features I prefer to my Ello Campy.</span></p>
<p>&nbsp;</p>
<p><img class="alignnone wp-image-163 size-full" src="https://www.fetchfitlife.com/wp-content/uploads/2018/07/mugreview4.jpg" alt="" width="1920" height="1280" srcset="https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/04175344/mugreview4.jpg 1920w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/04175344/mugreview4-300x200.jpg 300w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/04175344/mugreview4-768x512.jpg 768w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/04175344/mugreview4-1024x683.jpg 1024w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/04175344/mugreview4-1170x780.jpg 1170w" sizes="(max-width: 1920px) 100vw, 1920px" /></p>
<p><span style="font-weight: 400;">All this travel mug talk has left me craving some coffee… I guess it’s time for a mid-morning cup of joe! </span></p>
<p>&nbsp;</p>
<p><strong>Links to Purchase Products:</strong></p>
<p><a href="https://www.amazon.com/Contigo-AUTOSEAL-Stainless-Steel-Travel/dp/B00HZI5XBG/ref=sr_1_3?ie=UTF8&amp;qid=1531583973&amp;sr=8-3&amp;keywords=contigo%2BAUTOSEAL%C2%AE%2BWest%2BLoop&amp;dpID=31PIjx260DL&amp;preST=_SY300_QL70_&amp;dpSrc=srch&amp;th=1" target="_blank" rel="noopener"><b>Contigo AUTOSEAL® West Loop</b></a></p>
<p><a href="https://www.amazon.com/Ello-Vacuum-Insulated-Stainless-Travel-Georgia/dp/B01FZD7MN4/ref=sr_1_3?ie=UTF8&amp;qid=1531584284&amp;sr=8-3&amp;keywords=ello%2Bcampy%2Bvacuum-insulated%2Bstainless%2Bsteel%2Btravel%2Bmug&amp;dpID=41VddzjN%252BCL&amp;preST=_SY300_QL70_&amp;dpSrc=srch&amp;th=1" target="_blank" rel="noopener"><b>Ello Campy Vacuum Insulated Stainless Steel Travel Mug</b></a></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">Thanks for stopping by! Do you have a favorite coffee mug or a product you’d like us to review? Let us know about it by commenting on this post or sending us a message!</span></i></p>
<p>&nbsp;</p>
]]></content:encoded>
			<wfw:commentRss>https://fetchfitlife.com/2018/11/14/review-for-your-brew-contigo-vs-ello-travel-mugs/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Ways to be Active with Friends</title>
		<link>https://fetchfitlife.com/2018/10/08/ways-to-be-active-with-friends/</link>
		<comments>https://fetchfitlife.com/2018/10/08/ways-to-be-active-with-friends/#respond</comments>
		<pubDate>Mon, 08 Oct 2018 11:00:34 +0000</pubDate>
		<dc:creator><![CDATA[Quinn Barefoot]]></dc:creator>
				<category><![CDATA[Fitness]]></category>
		<category><![CDATA[Physical Fitness]]></category>

		<guid isPermaLink="false">https://www.fetchfitlife.com/?p=579</guid>
		<description><![CDATA[Everything&#8217;s better with friends… and that includes fitness! Working out alone can get mundane and repetitive, but when you add some friends to the mix, it makes fitness more interesting and enjoyable. But, sometimes it can be hard to find an activity everyone can participate in and actually enjoy. &#160; It’s only natural for you and your friends to be at different activity levels. Not only that, but everyone has different strengths and weaknesses when it comes to fitness. Maybe some of your friends have really good endurance and can run for miles at a time while others enjoy higher intensity workouts in short intervals. &#160; It can be hard to find ways to be active with your friends who are at all different activity levels, but that’s where we can help! Here are some fun ideas of how you can be active with your friends no matter what activity level you are: &#160; Hiking &#160; Not only is hiking a great way to connect with nature, it’s a great way to connect with your friends! Nothing brings people together quite like hiking a beautiful trail and embracing adventure. Hiking can really get your heart pumping and legs burning&#8230; It’s [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><span style="font-weight: 400;">Everything&#8217;s better with friends… and that includes fitness! Working out alone can get mundane and repetitive, but when you add some friends to the mix, it makes fitness more interesting and enjoyable. But, sometimes it can be hard to find an activity everyone can participate in and actually enjoy.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">It’s only natural for you and your friends to be at different activity levels. Not only that, but everyone has different strengths and weaknesses when it comes to fitness. Maybe some of your friends have really good endurance and can run for miles at a time while others enjoy higher intensity workouts in short intervals. </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">It can be hard to find ways to be active with your friends who are at all different activity levels, but that’s where we can help! Here are some fun ideas of how you can be active with your friends no matter what activity level you are:</span></p>
<p>&nbsp;</p>
<p><b>Hiking</b></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Not only is hiking a great way to connect with nature, it’s a great way to connect with your friends! Nothing brings people together quite like hiking a beautiful trail and embracing adventure. Hiking can really get your heart pumping and legs burning&#8230; It’s a great workout! Research some trails in your area and gather a group of friends. Try sticking to a beginner level trail at first so you can get a gauge of how everyone is doing. If anyone is getting tired, take breaks along the way and soak in the view! Embrace the beauty around you and enjoy each other’s company. </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Want to get even closer? Make a camping trip out of it! Put your survival skills to good use by camping out in tents or hammocks (or go glamping a cabin, we won’t judge!). But remember, safety first! Make sure to plan ahead and take all safety precautions to ensure a good time!</span></p>
<p>&nbsp;</p>
<p><b>SUP or Kayaking</b></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Hit the beach! Enjoy the sun, sand and waves with your friends while still getting in a good workout. Go on a SUP, also known as stand up paddle board, adventure with a group of pals. It’s easy to find a SUP rental shop around any beach or lake, so make a day trip with your gal pals and soak in the sun! It’s a great workout that is doable no matter what your activity level is. </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Don’t think you are coordinated enough for SUP? That’s ok, kayaking is always an alternate option! Get single kayaks and race your friends, or get a few doubles and row out to an island for a nice picnik! </span></p>
<p>&nbsp;</p>
<p><b>Yoga</b></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Reconnect with your center while enjoying time with friends! Yoga is great for all activity levels because you can take it at whatever pace you’d like. Yoga consists of various poses and stretches that strengthen you body and bring peace to your mind. I mean, there’s not many other workouts that actually help you to relax while you’re doing them! You can head to a local yoga studio with your friends and take a class from a professional, it’s super easy and usually pretty reasonable! But, if you’re on a tight budget, everyone can buy their own yoga mat for about $10-$20 and head to someone’s house. Search youtube to find a beginner video and do it all in the comfort of your own homes. Maybe the host will even agree to make you all lunch afterward!</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Have fun!</span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">What activities do you like to do with your friends? Have you tried any of these? Let us know about it for a chance to be featured!</span></i></p>
]]></content:encoded>
			<wfw:commentRss>https://fetchfitlife.com/2018/10/08/ways-to-be-active-with-friends/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>3 Summertime Activities That Are So Fun, You’ll Forget You’re Working Out!</title>
		<link>https://fetchfitlife.com/2018/09/26/3-summertime-activities-that-are-so-fun-youll-forget-youre-working-out/</link>
		<comments>https://fetchfitlife.com/2018/09/26/3-summertime-activities-that-are-so-fun-youll-forget-youre-working-out/#respond</comments>
		<pubDate>Wed, 26 Sep 2018 04:00:56 +0000</pubDate>
		<dc:creator><![CDATA[Quinn Barefoot]]></dc:creator>
				<category><![CDATA[Fitness]]></category>
		<category><![CDATA[Physical Fitness]]></category>

		<guid isPermaLink="false">https://www.fetchfitlife.com/?p=628</guid>
		<description><![CDATA[Ah, can you believe it’s finally starting to get warm again? I don’t know about you, but I get excited every time the seasons change. With each new season comes new outfits to show off, new holidays to celebrate, and new foods to enjoy! &#160; One of my favorite seasonal transitions is springtime into summertime. You know that feeling, the one you get on the first “t-shirt weather” day of the year. It’s a glorious moment when you can finally walk outside and feel the sunshine on your skin again after months of being bundled up. Now, that’s heavenly! &#160; During the winter I tend to stick to the same indoor workouts, but warmer weather gives me the perfect opportunity to switch it up! Don’t get me wrong, I love riding my stationary bike, but it’s nice to swap out my view of a TV screen for one of an actual road! And now that the sun has finally decided to stick around for a while, I’ll take any excuse I can to go out and soak it all in! &#160; There are a plethora of fun summer activities available to us, and did you know that many of them [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><span style="font-weight: 400;">Ah, can you believe it’s finally starting to get warm again? I don’t know about you, but I get excited every time the seasons change. With each new season comes new outfits to show off, new holidays to celebrate, and new foods to enjoy!</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">One of my favorite seasonal transitions is springtime into summertime. You know that feeling, the one you get on the first “t-shirt weather” day of the year. It’s a glorious moment when you can finally walk outside and feel the sunshine on your skin again after months of being bundled up. Now, that’s heavenly!</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">During the winter I tend to stick to the same indoor workouts, but warmer weather gives me the perfect opportunity to switch it up! Don’t get me wrong, I love riding my stationary bike, but it’s nice to swap out my view of a TV screen for one of an actual road! And now that the sun has finally decided to stick around for a while, I’ll take any excuse I can to go out and soak it all in!</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">There are a plethora of fun summer activities available to us, and did you know that many of them can also double as a great workout? The best part about these activities is the fact that you are having so much fun, you hardly realize you’re also burning a crazy number of calories! </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Here are 3 of my favorite outdoor summer activities that also double as great workouts:</span></p>
<p>&nbsp;</p>
<ol>
<li><b> Ultimate Frisbee</b></li>
</ol>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">We all know those people who live and breathe ultimate frisbee. But you know what? You don’t have to be a hardcore fanatic of the game to enjoy it! Check the weather, find a field, and gather other casual frisbee players to get a game going. It can be fun to organize a one-time game, but if your friends really enjoy it, you should consider making it a weekly occurrence!</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">All of the running and throwing that a game of ultimate frisbee requires will help to get your heart rate up and your body sweating! </span></p>
<p>&nbsp;</p>
<ol start="2">
<li><b> Kayaking</b></li>
</ol>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Now this is a fun one! I love going on “adventure” dates with my husband where we pack up our kayaks and explore different islands along the intercoastal waterways of Wilmington. Don’t live near the coast? Well, the great thing about kayaking is that you can do it in any decent sized body of water! In fact, I bet there’s a park close enough to where you live that has a pond large enough for a good afternoon of kayaking! Don’t have kayaks? Don’t worry! There are plenty of shops and stands that pop up in the summer months and offer daily kayak rentals at reasonable prices. </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">A quick warning: keep in mind that if you decide to go on a kayaking adventure, you should take at least one other person with you! Kayaking can be dangerous and you should never go alone… especially in rough waters! That being said, kayaking through bumpy waves takes a lot of energy, making it a great way to burn calories and even let off some steam!</span></p>
<p>&nbsp;</p>
<ol start="3">
<li><b> Tennis</b></li>
</ol>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Release some of that built-up anger by whacking a tennis ball around for a few hours! You don’t have to be a professional or own all of that high-end equipment to play a good game. In fact, you don’t even have to play by the official rules if you don’t want to! Just grab a friend, head to a nearby park, and run through some volleys for a while. All of the running, hitting, and grunting not only burns calories, but it’s also a great stress reliever after a long week!</span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">What are your favorite ways to work up a sweat in the summer? Let us know in the comments section!</span></i></p>
<p>&nbsp;</p>
]]></content:encoded>
			<wfw:commentRss>https://fetchfitlife.com/2018/09/26/3-summertime-activities-that-are-so-fun-youll-forget-youre-working-out/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Welcome to FetchFit!</title>
		<link>https://fetchfitlife.com/2018/09/18/welcome-to-fetchfit/</link>
		<comments>https://fetchfitlife.com/2018/09/18/welcome-to-fetchfit/#respond</comments>
		<pubDate>Tue, 18 Sep 2018 09:00:37 +0000</pubDate>
		<dc:creator><![CDATA[Lauren Henderson]]></dc:creator>
				<category><![CDATA[Fitness]]></category>
		<category><![CDATA[Pet Lifestyle]]></category>
		<category><![CDATA[Physical Fitness]]></category>
		<category><![CDATA[Spiritual Fitness]]></category>

		<guid isPermaLink="false">https://www.fetchfitlife.com/?p=38</guid>
		<description><![CDATA[Welcome! &#160; Our goal here at FetchFit is to create a strong community of like-minded women who highly value their health and happiness. We believe in the importance of nurturing our bodies in a healthy way by eating clean, working out, and challenging ourselves both mentally and physically. Society has plenty of things to say about us, but we want to seek out the real truth. We are determined to focus on the things in life that hold the most value and therefore create healthy habits and develop a positive body image. &#160; We believe that God has created all women beautifully even though each of us has a unique body type, shape, and appearance. No matter what kind of body we have, we are all children of God and therefore have been specifically created in His image for His divine purpose. We know every woman is beautiful and that each one of us is deeply loved by Him. &#160; We invite you, the FetchFit community, to join us in our adventure! And, don’t forget to bring along your furry companion if you have one. We want to be an encouraging, safe place for all women to develop a biblical [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><span style="font-weight: 400;">Welcome!</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Our goal here at FetchFit is to create a strong community of like-minded women who highly value their health and happiness. We believe in the importance of nurturing our bodies in a healthy way by eating clean, working out, and challenging ourselves both mentally and physically. Society has plenty of things to say about us, but we want to seek out the real truth. We are determined to focus on the things in life that hold the most value and therefore create healthy habits and develop a positive body image.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">We believe that God has created all women beautifully even though each of us has a unique body type, shape, and appearance. No matter what kind of body we have, we are all children of God and therefore have been specifically created in His image for His divine purpose. We know every woman is beautiful and that each one of us is deeply loved by Him.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">We invite you, the FetchFit community, to join us in our adventure! And, don’t forget to bring along your furry companion if you have one. We want to be an encouraging, safe place for all women to develop a biblical perspective on health and fitness, while at the same time bonding with your favorite furkid(s)!</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Companionship with dogs is something near and dear to our hearts. Personally, I have grown up with dogs all my life and couldn’t wait to get my own dog as soon as I moved out on my own. My two border collies, who I loving call my “furkids”, have always been a physical (and fluffy) comfort to me throughout even during my darkest times. They provide  me with comfort and unbiased listening ears. Even though they may not understand everything I tell them, they are my confidants. My furkids help keep me active, positive, and it fills me with joy everytime I wake up to their cold wet noses and sloppy puppy kisses.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Even if you aren’t a dog mom, I believe that you can benefit greatly from what we have to say here. We may not have everything figured out, but I hope that you will join us on our journey to a healthier lifestyle while remaining both positive and realistic. Our bodies are temples, so if we don’t treat them with the respect they need, then how are we supposed to honor God or do His work well?</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">We are here to share helpful articles, workouts, and information on dog lifestyle related topics with our readers. We believe it’s so important to be spiritually fit and become strong women of God, not only physically, but in our hearts as well. Even if you are not a follower of Christ, we want to welcome you with open arms. We are not here to judge or shove anything in your face. We are all on our own journeys, and no one here is “perfect” or “has it all together”. If you ever have any questions, please don’t hesitate to contact us! We want to be here for each one of you and will try our best to answer everything honestly and truthfully.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Thank you for taking the time to visit us. We look forward to continuing our journey to a fitter lifestyle with you!</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Lauren Henderson</span></p>
<p><span style="font-weight: 400;">Founder of FetchFit</span></p>
<p>&nbsp;</p>
]]></content:encoded>
			<wfw:commentRss>https://fetchfitlife.com/2018/09/18/welcome-to-fetchfit/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Seeing God In The Ordinary</title>
		<link>https://fetchfitlife.com/2018/07/16/seeing-god-in-the-ordinary/</link>
		<comments>https://fetchfitlife.com/2018/07/16/seeing-god-in-the-ordinary/#respond</comments>
		<pubDate>Mon, 16 Jul 2018 04:50:40 +0000</pubDate>
		<dc:creator><![CDATA[Quinn Barefoot]]></dc:creator>
				<category><![CDATA[Fitness]]></category>
		<category><![CDATA[Spiritual Fitness]]></category>

		<guid isPermaLink="false">https://www.fetchfitlife.com/?p=330</guid>
		<description><![CDATA[&#160; This morning I woke up with a long list of things I wanted to get done. First on the list: start the coffee pot. Ok, I did that, now it’s time to do my daily Bible reading and journaling. A few minutes later I close my journal and feel refreshed. I pause, take a second to send a quick prayer up to God and ask that He would reveal more about His character to me today. I’m about to say “amen” and move on to the next thing when I get a quick idea for another prayer. “God, help me to see you in even the most ordinary of things.” &#160; I turn on the TV and begin writing when I suddenly remember I have to call the doctor to make an appointment. 10 minutes later I hang up the phone, write down my appointment time, and cross that item off my to do list. I look at the clock and realize that’s it’s time for a morning run. While I’m running, I compile a mental list of everything else I want to do and figure out the timing of my day. &#160; If I’m home by 10, I [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>&nbsp;</p>
<p><span style="font-weight: 400;">This morning I woke up with a long list of things I wanted to get done. First on the list: start the coffee pot. Ok, I did that, now it’s time to do my daily Bible reading and journaling. A few minutes later I close my journal and feel refreshed. I pause, take a second to send a quick prayer up to God and ask that He would reveal more about His character to me today. I’m about to say “amen” and move on to the next thing when I get a quick idea for another prayer. </span><i><span style="font-weight: 400;">“God, help me to see you in even the most ordinary of things.”</span></i></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">I turn on the TV and begin writing when I suddenly remember I have to call the doctor to make an appointment. 10 minutes later I hang up the phone, write down my appointment time, and cross that item off my to do list. I look at the clock and realize that’s it’s time for a morning run. While I’m running, I compile a mental list of everything else I want to do and figure out the timing of my day.</span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">If I’m home by 10, I can stretch and cool down by 10:15, then I can get back to writing. I’ll leave the house around 11 and head to my dog walking gig, and then I’ll get home before 12.</span></i></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Before I know it, I’m planning out what I’ll eat for lunch, how long it’ll take me to eat it, and how much time I have left for the other tasks I want to do before my husband gets home.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">I finish stretching and walk over to the backdoor to let Meeka inside. I see her sitting there looking out toward the neighbor’s fence. I watch as her humongous ears stand up straight, then they gently pull back as she lets the wind blow across her nose. Each ear then changes position, sometimes they both move at once, sometimes she moves them forward and back one at a time. I call them her “antena ears” because they move and point toward whatever she hears around her. </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">I reach toward the handle to let her in, knowing that the sound of the door will catch her attention. I also know that when I do this, she will look back at me with those puppy dog eyes that’ll just beg me to let her stay outside a little while longer. My hand is about to slide the door open, but then I stop. For some reason or another, I decide not to open the door and distract her. Instead, I just keep watching.</span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">How is it that Meeka can just sit there and stare at nothing for hours? And how in the world can that be her favorite thing to do?</span></i></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">At that moment I recall the prayer I said just a few hours ago: </span><i><span style="font-weight: 400;">“God, help me to see you in even the most ordinary of things.”</span></i></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Meeka is part of God’s creation, sitting there and just taking in the rest of the world. She’s enjoying the sunshine, letting the breeze blow her fur around, and raising her snout up into the air to take in the smell of our neighbor’s freshly cut grass. It’s such a simple thing to see, something I see her do almost everyday, but this time I stopped and noticed.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">I finally opened the door and Meeka did exactly what I thought she would. She looked back at me with a gaze that begged “just a few more more minutes, mom, please?” And instead of calling her back in so that I could move ahead to the next thing on my list, I take a step outside and walk over to where she was sitting in the grass. I squat down next to Meeka and follow her gaze, realizing that she’s observing a little bird hopping around a dandelion that had just sprung up. Immediately one of my favorite Bible passages comes to mind:</span></p>
<p>&nbsp;</p>
<blockquote><p><i><span style="font-weight: 400;">“Therefore I tell you, do not worry about your life, what you will eat or drink; or about your body, what you will wear. Is not life more than food, and the body more than clothes? Look at the birds of the air; they do not sow or reap or store away in barns, and yet your heavenly Father feeds them. Are you not much more valuable than they? Can any one of you by worrying add a single hour to your life? And why do you worry about clothes? See how the flowers of the field grow. They do not labor or spin. Yet I tell you that not even Solomon in all his splendor was dressed like one of these. If that is how God clothes the grass of the field, which is here today and tomorrow is thrown into the fire, will he not much more clothe you—you of little faith? So do not worry, saying, ‘What shall we eat?’ or ‘What shall we drink?’ or ‘What shall we wear?’ For the pagans run after all these things, and your heavenly Father knows that you need them. But seek first his kingdom and his righteousness, and all these things will be given to you as well. Therefore do not worry about tomorrow, for tomorrow will worry about itself. Each day has enough trouble of its own.</span></i><span style="font-weight: 400;">” -Matthew 6:25-34</span></p></blockquote>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Once again, I am stunned by what God is teaching me: He created everything and is in everything. He provides. He holds my future. And, most importantly, He loves me.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Are busy jumping from one to-do list to the next? Have you found yourself filling your mind with tasks and goals that you’ve created for yourself? </span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">I need to work at least 10 hours today to earn enough so I can pay rent, I can’t go to Church group today.</span></i></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">I need to clean up the house this afternoon, I can’t invite my neighbor over to chat, there’s simply no time and it’ll create an even bigger mess.</span></i></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">I can’t call my parents today, I’ll be stuck on the phone with them for too long, I have more pressing matters to deal with.</span></i></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Let me ask you something: who is making the plans in your life? Are you clinging on tightly to the things you believe will give your future security or comfort? I know I sure have. But you know what? You don’t need to do that! God takes care of the birds even though they don’t sow, reap, or store away in barns. Remember how that dandelion spring up in my backyard? Well, it didn’t have to labor or spin, it just sprouted up. And still, we are told that not even a rich king like Solomon was dressed as beautifully as these simple plants. And take Meeka for example, she doesn’t worry about anything, instead she takes life as it comes and enjoys every moment of it that she can.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Today, take time to stop and observe the goodness of our creator, our father, our Lord. You don’t have to look hard to find Him. In fact, He can be found in even the most ordinary of things.</span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">Were you encouraged by this post? We would love to learn more about what God is teaching you! Please comment below or send us a message for a chance to be featured. Also, please let us know if you have any prayer requests, we’d love to lift them up to God!</span></i></p>
]]></content:encoded>
			<wfw:commentRss>https://fetchfitlife.com/2018/07/16/seeing-god-in-the-ordinary/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
