<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Recipes for People &#8211; FetchFit</title>
	<atom:link href="https://fetchfitlife.com/recipe-category/recipes-for-people/feed/" rel="self" type="application/rss+xml" />
	<link>http://fetchfitlife.com/</link>
	<description>Women&#039;s Fitness and Pet Lifestyle Blog</description>
	<lastBuildDate>Sun, 26 Jul 2020 22:18:08 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.5</generator>

<image>
	<url>https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/19004744/fetchfit-logo-100x100.png</url>
	<title>Recipes for People &#8211; FetchFit</title>
	<link>http://fetchfitlife.com/</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Peanut Butter &#038; Banana Overnight Oats</title>
		<link>https://fetchfitlife.com/recipes/peanut-butter-banana-overnight-oats/</link>
		<comments>https://fetchfitlife.com/recipes/peanut-butter-banana-overnight-oats/#respond</comments>
		<pubDate>Wed, 16 Jan 2019 11:00:12 +0000</pubDate>
		<dc:creator><![CDATA[Quinn Barefoot]]></dc:creator>
		
		<guid isPermaLink="false">https://www.fetchfitlife.com/?post_type=cp_recipe&#038;p=622</guid>
		<description><![CDATA[Are you bananas for overnight oats like I am? Follow the recipe below to mix up your own version of this delicious breakfast!]]></description>
				<content:encoded><![CDATA[<h2>Are you bananas for overnight oats like I am? Follow the recipe below to mix up your own version of this delicious breakfast!</h2>
<h3>Ingredients</h3>
<div class="cooked-recipe-ingredients">
<div itemprop="recipeIngredient" class="cooked-single-ingredient cooked-ingredient cooked-ing-no-checkbox"><span class="cooked-ing-amount" data-decimal="0.5">&#189;</span> <span class="cooked-ing-measurement">cup</span> <span class="cooked-ing-name">Old Fashioned Oats</span></div>
<div itemprop="recipeIngredient" class="cooked-single-ingredient cooked-ingredient cooked-ing-no-checkbox"><span class="cooked-ing-amount" data-decimal="0.5">&#189;</span> <span class="cooked-ing-measurement">cup</span> <span class="cooked-ing-name">Milk of your choice* (add more if desired)</span></div>
<div itemprop="recipeIngredient" class="cooked-single-ingredient cooked-ingredient cooked-ing-no-checkbox"><span class="cooked-ing-amount" data-decimal="0.5">&#189;</span> <span class="cooked-ing-measurement"></span> <span class="cooked-ing-name">Sliced Banana (You can keep the other half to slice up in the morning if you;d like to top off your oats with more fruit)</span></div>
<div itemprop="recipeIngredient" class="cooked-single-ingredient cooked-ingredient cooked-ing-no-checkbox"><span class="cooked-ing-amount" data-decimal="2">2</span> <span class="cooked-ing-measurement">tbsp</span> <span class="cooked-ing-name">Peanut Butter</span></div>
<div class="cooked-single-ingredient cooked-heading">Optional Ingredients</div>
<div itemprop="recipeIngredient" class="cooked-single-ingredient cooked-ingredient cooked-ing-no-checkbox"><span class="cooked-ing-amount" data-decimal="1">1</span> <span class="cooked-ing-measurement">tbsp</span> <span class="cooked-ing-name">Chocolate Chips</span></div>
<div itemprop="recipeIngredient" class="cooked-single-ingredient cooked-ingredient cooked-ing-no-checkbox"><span class="cooked-ing-amount" data-decimal="0.25">&#188;</span> <span class="cooked-ing-measurement">cup</span> <span class="cooked-ing-name">Fresh Fruit Topping (I used blueberries)</span></div>
<div itemprop="recipeIngredient" class="cooked-single-ingredient cooked-ingredient cooked-ing-no-checkbox"><span class="cooked-ing-amount" data-decimal="1">1</span> <span class="cooked-ing-measurement">drop</span> <span class="cooked-ing-name">Greek Yogurt</span></div>
<div itemprop="recipeIngredient" class="cooked-single-ingredient cooked-ingredient cooked-ing-no-checkbox"><span class="cooked-ing-name">Drizzle of Honey</span></div>
<div itemprop="recipeIngredient" class="cooked-single-ingredient cooked-ingredient cooked-ing-no-checkbox"><span class="cooked-ing-amount" data-decimal="1">1</span> <span class="cooked-ing-measurement">tbsp</span> <span class="cooked-ing-name">Chia Seeds and/or Hemp Hearts (A good source of protein and fiber)</span></div>
<div itemprop="recipeIngredient" class="cooked-single-ingredient cooked-ingredient cooked-ing-no-checkbox"><span class="cooked-ing-name">Mason Jar with Screw on Lid</span></div>
</div>
<h3>Directions</h3>
<div class="cooked-recipe-directions">
<div class="cooked-single-direction cooked-direction" data-step="Step 1">
<div class="cooked-dir-content">
<p>Take your mason jar and fill it with the old fashioned oats and milk. Screw the lid back on and shake well to get every oat coated. Stir in your peanut butter and sliced banana. If you’d like to add chia seeds, hemp hearts, or chocolate chips, you can do that now. Now, wasn’t that easy?!</p>
</div>
</div>
<div class="cooked-single-direction cooked-direction" data-step="Step 2">
<div class="cooked-dir-content">
<p>Screw the lid on tightly and place the jar in your fridge. I recommend marking the date you made it with a piece of tape and a pen (also, you can make a note of when the milk expires on this piece of tape to avoid sour oats). Overnight oats get softer the longer you let them sit and are typically good for 5 days in the fridge as long as they are in an airtight container. However, they are usually best when eaten on the first or second morning.</p>
</div>
</div>
<div class="cooked-single-direction cooked-direction" data-step="Step 3">
<div class="cooked-dir-content">
<p>When you are ready to eat your oats you can top them off with a dollop of Greek yogurt, a scoop of fresh fruit, a handful of chocolate chips… or all of the above!</p>
</div>
</div>
</div>
]]></content:encoded>
			<wfw:commentRss>https://fetchfitlife.com/recipes/peanut-butter-banana-overnight-oats/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Pumpkin Pie Overnight Oats</title>
		<link>https://fetchfitlife.com/recipes/pumpkin-pie-overnight-oats/</link>
		<comments>https://fetchfitlife.com/recipes/pumpkin-pie-overnight-oats/#respond</comments>
		<pubDate>Wed, 17 Oct 2018 11:00:00 +0000</pubDate>
		<dc:creator><![CDATA[Quinn Barefoot]]></dc:creator>
		
		<guid isPermaLink="false">https://www.fetchfitlife.com/?post_type=cp_recipe&#038;p=659</guid>
		<description><![CDATA[Pumpkin Pie Overnight Oats]]></description>
				<content:encoded><![CDATA[<h2>Pumpkin Pie Overnight Oats</h2>
<h3>Ingredients</h3>
<div class="cooked-recipe-ingredients">
<div itemprop="recipeIngredient" class="cooked-single-ingredient cooked-ingredient cooked-ing-no-checkbox"><span class="cooked-ing-amount" data-decimal="0.5">&#189;</span> <span class="cooked-ing-measurement">cup</span> <span class="cooked-ing-name">Oats</span></div>
<div itemprop="recipeIngredient" class="cooked-single-ingredient cooked-ingredient cooked-ing-no-checkbox"><span class="cooked-ing-amount" data-decimal="0.5">&#189;</span> <span class="cooked-ing-measurement">cup</span> <span class="cooked-ing-name">Milk of your choice (I used unsweetened coconut milk), add more if desired</span></div>
<div itemprop="recipeIngredient" class="cooked-single-ingredient cooked-ingredient cooked-ing-no-checkbox"><span class="cooked-ing-amount" data-decimal="0.5">&#189;</span> <span class="cooked-ing-measurement">tsp</span> <span class="cooked-ing-name">Pumpkin pie spice</span></div>
<div itemprop="recipeIngredient" class="cooked-single-ingredient cooked-ingredient cooked-ing-no-checkbox"><span class="cooked-ing-amount" data-decimal="0.25">&#188;</span> <span class="cooked-ing-measurement">cup</span> <span class="cooked-ing-name">Pumpkin puree </span></div>
<div itemprop="recipeIngredient" class="cooked-single-ingredient cooked-ingredient cooked-ing-no-checkbox"><span class="cooked-ing-amount" data-decimal="1">1</span> <span class="cooked-ing-measurement">tbsp</span> <span class="cooked-ing-name">Brown sugar</span></div>
<div class="cooked-single-ingredient cooked-heading">Optional Ingredients</div>
<div itemprop="recipeIngredient" class="cooked-single-ingredient cooked-ingredient cooked-ing-no-checkbox"><span class="cooked-ing-amount" data-decimal="1">1</span> <span class="cooked-ing-measurement">tbsp</span> <span class="cooked-ing-name">Chia Seed (Or more, great source of fiber)</span></div>
<div itemprop="recipeIngredient" class="cooked-single-ingredient cooked-ingredient cooked-ing-no-checkbox"><span class="cooked-ing-amount" data-decimal="1">1</span> <span class="cooked-ing-measurement">tbsp</span> <span class="cooked-ing-name">Hemp Hearts (Or more, great source of protein)</span></div>
<div itemprop="recipeIngredient" class="cooked-single-ingredient cooked-ingredient cooked-ing-no-checkbox"><span class="cooked-ing-amount" data-decimal="1">1</span> <span class="cooked-ing-measurement">tbsp</span> <span class="cooked-ing-name">Honey (Drizzle on top)</span></div>
<div itemprop="recipeIngredient" class="cooked-single-ingredient cooked-ingredient cooked-ing-no-checkbox"><span class="cooked-ing-amount" data-decimal="1">1</span> <span class="cooked-ing-measurement">tbsp</span> <span class="cooked-ing-name">Greek Yogurt (just a dollop on top!)</span></div>
</div>
<h3>Directions</h3>
<div class="cooked-recipe-directions">
<div class="cooked-single-direction cooked-direction" data-step="Step 1">
<div class="cooked-dir-content">
<p>Start by filling your mason jar with the oats. Next add pumpkin pie spice, brown sugar, and Hemp/Chia seeds (if you so desire). Take a spoon and stir everything together to make sure that all of the spice and sugar is evenly distributed (trust me, you don’t want to accidentally scoop up a spoonful of pumpkin pie spice all at once!). </p>
</div>
</div>
<div class="cooked-single-direction cooked-direction" data-step="Step 2">
<div class="cooked-dir-content">
<p>Pour in your milk and stir again. Now it’s time for my favorite part… pumpkin! Add your preferred amount of pumpkin puree to the mixture and swirl it in. Screw the lid tightly onto your mason jar and shake the entire thing for a few seconds to ensure everything is evenly dispersed. Now all you have to do is put your oats in the fridge and wait until morning… yeah, it’s that easy!</p>
</div>
</div>
<div class="cooked-single-direction cooked-direction" data-step="Step 3">
<div class="cooked-dir-content">
<p>When you’re ready to dig in, unscrew the lid and top off your oats with a dollop of greek yogurt or a drizzle of honey… or both! Overnight oats should last for about 5 days in the fridge, but they are usually best when eaten on day 1 (the morning directly after you mix them up) or day 2. </p>
</div>
</div>
<div class="cooked-single-direction cooked-direction" data-step="Step 4">
<div class="cooked-dir-content">
<p>Now, go ahead and eat these delicious oats up! They will give you the all of the strength, energy and pumpkin spice you need for the beautiful fall day ahead.</p>
</div>
</div>
</div>
]]></content:encoded>
			<wfw:commentRss>https://fetchfitlife.com/recipes/pumpkin-pie-overnight-oats/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Almond Coconut Overnight Oats</title>
		<link>https://fetchfitlife.com/recipes/almond-coconut-overnight-oats/</link>
		<comments>https://fetchfitlife.com/recipes/almond-coconut-overnight-oats/#respond</comments>
		<pubDate>Wed, 03 Oct 2018 11:00:56 +0000</pubDate>
		<dc:creator><![CDATA[Quinn Barefoot]]></dc:creator>
		
		<guid isPermaLink="false">https://www.fetchfitlife.com/?post_type=cp_recipe&#038;p=611</guid>
		<description><![CDATA[Almond Coconut Overnight Oats]]></description>
				<content:encoded><![CDATA[<h2>Almond Coconut Overnight Oats</h2>
<h3>Ingredients</h3>
<div class="cooked-recipe-ingredients">
<div itemprop="recipeIngredient" class="cooked-single-ingredient cooked-ingredient cooked-ing-no-checkbox"><span class="cooked-ing-amount" data-decimal="0.5">&#189;</span> <span class="cooked-ing-measurement">cup</span> <span class="cooked-ing-name">Old Fashioned Oats</span></div>
<div itemprop="recipeIngredient" class="cooked-single-ingredient cooked-ingredient cooked-ing-no-checkbox"><span class="cooked-ing-name">Milk (I used coconut, but you can use any type)</span></div>
<div itemprop="recipeIngredient" class="cooked-single-ingredient cooked-ingredient cooked-ing-no-checkbox"><span class="cooked-ing-amount" data-decimal="23">23</span> <span class="cooked-ing-measurement">tbsp</span> <span class="cooked-ing-name">Shredded Coconut (Plus a little extra to sprinkle on top)</span></div>
<div itemprop="recipeIngredient" class="cooked-single-ingredient cooked-ingredient cooked-ing-no-checkbox"><span class="cooked-ing-amount" data-decimal="12">12</span> <span class="cooked-ing-measurement">tbsp</span> <span class="cooked-ing-name">Slivered Almonds</span></div>
<div class="cooked-single-ingredient cooked-heading">Optional</div>
<div itemprop="recipeIngredient" class="cooked-single-ingredient cooked-ingredient cooked-ing-no-checkbox"><span class="cooked-ing-amount" data-decimal="12">12</span> <span class="cooked-ing-measurement">tbsp</span> <span class="cooked-ing-name">Chocolate Chips (or more, we won&#8217;t judge!)</span></div>
<div itemprop="recipeIngredient" class="cooked-single-ingredient cooked-ingredient cooked-ing-no-checkbox"><span class="cooked-ing-name">Honey (to drizzle on top)</span></div>
<div itemprop="recipeIngredient" class="cooked-single-ingredient cooked-ingredient cooked-ing-no-checkbox"><span class="cooked-ing-amount" data-decimal="1">1</span> <span class="cooked-ing-measurement">drop</span> <span class="cooked-ing-name">Greek Yogurt</span></div>
<div itemprop="recipeIngredient" class="cooked-single-ingredient cooked-ingredient cooked-ing-no-checkbox"><span class="cooked-ing-amount" data-decimal="23">23</span> <span class="cooked-ing-measurement">tbsp</span> <span class="cooked-ing-name">Chia Seeds and/or Hemp Hearts (for a boost of added protein and fiber)</span></div>
<div itemprop="recipeIngredient" class="cooked-single-ingredient cooked-ingredient cooked-ing-no-checkbox"><span class="cooked-ing-amount" data-decimal="1">1</span> <span class="cooked-ing-measurement"></span> <span class="cooked-ing-name">Mason Jar with screw on lid</span></div>
</div>
<h3>Directions</h3>
<div class="cooked-recipe-directions">
<div class="cooked-single-direction cooked-direction" data-step="Step 1">
<div class="cooked-dir-content">
<p>Take your mason jar and fill it with ½ cup of old fashioned oats. Pour your choice of milk into the jar and stir with a spoon so that all of the oats are evenly coated (we don’t want any dry patches!). </p>
</div>
</div>
<div class="cooked-single-direction cooked-direction" data-step="Step 2">
<div class="cooked-dir-content">
<p>Add the shredded coconut (either sweetened, unsweetened, or toasted), slivered almonds, chia seeds and hemp hearts if you desire. Stir the mixture to make sure that everything is evenly distributed. You can add the chocolate chips now or wait until the morning to mix them in. Screw the lid onto your mason jar tightly and place in the refrigerator. Now all you have to do is get some sleep and wait until the morning!</p>
</div>
</div>
<div class="cooked-single-direction cooked-direction" data-step="Step 3">
<div class="cooked-dir-content">
<p>When you wake up and are ready for breakfast, take your jar out of the fridge and sprinkle some more coconut flakes on top to make it pretty. You if you want your oats a little sweeter, drizzle some honey on top or add some chocolate chips. Do you want them creamier? Add a dollop of greek yogurt. Now all you have to do is grab a spoon and dig in!</p>
</div>
</div>
</div>
]]></content:encoded>
			<wfw:commentRss>https://fetchfitlife.com/recipes/almond-coconut-overnight-oats/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Gluten Free Rustic Summer Peach Tarts</title>
		<link>https://fetchfitlife.com/recipes/gluten-free-rustic-summer-peach-tarts/</link>
		<comments>https://fetchfitlife.com/recipes/gluten-free-rustic-summer-peach-tarts/#respond</comments>
		<pubDate>Mon, 24 Sep 2018 17:59:55 +0000</pubDate>
		<dc:creator><![CDATA[Lauren Henderson]]></dc:creator>
		
		<guid isPermaLink="false">https://www.fetchfitlife.com/?post_type=cp_recipe&#038;p=167</guid>
		<description><![CDATA[A yummy sunny summer dessert perfect for fresh peaches from the farmer's market.]]></description>
				<content:encoded><![CDATA[<h2>A yummy sunny summer dessert perfect for fresh peaches from the farmer&#8217;s market.</h2>
<h3>Ingredients</h3>
<div class="cooked-recipe-ingredients">
<div itemprop="recipeIngredient" class="cooked-single-ingredient cooked-ingredient cooked-ing-no-checkbox"><span class="cooked-ing-amount" data-decimal="2">2</span> <span class="cooked-ing-measurement">cups</span> <span class="cooked-ing-name">Gluten Free Flour (Pillsbury GF All purpose, almond, etc)</span></div>
<div itemprop="recipeIngredient" class="cooked-single-ingredient cooked-ingredient cooked-ing-no-checkbox"><span class="cooked-ing-amount" data-decimal="0.5">&#189;</span> <span class="cooked-ing-measurement">tsp</span> <span class="cooked-ing-name">Salt</span></div>
<div itemprop="recipeIngredient" class="cooked-single-ingredient cooked-ingredient cooked-ing-no-checkbox"><span class="cooked-ing-amount" data-decimal="0.25">&#188;</span> <span class="cooked-ing-measurement">cup</span> <span class="cooked-ing-name">oil (I used coconut)</span></div>
<div itemprop="recipeIngredient" class="cooked-single-ingredient cooked-ingredient cooked-ing-no-checkbox"><span class="cooked-ing-amount" data-decimal="2">2</span> <span class="cooked-ing-measurement">tbsp</span> <span class="cooked-ing-name">whole milk (I used half and half, you could use dairy free milk as well)</span></div>
<div itemprop="recipeIngredient" class="cooked-single-ingredient cooked-ingredient cooked-ing-no-checkbox"><span class="cooked-ing-amount" data-decimal="1">1</span> <span class="cooked-ing-measurement"></span> <span class="cooked-ing-name">egg</span></div>
<div itemprop="recipeIngredient" class="cooked-single-ingredient cooked-ingredient cooked-ing-no-checkbox"><span class="cooked-ing-amount" data-decimal="4">4</span> <span class="cooked-ing-measurement"></span> <span class="cooked-ing-name">large ripe peaches, diced</span></div>
<div itemprop="recipeIngredient" class="cooked-single-ingredient cooked-ingredient cooked-ing-no-checkbox"><span class="cooked-ing-amount" data-decimal="3">3</span> <span class="cooked-ing-measurement">tbsp</span> <span class="cooked-ing-name">honey (or sugar if preferred)</span></div>
<div itemprop="recipeIngredient" class="cooked-single-ingredient cooked-ingredient cooked-ing-no-checkbox"><span class="cooked-ing-amount" data-decimal="0.125">&#8539;</span> <span class="cooked-ing-measurement">tsp</span> <span class="cooked-ing-name">vanilla extract</span></div>
<div itemprop="recipeIngredient" class="cooked-single-ingredient cooked-ingredient cooked-ing-no-checkbox"><span class="cooked-ing-amount" data-decimal="0.25">&#188;</span> <span class="cooked-ing-measurement">tsp</span> <span class="cooked-ing-name">Apple Pie Spice</span></div>
</div>
<h3>Directions</h3>
<div class="cooked-recipe-directions">
<div class="cooked-single-direction cooked-direction" data-step="Step 1">
<div class="cooked-dir-content">
<p>Combine the flour and salt in a large bowl. Add oil, milk, egg, and vanilla extract. Toss mixture with a fork. Shape dough with clean hands into a disc and cover in plastic wrap. Refrigerate wrapped dough for about 1 hour.</p>
</div>
</div>
<div class="cooked-single-direction cooked-direction" data-step="Step 2">
<div class="cooked-dir-content">
<p>In a clean bowl, combine peaches, honey, and apple pie spice. Let stand for 15 mins.</p>
</div>
</div>
<div class="cooked-single-direction cooked-direction" data-step="Step 3">
<div class="cooked-dir-content">
<p>Unwrap dough, break off small pieces (about the size of a golf ball) and press into the bottom of a non stick muffin tin, making sure to work the dough up the sides.*</p>
</div>
</div>
<div class="cooked-single-direction cooked-direction" data-step="Step 4">
<div class="cooked-dir-content">
<p>Spoon fruit mixture into the center of each tartlet and fill to the top.</p>
</div>
</div>
<div class="cooked-single-direction cooked-direction" data-step="Step 5">
<div class="cooked-dir-content">
<p>Bake at 400 degrees for 20 mins, or until the dough is golden brown.  Remove tartlets from the oven and transfer pan to a wire rack to cool. Once cool, gently run a knife along the edges of the tartlets to loosen.</p>
</div>
</div>
<div class="cooked-single-direction cooked-direction" data-step="Step 6">
<div class="cooked-dir-content">
<p>Optional: Drizzle honey or sprinkle raw sugar to taste on top of finished tartlets if you desire a sweeter flavor.</p>
</div>
</div>
</div>
]]></content:encoded>
			<wfw:commentRss>https://fetchfitlife.com/recipes/gluten-free-rustic-summer-peach-tarts/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Healthy &#038; Bright Strawberry Salad</title>
		<link>https://fetchfitlife.com/recipes/healthy-bright-strawberry-salad/</link>
		<comments>https://fetchfitlife.com/recipes/healthy-bright-strawberry-salad/#respond</comments>
		<pubDate>Thu, 12 Jul 2018 17:47:29 +0000</pubDate>
		<dc:creator><![CDATA[Quinn Barefoot]]></dc:creator>
		
		<guid isPermaLink="false">https://www.fetchfitlife.com/?post_type=cp_recipe&#038;p=127</guid>
		<description><![CDATA[A colorful salad that is sure to brighten your day!]]></description>
				<content:encoded><![CDATA[<h2>A colorful salad that is sure to brighten your day!</h2>
<h3>Ingredients</h3>
<div class="cooked-recipe-ingredients">
<div class="cooked-single-ingredient cooked-heading">Ingredients</div>
<div itemprop="recipeIngredient" class="cooked-single-ingredient cooked-ingredient cooked-ing-no-checkbox"><span class="cooked-ing-amount" data-decimal="3">3</span> <span class="cooked-ing-measurement">cups</span> <span class="cooked-ing-name">50/50 Spinach and Spring Mix</span></div>
<div itemprop="recipeIngredient" class="cooked-single-ingredient cooked-ingredient cooked-ing-no-checkbox"><span class="cooked-ing-amount" data-decimal="0.25">&#188;</span> <span class="cooked-ing-measurement">cup</span> <span class="cooked-ing-name">Sliced Red Onion</span></div>
<div itemprop="recipeIngredient" class="cooked-single-ingredient cooked-ingredient cooked-ing-no-checkbox"><span class="cooked-ing-amount" data-decimal="0.25">&#188;</span> <span class="cooked-ing-measurement">cup</span> <span class="cooked-ing-name">Feta Cheese, Crumbled</span></div>
<div itemprop="recipeIngredient" class="cooked-single-ingredient cooked-ingredient cooked-ing-no-checkbox"><span class="cooked-ing-amount" data-decimal="0.25">&#188;</span> <span class="cooked-ing-measurement"></span> <span class="cooked-ing-name">Avocado, Sliced </span></div>
<div itemprop="recipeIngredient" class="cooked-single-ingredient cooked-ingredient cooked-ing-no-checkbox"><span class="cooked-ing-amount" data-decimal="5">5</span> <span class="cooked-ing-measurement"></span> <span class="cooked-ing-name">Medium Strawberries, Sliced or Diced</span></div>
<div itemprop="recipeIngredient" class="cooked-single-ingredient cooked-ingredient cooked-ing-no-checkbox"><span class="cooked-ing-amount" data-decimal="2">2</span> <span class="cooked-ing-measurement">tbsp</span> <span class="cooked-ing-name">Walden Farms Honey Dijon Dressing (or Skinny Girl Honey Dijon Dressing)</span></div>
</div>
<h3>Directions</h3>
<div class="cooked-recipe-directions">
<div class="cooked-single-direction cooked-direction" data-step="Step 1">
<div class="cooked-dir-content">
<p>Well, there’s not much to this salad! It’s so simple and easy, just another reason to love it! All you have to do is put the salad base of spring mix and spinach in a large bowl. </p>
</div>
</div>
<div class="cooked-single-direction cooked-direction" data-step="Step 2">
<div class="cooked-dir-content">
<p>Add in your sliced red onion, crumbled feta, avocado, and cut strawberries.</p>
</div>
</div>
<div class="cooked-single-direction cooked-direction" data-step="Step 3">
<div class="cooked-dir-content">
<p>If you are using the Walden Farms Honey Dijon Dressing, you can top off the salad with as much of it as you’d like because it’s calorie free. Yes you heard that right… CALORIE FREE! (Now, simple dressings that contain olive oil may be high in fat and calories, but they are still good for you in moderation… so don’t be afraid of them! However, you should try and stay away from using dressings that are made with a lot of cream or mayonnaise because they can pack on empty calories and several grams of saturated fat in just a few tablespoons.)</p>
</div>
</div>
<div class="cooked-single-direction cooked-direction" data-step="Step 4">
<div class="cooked-dir-content">
<p>Toss your salad together and add in more spring mix if it seems to heavy. All that’s left to do now is dig in!<br />
My favorite bites are the ones with strawberries, red onion, and avocado&#8230; now that’s a flavor party right there!</p>
</div>
</div>
</div>
]]></content:encoded>
			<wfw:commentRss>https://fetchfitlife.com/recipes/healthy-bright-strawberry-salad/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
