<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Physical Fitness &#8211; FetchFit</title>
	<atom:link href="https://fetchfitlife.com/category/fitness/physical-fitness/feed/" rel="self" type="application/rss+xml" />
	<link>http://fetchfitlife.com/</link>
	<description>Women&#039;s Fitness and Pet Lifestyle Blog</description>
	<lastBuildDate>Sun, 26 Jul 2020 22:18:08 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.5</generator>

<image>
	<url>https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/19004744/fetchfit-logo-100x100.png</url>
	<title>Physical Fitness &#8211; FetchFit</title>
	<link>http://fetchfitlife.com/</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Which Workout Shoes Are Right For Me?</title>
		<link>https://fetchfitlife.com/2019/03/04/which-workout-shoes-are-right-for-me/</link>
		<comments>https://fetchfitlife.com/2019/03/04/which-workout-shoes-are-right-for-me/#respond</comments>
		<pubDate>Mon, 04 Mar 2019 10:00:10 +0000</pubDate>
		<dc:creator><![CDATA[Quinn Barefoot]]></dc:creator>
				<category><![CDATA[Editor's Fitness Picks]]></category>
		<category><![CDATA[Fitness]]></category>
		<category><![CDATA[Physical Fitness]]></category>

		<guid isPermaLink="false">https://www.fetchfitlife.com/?p=586</guid>
		<description><![CDATA[It’s incredible how much our feet can do! Sure, they may not be the most attractive part of our body, but our life certainly wouldn’t be the same without them. And, that is why taking care of our feet is not only important to our fitness life, but also to our everyday health! &#160; That being said, picking out the right shoes is of the utmost importance. Not only can a good pair of shoes maximize your workout, but they can also serve to protect and cushion those precious feet of yours! You probably know that shoes can get quite pricey, but let me assure you that a good pair of workout shoes is worth the splurge. And, although you can use some shoes for various activities, if you spend a lot of time focusing on a certain sport, there are specific shoes that can help take your workout to a whole new level. &#160; Training Shoes &#160; Training shoes are the best shoes to use if you participate in various types of workouts throughout the week. These shoes are typically built for multi-directional movement and the sole is pretty flat, which allows for a wider range of motion. Training [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><span style="font-weight: 400;">It’s incredible how much our feet can do! Sure, they may not be the most attractive part of our body, but our life certainly wouldn’t be the same without them. And, that is why taking care of our feet is not only important to our fitness life, but also to our everyday health!</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">That being said, picking out the right shoes is of the utmost importance. Not only can a good pair of shoes maximize your workout, but they can also serve to protect and cushion those precious feet of yours! You probably know that shoes can get quite pricey, but let me assure you that a good pair of workout shoes is worth the splurge. And, although you can use some shoes for various activities, if you spend a lot of time focusing on a certain sport, there are specific shoes that can help take your workout to a whole new level.</span></p>
<p>&nbsp;</p>
<h2><b>Training Shoes</b></h2>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Training shoes are the best shoes to use if you participate in various types of workouts throughout the week. These shoes are typically built for multi-directional movement and the sole is pretty flat, which allows for a wider range of motion. Training shoes are a great multipurpose option that you should have in your gym bag at all times. Try <a href="https://www.amazon.com/Nike-Free-Womens-Shoes-Black-White/dp/B014GNBTJ2/ref=sr_1_8?s=apparel&amp;ie=UTF8&amp;qid=1531485906&amp;sr=1-8&amp;nodeID=7147440011&amp;psd=1&amp;keywords=training+shoes" target="_blank" rel="noopener">Nike Free TR 6</a> or <a href="https://www.amazon.com/New-Balance-Agility-Trainer-Vintage/dp/B01N77XR7Y/ref=sr_1_24?s=apparel&amp;ie=UTF8&amp;qid=1531485984&amp;sr=1-24&amp;nodeID=7147440011&amp;psd=1&amp;keywords=training+shoes" target="_blank" rel="noopener">New Balance Women’s Agility V2 Cross Trainer</a></span></p>
<div id="attachment_821" style="width: 860px" class="wp-caption aligncenter"><a href="https://www.amazon.com/Nike-Free-Womens-Shoes-Black-White/dp/B00BR7EDLM/ref=sr_1_8?s=apparel&amp;ie=UTF8&amp;qid=1531485906&amp;sr=1-8&amp;nodeID=7147440011&amp;psd=1&amp;keywords=training%2Bshoes&amp;th=1" rel="attachment wp-att-821"><img class="wp-image-821" src="https://www.fetchfitlife.com/wp-content/uploads/2018/07/NikeFreeTR6_ds.jpg" alt="" width="850" height="567" srcset="https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02233752/NikeFreeTR6_ds.jpg 1920w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02233752/NikeFreeTR6_ds-300x200.jpg 300w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02233752/NikeFreeTR6_ds-768x512.jpg 768w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02233752/NikeFreeTR6_ds-1170x780.jpg 1170w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02233752/NikeFreeTR6_ds-600x400.jpg 600w" sizes="(max-width: 850px) 100vw, 850px" /></a><p class="wp-caption-text"><a href="https://www.amazon.com/Nike-Free-Womens-Shoes-Black-White/dp/B00BR7EDLM/ref=sr_1_8?s=apparel&amp;ie=UTF8&amp;qid=1531485906&amp;sr=1-8&amp;nodeID=7147440011&amp;psd=1&amp;keywords=training%2Bshoes&amp;th=1">Womens Nike Free TR 6 Training Shoes</a></p></div>
<div id="attachment_823" style="width: 860px" class="wp-caption aligncenter"><a href="https://www.amazon.com/New-Balance-Agility-Trainer-Vintage/dp/B075R7RBQ2/ref=sr_1_24?s=apparel&amp;ie=UTF8&amp;qid=1531485984&amp;sr=1-24&amp;nodeID=7147440011&amp;psd=1&amp;keywords=training%2Bshoes&amp;th=1" rel="attachment wp-att-823"><img class="wp-image-823" src="https://www.fetchfitlife.com/wp-content/uploads/2018/07/newbalanceagilityv2cross_ds.jpg" alt="" width="850" height="567" srcset="https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02233828/newbalanceagilityv2cross_ds.jpg 1920w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02233828/newbalanceagilityv2cross_ds-300x200.jpg 300w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02233828/newbalanceagilityv2cross_ds-768x512.jpg 768w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02233828/newbalanceagilityv2cross_ds-1170x780.jpg 1170w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02233828/newbalanceagilityv2cross_ds-600x400.jpg 600w" sizes="(max-width: 850px) 100vw, 850px" /></a><p class="wp-caption-text"><a href="https://www.amazon.com/New-Balance-Agility-Trainer-Vintage/dp/B01N77XR7Y/ref=sr_1_24?s=apparel&amp;ie=UTF8&amp;qid=1531485984&amp;sr=1-24&amp;nodeID=7147440011&amp;psd=1&amp;keywords=training+shoes" target="_blank" rel="noopener"><span style="font-weight: 400;">New Balance Women&#8217;s FuelCoreAgility V2 Cross Trainer</span></a></p></div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h2><b>Crossfit Shoes</b></h2>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Yep, there’s a shoe for that! Crossfit require a lot of movement, and there have been shoes specifically designed to give your feet more stability while doing this intense workout. Crossfit shoes are designed to give you better balance and support, thus increasing your overall safety. </span></p>
<p><span style="font-weight: 400;">Reebok has a great line of Crossfit shoes, try the </span><a href="https://www.amazon.com/Reebok-Crossfit-Nano-Training-Fearless/dp/B010VBHA6Y/ref=sr_1_8?s=apparel&amp;ie=UTF8&amp;qid=1531486065&amp;sr=1-8&amp;nodeID=7147440011&amp;psd=1&amp;keywords=crossfit+shoes" target="_blank" rel="noopener"><span style="font-weight: 400;">Reebok Women&#8217;s Crossfit Nano 5.0</span></a></p>
<p>&nbsp;</p>
<div id="attachment_824" style="width: 860px" class="wp-caption aligncenter"><a href="https://www.amazon.com/Reebok-Crossfit-Nano-Training-Fearless/dp/B00TXFUTS6/ref=sr_1_8?s=apparel&amp;ie=UTF8&amp;qid=1531486065&amp;sr=1-8&amp;nodeID=7147440011&amp;psd=1&amp;keywords=crossfit%2Bshoes&amp;th=1" rel="attachment wp-att-824"><img class="wp-image-824" src="https://www.fetchfitlife.com/wp-content/uploads/2018/07/reebokcrossfitnano5_ds.jpg" alt="" width="850" height="567" srcset="https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02233906/reebokcrossfitnano5_ds.jpg 1920w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02233906/reebokcrossfitnano5_ds-300x200.jpg 300w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02233906/reebokcrossfitnano5_ds-768x512.jpg 768w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02233906/reebokcrossfitnano5_ds-1170x780.jpg 1170w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02233906/reebokcrossfitnano5_ds-600x400.jpg 600w" sizes="(max-width: 850px) 100vw, 850px" /></a><p class="wp-caption-text"><a href="https://www.amazon.com/Reebok-Crossfit-Nano-Training-Fearless/dp/B010VBHA6Y/ref=sr_1_8?s=apparel&amp;ie=UTF8&amp;qid=1531486065&amp;sr=1-8&amp;nodeID=7147440011&amp;psd=1&amp;keywords=crossfit+shoes" target="_blank" rel="noopener"><span style="font-weight: 400;">Reebok Women&#8217;s Crossfit Nano 5.0</span></a></p></div>
<p>&nbsp;</p>
<h2><b>Spinning Shoes And Cleats</b></h2>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">If spin classes are your thing, you’re going to love these! There are shoes and cleats made specifically for avid indoor cyclers like yourself. These shoes have the ability to click into the pedal of most spinning bikes, locking your feet into position and thus leading to a more effective workout. Try <a href="https://www.amazon.com/Tommaso-Pista-Womens-Class-Cycling/dp/B076TQK8ZZ/ref=sr_1_2_sspa?s=apparel&amp;ie=UTF8&amp;qid=1531487417&amp;sr=1-2-spons&amp;nodeID=7147440011&amp;psd=1&amp;keywords=spinning+shoes&amp;psc=1" target="_blank" rel="noopener">Tommaso Pista 100 Women&#8217;s Spin Class Ready Cycling Shoe with Compatible Cleat </a></span></p>
<div id="attachment_825" style="width: 860px" class="wp-caption aligncenter"><a href="https://www.amazon.com/Tommaso-Pista-Womens-Class-Cycling/dp/B079R4FRND/ref=sr_1_2_sspa?s=apparel&amp;ie=UTF8&amp;qid=1531487417&amp;sr=1-2-spons&amp;nodeID=7147440011&amp;psd=1&amp;keywords=spinning%2Bshoes&amp;th=1&amp;psc=1" rel="attachment wp-att-825"><img class="wp-image-825" src="https://www.fetchfitlife.com/wp-content/uploads/2018/07/tommasopista_ds.jpg" alt="" width="850" height="567" srcset="https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02234128/tommasopista_ds.jpg 1920w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02234128/tommasopista_ds-300x200.jpg 300w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02234128/tommasopista_ds-768x512.jpg 768w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02234128/tommasopista_ds-1170x780.jpg 1170w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02234128/tommasopista_ds-600x400.jpg 600w" sizes="(max-width: 850px) 100vw, 850px" /></a><p class="wp-caption-text"><span style="font-weight: 400;"><a href="https://www.amazon.com/Tommaso-Pista-Womens-Class-Cycling/dp/B076TQK8ZZ/ref=sr_1_2_sspa?s=apparel&amp;ie=UTF8&amp;qid=1531487417&amp;sr=1-2-spons&amp;nodeID=7147440011&amp;psd=1&amp;keywords=spinning+shoes&amp;psc=1" target="_blank" rel="noopener">Tommaso Pista 100 Women&#8217;s Spin Class Ready Cycling Shoe with Compatible Cleat </a></span></p></div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h2><b>Distance Running Shoes</b></h2>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">If you’re running miles at a time, you’re going to want to make sure your feet are in the best shoes possible! Distance running shoes are especially durable, lightweight and comfortable, making those long runs outside even more enjoyable. There are two types of distance running shoes that are each designed for different terrains: road-running and trail-running. Consider what types of runs you do more often and research shoes accordingly. Brooks and Asics make some of the best running shoes. Try <a href="https://www.amazon.com/Brooks-Womens-Revel-Anthracite-Athletic/dp/B01N073AO0/ref=sr_1_10?s=apparel&amp;ie=UTF8&amp;qid=1531487523&amp;sr=1-10&amp;nodeID=7147440011&amp;psd=1&amp;keywords=distance+running+shoes" target="_blank" rel="noopener">Brooks Womens Revel</a> or <a href="https://www.amazon.com/ASICS-Womens-GT-2000-Trail-Clover/dp/B071P2Z2SB/ref=sr_1_4?s=apparel&amp;ie=UTF8&amp;qid=1531487587&amp;sr=1-4&amp;nodeID=7147440011&amp;psd=1&amp;keywords=distance+running+shoes+asics" target="_blank" rel="noopener">Asics GT-2000 6 Trail Women&#8217;s Running Shoes</a></span></p>
<div id="attachment_827" style="width: 860px" class="wp-caption aligncenter"><a href="https://www.amazon.com/Brooks-Womens-Revel-Anthracite-Athletic/dp/B01N073AO0/ref=sr_1_10?s=apparel&amp;ie=UTF8&amp;qid=1531487523&amp;sr=1-10&amp;nodeID=7147440011&amp;psd=1&amp;keywords=distance+running+shoes" rel="attachment wp-att-827"><img class="wp-image-827" src="https://www.fetchfitlife.com/wp-content/uploads/2018/07/brooksrevel_ds.jpg" alt="" width="850" height="567" srcset="https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02234332/brooksrevel_ds.jpg 1920w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02234332/brooksrevel_ds-300x200.jpg 300w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02234332/brooksrevel_ds-768x512.jpg 768w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02234332/brooksrevel_ds-1170x780.jpg 1170w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02234332/brooksrevel_ds-600x400.jpg 600w" sizes="(max-width: 850px) 100vw, 850px" /></a><p class="wp-caption-text"><a href="https://www.amazon.com/Brooks-Womens-Revel-Anthracite-Athletic/dp/B01N073AO0/ref=sr_1_10?s=apparel&amp;ie=UTF8&amp;qid=1531487523&amp;sr=1-10&amp;nodeID=7147440011&amp;psd=1&amp;keywords=distance+running+shoes" target="_blank" rel="noopener"><span style="font-weight: 400;">Brooks Womens Revel</span></a></p></div>
<p>&nbsp;</p>
<div id="attachment_826" style="width: 860px" class="wp-caption aligncenter"><a href="https://www.amazon.com/ASICS-Womens-GT-2000-Trail-Clover/dp/B071P2Z2SB/ref=sr_1_4?s=apparel&amp;ie=UTF8&amp;qid=1531487587&amp;sr=1-4&amp;nodeID=7147440011&amp;psd=1&amp;keywords=distance+running+shoes+asics" rel="attachment wp-att-826"><img class="wp-image-826" src="https://www.fetchfitlife.com/wp-content/uploads/2018/07/asicsgt_ds.jpg" alt="" width="850" height="567" srcset="https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02234327/asicsgt_ds.jpg 1920w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02234327/asicsgt_ds-300x200.jpg 300w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02234327/asicsgt_ds-768x512.jpg 768w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02234327/asicsgt_ds-1170x780.jpg 1170w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/02234327/asicsgt_ds-600x400.jpg 600w" sizes="(max-width: 850px) 100vw, 850px" /></a><p class="wp-caption-text"><a href="https://www.amazon.com/ASICS-Womens-GT-2000-Trail-Clover/dp/B071P2Z2SB/ref=sr_1_4?s=apparel&amp;ie=UTF8&amp;qid=1531487587&amp;sr=1-4&amp;nodeID=7147440011&amp;psd=1&amp;keywords=distance+running+shoes+asics" target="_blank" rel="noopener"><span style="font-weight: 400;">Asics GT-2000 6 Trail Women&#8217;s Running Shoes</span></a></p></div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h2><b>Get Professional Help When Choosing Shoes</b></h2>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Employees in athletic shoe stores really do know best! And, did you know there are even some stores that can use specially designed technology to measure feet and fit you to the perfect shoe? They can measure your arch support, tell you if your feet turn in or out while walking, and even find out what part of the foot you put the most pressure on. It’s like a sporty Cinderella story! </span></p>
<p>&nbsp;</p>
<p><a href="http://stores.newbalance.com/pro_fit.aspx" target="_blank" rel="noopener"><span style="font-weight: 400;">New Balance</span></a><span style="font-weight: 400;"> is a major retailer that does a great job fitting their customers with the perfect shoe. </span><a href="https://www.fleetfeet.com/" target="_blank" rel="noopener"><span style="font-weight: 400;">Fleet Feet</span></a><span style="font-weight: 400;"> is another shop that does a great job matching your feet with the right shoes… and all of their stores are locally owned and operated!</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Remember: happy feet lead to a better workout!</span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">What is your favorite brand or type of shoe? Let us know so we can help spread the news!</span></i></p>
]]></content:encoded>
			<wfw:commentRss>https://fetchfitlife.com/2019/03/04/which-workout-shoes-are-right-for-me/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>How To Start Working Out Again After A Long Break… And 5 Ways You Can Actually Stick To It!</title>
		<link>https://fetchfitlife.com/2019/01/07/how-to-start-working-out-again-after-a-long-break-and-5-ways-you-can-actually-stick-to-it/</link>
		<comments>https://fetchfitlife.com/2019/01/07/how-to-start-working-out-again-after-a-long-break-and-5-ways-you-can-actually-stick-to-it/#respond</comments>
		<pubDate>Mon, 07 Jan 2019 10:00:49 +0000</pubDate>
		<dc:creator><![CDATA[Quinn Barefoot]]></dc:creator>
				<category><![CDATA[Fitness]]></category>
		<category><![CDATA[Physical Fitness]]></category>
		<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://www.fetchfitlife.com/?p=426</guid>
		<description><![CDATA[It’s no secret that sticking to a consistent workout routine is much easier said than done. If you’re anything like me, you know that it’s easy to get motivated and sprint out of the starting gate. However, as soon as you start skipping out on workouts, that seed of motivation quickly withers away just as fast as it sprung up. &#160; Trust me, I know how difficult it is to start working out again after taking a (sometimes embarrassingly long) break. But you know what? I started running again, and I’ve kept at it! I know that creating healthy habits isn’t easy, but I did it… and here’s 5 ways you can to: 1. Stop the excuses. Just stop. &#160; There are many different reasons you probably give as to why you can’t seem to consistently workout. And to be honest, I’ve given every excuse in the book. I’m too busy. It’s too hot outside to run. It’s too cold outside to run. I’m tired today. I’ve got so many other things I’ve got to deal with right now. Oh, and my personal favorite:  I don’t feel like it. &#160; We can think of a million different reasons as to [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><span style="font-weight: 400;">It’s no secret that sticking to a consistent workout routine is much easier said than done. If you’re anything like me, you know that it’s easy to get motivated and sprint out of the starting gate. However, as soon as you start skipping out on workouts, that seed of motivation quickly withers away just as fast as it sprung up.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Trust me, I know how difficult it is to start working out again after taking a (sometimes embarrassingly long) break. But you know what? I started running again, and I’ve kept at it! I know that creating healthy habits isn’t easy, but I did it… and here’s 5 ways you can to:</span></p>
<h2><b>1. Stop the excuses. Just stop.</b></h2>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">There are many different reasons you probably give as to why you can’t seem to consistently workout. And to be honest, I’ve given every excuse in the book</span><i><span style="font-weight: 400;">. I’m too busy. It’s too hot outside to run. It’s too cold outside to run. I’m tired today. I’ve got so many other things I’ve got to deal with right now. </span></i><span style="font-weight: 400;">Oh, and my personal favorite: </span><i><span style="font-weight: 400;"> I don’t feel like it. </span></i></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">We can think of a million different reasons as to why we choose to skip our workout. But that’s exactly what they are: excuses. So why don’t we start with being honest? Often times we put exercise on our “to do” list, but it’s never the top priority. Sure we may have things we have to do like work, school, taking care of the kids, or paying the bills. But you know what? Your health is a priority too! In fact, you can’t even accomplish any of those other tasks if you aren’t healthy enough! So let’s stop making excuses and start being honest with ourselves, would you take that first step with us?</span></p>
<p>&nbsp;</p>
<h2><b>2. Set a (realistic) goal.</b></h2>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Ok, maybe you’re one of those people who has “running a marathon” written down on your bucket list. But if you’ve taken a month off from working out, saying you want to be in marathon-running shape a few weeks down the road is probably unrealistic. And if you don’t stay on track or keep a consistent routine, discouragement is unavoidable.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Setting a realistic goal is a great place to start. A 26.2 mile race may take a few years to build up to, but how about 3.1 miles? If you want to start running, find a 5K race going on in your area. And if the race supports a great cause, well then that’s even better! There are always great races posted on websites like </span><a href="https://www.runnersworld.com/race-finder" target="_blank" rel="noopener"><span style="font-weight: 400;">Runner’s World</span></a><span style="font-weight: 400;"> or </span><a href="https://www.active.com/" target="_blank" rel="noopener"><span style="font-weight: 400;">Active</span></a><span style="font-weight: 400;">! Not into running? Try a push-up or sit-up challenge. See how many you can do today, and then do as many as you can again tomorrow. Record the number you do each day and see how quickly you can improve! </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Want to work out to lose weight? Start by setting small weight loss goals. Dropping a few pounds each month isn’t too hard and it can really be encouraging. However, you shouldn’t convince yourself that you’re going to fit into a two-sizes-too-small dress by the summer. Not everyone loses weight at the same rate or in the same places, so don’t set yourself up for discouragement. Take it at your pace and see what works best for your body. If you keep up a healthy routine, you may not only start looking slimmer, but also feeling more energized!</span></p>
<p>&nbsp;</p>
<h2><b>3. Count on accountability</b></h2>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Let’s be honest, we slip up a lot. Having a workout accountability partner can be the key to consistency! Whether it’s a spouse who wants to workout with you, a friend who shoots you a quick text, or a child who wants to tag along with you to the park, having that friendly face encouraging you can really help push you to the next level.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">So write it on your calendar, create a Facebook page, or just ask some of your close friends to keep tabs on you. It’s harder to skip out on exercising when you have others watching!</span></p>
<p>&nbsp;</p>
<h2><b>4. Don’t dread it</b></h2>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Ok, so maybe you don’t like exercising. Or, if you’re being honest, you have a deeply rooted hatred of it. But you know what? Don’t you usually feel so much better after a good workout (well, after you finally catch your breath and stop sweating)? If you’re sitting in your car trying to decide between hitting the gym or Dunkin Donuts, think of that post-workout feeling. Yea, it may be tough to step on the treadmill, but once you get going it’s really not as bad as you thought!</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">And yes, we all have those days where we struggle to get through a simple set of crunches, but don’t be discouraged. Just think, at least you pushed yourself to get up and do it! Take some time afterwards to stretch so that tomorrow may be a little easier!</span></p>
<p>&nbsp;</p>
<h2><b>5. Make a game out of it</b></h2>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Believe it or not, working out can actually be enjoyable if you make a game out of it! Create a running playlist on </span><a href="https://www.spotify.com/" target="_blank" rel="noopener"><span style="font-weight: 400;">Spotify</span></a><span style="font-weight: 400;"> or </span><a href="https://www.amazon.com/gp/dmusic/promotions/PrimeMusic" target="_blank" rel="noopener"><span style="font-weight: 400;">Amazon Music</span></a> <span style="font-weight: 400;">with your favorite pump-up music. Choose certain songs that you will run fast to and others that are for a light jog. Put them in a specific order or just shuffle them up and see what happens! Are you into zombies? Download the </span><a href="https://zombiesrungame.com/" target="_blank" rel="noopener"><span style="font-weight: 400;">Zombies, Run!</span></a><span style="font-weight: 400;"> game app that will transplant you into a different world where you won’t be running to workout, you’ll be running to survive!</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">And did you know you can get rewarded by working out? </span><a href="https://www.walgreens.com/steps/brhc-loggedout.jsp" target="_blank" rel="noopener"><span style="font-weight: 400;">Walgreens Balance Rewards</span></a><span style="font-weight: 400;"> allows you to earn points for maintaining healthy behaviors that you can then use to save money! </span><a href="http://www.charitymiles.org/" target="_blank" rel="noopener"><span style="font-weight: 400;">Charity Miles</span></a><span style="font-weight: 400;"> is another app that will make a donation to charity for every mile you run… how cool is that?!</span></p>
<p>&nbsp;</p>
<h2><b>So, what’s next?</b></h2>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">It’s time to stop saying “one day I’ll start working out again” and finally make today the day. There are always a million reasons not to do something, but why not push past those excuses and start creating healthy habits now? Are you ready to take the challenge?</span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">Were you encouraged by these 5 tips? We’d love to hear about your own journey toward health! Send us a message or leave a comment for a chance to be featured on our site! </span></i></p>
]]></content:encoded>
			<wfw:commentRss>https://fetchfitlife.com/2019/01/07/how-to-start-working-out-again-after-a-long-break-and-5-ways-you-can-actually-stick-to-it/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Ways to be Active with Friends</title>
		<link>https://fetchfitlife.com/2018/10/08/ways-to-be-active-with-friends/</link>
		<comments>https://fetchfitlife.com/2018/10/08/ways-to-be-active-with-friends/#respond</comments>
		<pubDate>Mon, 08 Oct 2018 11:00:34 +0000</pubDate>
		<dc:creator><![CDATA[Quinn Barefoot]]></dc:creator>
				<category><![CDATA[Fitness]]></category>
		<category><![CDATA[Physical Fitness]]></category>

		<guid isPermaLink="false">https://www.fetchfitlife.com/?p=579</guid>
		<description><![CDATA[Everything&#8217;s better with friends… and that includes fitness! Working out alone can get mundane and repetitive, but when you add some friends to the mix, it makes fitness more interesting and enjoyable. But, sometimes it can be hard to find an activity everyone can participate in and actually enjoy. &#160; It’s only natural for you and your friends to be at different activity levels. Not only that, but everyone has different strengths and weaknesses when it comes to fitness. Maybe some of your friends have really good endurance and can run for miles at a time while others enjoy higher intensity workouts in short intervals. &#160; It can be hard to find ways to be active with your friends who are at all different activity levels, but that’s where we can help! Here are some fun ideas of how you can be active with your friends no matter what activity level you are: &#160; Hiking &#160; Not only is hiking a great way to connect with nature, it’s a great way to connect with your friends! Nothing brings people together quite like hiking a beautiful trail and embracing adventure. Hiking can really get your heart pumping and legs burning&#8230; It’s [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><span style="font-weight: 400;">Everything&#8217;s better with friends… and that includes fitness! Working out alone can get mundane and repetitive, but when you add some friends to the mix, it makes fitness more interesting and enjoyable. But, sometimes it can be hard to find an activity everyone can participate in and actually enjoy.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">It’s only natural for you and your friends to be at different activity levels. Not only that, but everyone has different strengths and weaknesses when it comes to fitness. Maybe some of your friends have really good endurance and can run for miles at a time while others enjoy higher intensity workouts in short intervals. </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">It can be hard to find ways to be active with your friends who are at all different activity levels, but that’s where we can help! Here are some fun ideas of how you can be active with your friends no matter what activity level you are:</span></p>
<p>&nbsp;</p>
<p><b>Hiking</b></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Not only is hiking a great way to connect with nature, it’s a great way to connect with your friends! Nothing brings people together quite like hiking a beautiful trail and embracing adventure. Hiking can really get your heart pumping and legs burning&#8230; It’s a great workout! Research some trails in your area and gather a group of friends. Try sticking to a beginner level trail at first so you can get a gauge of how everyone is doing. If anyone is getting tired, take breaks along the way and soak in the view! Embrace the beauty around you and enjoy each other’s company. </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Want to get even closer? Make a camping trip out of it! Put your survival skills to good use by camping out in tents or hammocks (or go glamping a cabin, we won’t judge!). But remember, safety first! Make sure to plan ahead and take all safety precautions to ensure a good time!</span></p>
<p>&nbsp;</p>
<p><b>SUP or Kayaking</b></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Hit the beach! Enjoy the sun, sand and waves with your friends while still getting in a good workout. Go on a SUP, also known as stand up paddle board, adventure with a group of pals. It’s easy to find a SUP rental shop around any beach or lake, so make a day trip with your gal pals and soak in the sun! It’s a great workout that is doable no matter what your activity level is. </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Don’t think you are coordinated enough for SUP? That’s ok, kayaking is always an alternate option! Get single kayaks and race your friends, or get a few doubles and row out to an island for a nice picnik! </span></p>
<p>&nbsp;</p>
<p><b>Yoga</b></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Reconnect with your center while enjoying time with friends! Yoga is great for all activity levels because you can take it at whatever pace you’d like. Yoga consists of various poses and stretches that strengthen you body and bring peace to your mind. I mean, there’s not many other workouts that actually help you to relax while you’re doing them! You can head to a local yoga studio with your friends and take a class from a professional, it’s super easy and usually pretty reasonable! But, if you’re on a tight budget, everyone can buy their own yoga mat for about $10-$20 and head to someone’s house. Search youtube to find a beginner video and do it all in the comfort of your own homes. Maybe the host will even agree to make you all lunch afterward!</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Have fun!</span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">What activities do you like to do with your friends? Have you tried any of these? Let us know about it for a chance to be featured!</span></i></p>
]]></content:encoded>
			<wfw:commentRss>https://fetchfitlife.com/2018/10/08/ways-to-be-active-with-friends/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>3 Summertime Activities That Are So Fun, You’ll Forget You’re Working Out!</title>
		<link>https://fetchfitlife.com/2018/09/26/3-summertime-activities-that-are-so-fun-youll-forget-youre-working-out/</link>
		<comments>https://fetchfitlife.com/2018/09/26/3-summertime-activities-that-are-so-fun-youll-forget-youre-working-out/#respond</comments>
		<pubDate>Wed, 26 Sep 2018 04:00:56 +0000</pubDate>
		<dc:creator><![CDATA[Quinn Barefoot]]></dc:creator>
				<category><![CDATA[Fitness]]></category>
		<category><![CDATA[Physical Fitness]]></category>

		<guid isPermaLink="false">https://www.fetchfitlife.com/?p=628</guid>
		<description><![CDATA[Ah, can you believe it’s finally starting to get warm again? I don’t know about you, but I get excited every time the seasons change. With each new season comes new outfits to show off, new holidays to celebrate, and new foods to enjoy! &#160; One of my favorite seasonal transitions is springtime into summertime. You know that feeling, the one you get on the first “t-shirt weather” day of the year. It’s a glorious moment when you can finally walk outside and feel the sunshine on your skin again after months of being bundled up. Now, that’s heavenly! &#160; During the winter I tend to stick to the same indoor workouts, but warmer weather gives me the perfect opportunity to switch it up! Don’t get me wrong, I love riding my stationary bike, but it’s nice to swap out my view of a TV screen for one of an actual road! And now that the sun has finally decided to stick around for a while, I’ll take any excuse I can to go out and soak it all in! &#160; There are a plethora of fun summer activities available to us, and did you know that many of them [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><span style="font-weight: 400;">Ah, can you believe it’s finally starting to get warm again? I don’t know about you, but I get excited every time the seasons change. With each new season comes new outfits to show off, new holidays to celebrate, and new foods to enjoy!</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">One of my favorite seasonal transitions is springtime into summertime. You know that feeling, the one you get on the first “t-shirt weather” day of the year. It’s a glorious moment when you can finally walk outside and feel the sunshine on your skin again after months of being bundled up. Now, that’s heavenly!</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">During the winter I tend to stick to the same indoor workouts, but warmer weather gives me the perfect opportunity to switch it up! Don’t get me wrong, I love riding my stationary bike, but it’s nice to swap out my view of a TV screen for one of an actual road! And now that the sun has finally decided to stick around for a while, I’ll take any excuse I can to go out and soak it all in!</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">There are a plethora of fun summer activities available to us, and did you know that many of them can also double as a great workout? The best part about these activities is the fact that you are having so much fun, you hardly realize you’re also burning a crazy number of calories! </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Here are 3 of my favorite outdoor summer activities that also double as great workouts:</span></p>
<p>&nbsp;</p>
<ol>
<li><b> Ultimate Frisbee</b></li>
</ol>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">We all know those people who live and breathe ultimate frisbee. But you know what? You don’t have to be a hardcore fanatic of the game to enjoy it! Check the weather, find a field, and gather other casual frisbee players to get a game going. It can be fun to organize a one-time game, but if your friends really enjoy it, you should consider making it a weekly occurrence!</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">All of the running and throwing that a game of ultimate frisbee requires will help to get your heart rate up and your body sweating! </span></p>
<p>&nbsp;</p>
<ol start="2">
<li><b> Kayaking</b></li>
</ol>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Now this is a fun one! I love going on “adventure” dates with my husband where we pack up our kayaks and explore different islands along the intercoastal waterways of Wilmington. Don’t live near the coast? Well, the great thing about kayaking is that you can do it in any decent sized body of water! In fact, I bet there’s a park close enough to where you live that has a pond large enough for a good afternoon of kayaking! Don’t have kayaks? Don’t worry! There are plenty of shops and stands that pop up in the summer months and offer daily kayak rentals at reasonable prices. </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">A quick warning: keep in mind that if you decide to go on a kayaking adventure, you should take at least one other person with you! Kayaking can be dangerous and you should never go alone… especially in rough waters! That being said, kayaking through bumpy waves takes a lot of energy, making it a great way to burn calories and even let off some steam!</span></p>
<p>&nbsp;</p>
<ol start="3">
<li><b> Tennis</b></li>
</ol>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Release some of that built-up anger by whacking a tennis ball around for a few hours! You don’t have to be a professional or own all of that high-end equipment to play a good game. In fact, you don’t even have to play by the official rules if you don’t want to! Just grab a friend, head to a nearby park, and run through some volleys for a while. All of the running, hitting, and grunting not only burns calories, but it’s also a great stress reliever after a long week!</span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">What are your favorite ways to work up a sweat in the summer? Let us know in the comments section!</span></i></p>
<p>&nbsp;</p>
]]></content:encoded>
			<wfw:commentRss>https://fetchfitlife.com/2018/09/26/3-summertime-activities-that-are-so-fun-youll-forget-youre-working-out/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Welcome to FetchFit!</title>
		<link>https://fetchfitlife.com/2018/09/18/welcome-to-fetchfit/</link>
		<comments>https://fetchfitlife.com/2018/09/18/welcome-to-fetchfit/#respond</comments>
		<pubDate>Tue, 18 Sep 2018 09:00:37 +0000</pubDate>
		<dc:creator><![CDATA[Lauren Henderson]]></dc:creator>
				<category><![CDATA[Fitness]]></category>
		<category><![CDATA[Pet Lifestyle]]></category>
		<category><![CDATA[Physical Fitness]]></category>
		<category><![CDATA[Spiritual Fitness]]></category>

		<guid isPermaLink="false">https://www.fetchfitlife.com/?p=38</guid>
		<description><![CDATA[Welcome! &#160; Our goal here at FetchFit is to create a strong community of like-minded women who highly value their health and happiness. We believe in the importance of nurturing our bodies in a healthy way by eating clean, working out, and challenging ourselves both mentally and physically. Society has plenty of things to say about us, but we want to seek out the real truth. We are determined to focus on the things in life that hold the most value and therefore create healthy habits and develop a positive body image. &#160; We believe that God has created all women beautifully even though each of us has a unique body type, shape, and appearance. No matter what kind of body we have, we are all children of God and therefore have been specifically created in His image for His divine purpose. We know every woman is beautiful and that each one of us is deeply loved by Him. &#160; We invite you, the FetchFit community, to join us in our adventure! And, don’t forget to bring along your furry companion if you have one. We want to be an encouraging, safe place for all women to develop a biblical [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><span style="font-weight: 400;">Welcome!</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Our goal here at FetchFit is to create a strong community of like-minded women who highly value their health and happiness. We believe in the importance of nurturing our bodies in a healthy way by eating clean, working out, and challenging ourselves both mentally and physically. Society has plenty of things to say about us, but we want to seek out the real truth. We are determined to focus on the things in life that hold the most value and therefore create healthy habits and develop a positive body image.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">We believe that God has created all women beautifully even though each of us has a unique body type, shape, and appearance. No matter what kind of body we have, we are all children of God and therefore have been specifically created in His image for His divine purpose. We know every woman is beautiful and that each one of us is deeply loved by Him.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">We invite you, the FetchFit community, to join us in our adventure! And, don’t forget to bring along your furry companion if you have one. We want to be an encouraging, safe place for all women to develop a biblical perspective on health and fitness, while at the same time bonding with your favorite furkid(s)!</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Companionship with dogs is something near and dear to our hearts. Personally, I have grown up with dogs all my life and couldn’t wait to get my own dog as soon as I moved out on my own. My two border collies, who I loving call my “furkids”, have always been a physical (and fluffy) comfort to me throughout even during my darkest times. They provide  me with comfort and unbiased listening ears. Even though they may not understand everything I tell them, they are my confidants. My furkids help keep me active, positive, and it fills me with joy everytime I wake up to their cold wet noses and sloppy puppy kisses.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Even if you aren’t a dog mom, I believe that you can benefit greatly from what we have to say here. We may not have everything figured out, but I hope that you will join us on our journey to a healthier lifestyle while remaining both positive and realistic. Our bodies are temples, so if we don’t treat them with the respect they need, then how are we supposed to honor God or do His work well?</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">We are here to share helpful articles, workouts, and information on dog lifestyle related topics with our readers. We believe it’s so important to be spiritually fit and become strong women of God, not only physically, but in our hearts as well. Even if you are not a follower of Christ, we want to welcome you with open arms. We are not here to judge or shove anything in your face. We are all on our own journeys, and no one here is “perfect” or “has it all together”. If you ever have any questions, please don’t hesitate to contact us! We want to be here for each one of you and will try our best to answer everything honestly and truthfully.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Thank you for taking the time to visit us. We look forward to continuing our journey to a fitter lifestyle with you!</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Lauren Henderson</span></p>
<p><span style="font-weight: 400;">Founder of FetchFit</span></p>
<p>&nbsp;</p>
]]></content:encoded>
			<wfw:commentRss>https://fetchfitlife.com/2018/09/18/welcome-to-fetchfit/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>The Do&#8217;s And Don&#8217;ts Of Fitness Motivation</title>
		<link>https://fetchfitlife.com/2018/06/21/the-dos-and-donts-of-fitness-motivation/</link>
		<comments>https://fetchfitlife.com/2018/06/21/the-dos-and-donts-of-fitness-motivation/#respond</comments>
		<pubDate>Thu, 21 Jun 2018 14:32:38 +0000</pubDate>
		<dc:creator><![CDATA[Quinn Barefoot]]></dc:creator>
				<category><![CDATA[Fitness]]></category>
		<category><![CDATA[Physical Fitness]]></category>

		<guid isPermaLink="false">https://www.fetchfitlife.com/?p=40</guid>
		<description><![CDATA[Let me ask you a question: why do you workout? Are you trying to lose weight? Get healthy? Look better? Feel better? How about your end goal? Do you want to see a particular number on the scale or on a clothing label? Do you want your blood work results to show healthier levels after your next physical? Is there a particular fitness goal you want to achieve, like being able to lift a certain amount of weight or run for an extended period of time? The first step to reaching our goals is finding motivation… but it has to be the right motivation! Having the right perspective on exercise is so important, and there are so many positive and negative influences around us that can really change how we view fitness. Have you been looking for motivation in the right places? Here are some of the major dos and don’ts to consider while looking for the right motivation to meet your goals: &#160; DON’T Look At Unrealistic Images: It makes me absolutely furious whenever I scroll through Pinterest and see pictures of overly skinny and ultra photoshopped models with the caption “workout motivation” on my feed. Sorry to break [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><span style="font-weight: 400;">Let me ask you a question: why do you workout? </span></p>
<p><span style="font-weight: 400;">Are you trying to lose weight? Get healthy? Look better? Feel better? </span></p>
<p><span style="font-weight: 400;">How about your end goal? Do you want to see a particular number on the scale or on a clothing label? Do you want your blood work results to show healthier levels after your next physical? Is there a particular fitness goal you want to achieve, like being able to lift a certain amount of weight or run for an extended period of time?</span></p>
<p><span style="font-weight: 400;">The first step to reaching our goals is finding motivation… but it has to be the right motivation! Having the right perspective on exercise is so important, and there are so many positive and negative influences around us that can really change how we view fitness. </span><span style="font-weight: 400;"><br />
</span></p>
<p><span style="font-weight: 400;">Have you been looking for motivation in the right places? Here are some of the major dos and don’ts to consider while looking for the right motivation to meet your goals:</span></p>
<p>&nbsp;</p>
<p><b>DON’T Look At Unrealistic Images: </b><span style="font-weight: 400;">It makes me absolutely furious whenever I scroll through Pinterest and see pictures of overly skinny and ultra photoshopped models with the caption “workout motivation” on my feed. Sorry to break it to you, but it’s impossible for any of us to look like these pictures. Are you ready for another truth bomb? The models in these images that we all glorify don’t even look like that! How sad is it that we use these impossible images to set unrealistic (and unhealthy!) expectations for ourselves? There are only two outcomes if the pictures of these women with flat stomachs and twig-thin legs are our motivation: 1. We workout for a short period of time and become discouraged when we don’t see our bodies magically transform into this unrealistic shape, or 2. We workout so hard that we find ourselves extremely unhealthy, both physically and mentally.</span></p>
<p>&nbsp;</p>
<p><b>DO Know What Your Body Is Capable Of: </b><span style="font-weight: 400;">What was the weight that you felt the best at? Don’t just consider appearance, but think about how you actually felt at this number. Did you have more energy? Better focus? A balanced appetite? As you begin working out, take note of all that your body is feeling. How many minutes of exercise make you feel good? How much causes you to be sore the next day? What activities leave you feeling more energized? Are there any workouts that drain you instead of increasing your energy? Look to these indicators for motivation instead of plastering images of unrealistic goals all over your wall.</span></p>
<p>&nbsp;</p>
<p><b>DON’T Be Fooled By Mannequins:</b><span style="font-weight: 400;"> I was in Target the other day in the fitness apparel section when I noticed the mannequins they had on display. These mannequins were so skinny that I think they better represented a skeleton rather than a figure who had muscle and flesh. If that’s what you expect to look like when you put on Target athletic leggings, you are just setting yourself up for extreme disappointment. Sorry, but it’s true.</span></p>
<p>&nbsp;</p>
<p><b>DO Know That Everyone’s Body Looks And Works Differently:</b><span style="font-weight: 400;"> If you really take time to think about it, each of us has a body that works in such an incredible way! It truly amazes me when I start thinking about how every breath I take fuels every cell in my body. There is so much complexity to every move we make, yet many of us still walk, talk, and laugh with such ease! Your body is amazing, and it’s different from all of the other ones you see walking around. Don’t compare your body shape or fitness level to the girl’s on the next mat over at Pilates class. Your body is different than theirs, but it’s just as incredible! Find motivation in wanting to fuel this amazing body of yours and push it to function the best it can!</span></p>
<p>&nbsp;</p>
<p><b>DON’T Believe Everything You See On Social Media: </b><span style="font-weight: 400;">Ahh, Don’t even get me started with social media! Many of the fitness “influencers” on platforms like Instagram spend hours taking the perfect picture at the perfect time from the perfect angle to look the way they do… not to mention many of them alter these pictures even more before they upload them!</span></p>
<p>&nbsp;</p>
<p><b>DO Find Positive Real-Life Influences:</b><span style="font-weight: 400;"> Even though so many people on Instagram only show their “perfect social media” self, there are plenty of girls who tell it like it is! Find body-positive influencers who share how they’re feeling on both the good and the bad days. And remember how I mentioned the mannequins in Target earlier? Well one brand that I’ve seen play a vital role in being real and spreading body positivity is </span><a href="https://www.ae.com/aerie/aerie/s-cms/4840006" target="_blank" rel="noopener"><span style="font-weight: 400;">Aerie</span></a><span style="font-weight: 400;">. The brand boasts about their real-life models and ads that are never photoshopped… and they are beautiful! Many of the models also support special causes and open up about their stories on the </span><a href="https://www.ae.com/featured-aeriereal/aerie/s-cms/6890055" target="_blank" rel="noopener"><span style="font-weight: 400;">Aerie Real</span></a><span style="font-weight: 400;"> page. Now these women are the ones we can look to for motivation!</span></p>
<p>&nbsp;</p>
<p><b>DON’T Let Discouragement Hinder Your Progress: </b><span style="font-weight: 400;">Working out is tough, I know. Often times we become discouraged when we don’t see the results we want, or when we don’t see them as quickly as we’d like. Say, for example, you’re trying to fit into a cute little dress just in time for your best friend’s wedding. You workout hard for a month or so, lose a few pounds, but still aren’t able to zip it up past your waist. Discouraged, you throw the dress on the ground and don’t even bother going to your HIIT class later that day. You didn’t meet your goal, and the “failure” you feel causes whatever motivation you had to fizzle out.</span></p>
<p>&nbsp;</p>
<p><b>DO Stay Consistent And Keep Pushing Past Barriers</b><span style="font-weight: 400;">: So what if you don’t meet a goal? That should just motivate you to work harder! Maybe you set the bar too high and should consider creating a more achievable goal next. Some of our best accomplishments come after a failure… so there is no excuse to give up! Consistency is key to working out and maintaining a healthy lifestyle. Remember, Rome wasn’t built in a day, and you can’t expect amazing things to happen to your body overnight. Keep up the hard work, I promise it’ll be so worth it!</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Let’s stop trying to get skinny and start trying to get healthy… are you motivated yet?!</span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">Where do you find fitness motivation? Tell us about what motivates you in the comments section or send us a message for a chance to be featured!</span></i></p>
]]></content:encoded>
			<wfw:commentRss>https://fetchfitlife.com/2018/06/21/the-dos-and-donts-of-fitness-motivation/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
