<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Pet Lifestyle &#8211; FetchFit</title>
	<atom:link href="https://fetchfitlife.com/category/pet-lifestyle/feed/" rel="self" type="application/rss+xml" />
	<link>http://fetchfitlife.com/</link>
	<description>Women&#039;s Fitness and Pet Lifestyle Blog</description>
	<lastBuildDate>Sun, 26 Jul 2020 22:18:08 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.5</generator>

<image>
	<url>https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/19004744/fetchfit-logo-100x100.png</url>
	<title>Pet Lifestyle &#8211; FetchFit</title>
	<link>http://fetchfitlife.com/</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>How To Plan A Safe and Pawsome Road Trip With Your Dog</title>
		<link>https://fetchfitlife.com/2019/06/25/how-to-plan-a-safe-and-pawsome-road-trip-with-your-dog/</link>
		<comments>https://fetchfitlife.com/2019/06/25/how-to-plan-a-safe-and-pawsome-road-trip-with-your-dog/#respond</comments>
		<pubDate>Tue, 25 Jun 2019 16:30:54 +0000</pubDate>
		<dc:creator><![CDATA[Quinn Barefoot]]></dc:creator>
				<category><![CDATA[Pet Lifestyle]]></category>
		<category><![CDATA[Tips & Tricks]]></category>
		<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://www.fetchfitlife.com/?p=423</guid>
		<description><![CDATA[&#160; How many of you have a countdown until your next vacation? I know for me as soon as I book my trip I go find a calendar and count how many days I have to wait until my getaway (right now it’s 25!). &#160; But you know who else really needs a vacation? Your dog! I mean, that life of chewing toys, eating treats, and late night snuggles can get pretty exhausting! My husband and I love to take our dog along with us on trips whenever we can. Meeka is always up for new places to run, food to try, and people to sniff! &#160; However, traveling with a dog has its challenges, that’s why it’s oh-so important to plan ahead so you can make sure your best friend is as safe and content as possible. To ensure everyone’s fun and well being on vacation, take a look at the following DO’s and DON’Ts for planning a safe road trip with your dog: &#160; 1. Health and Safety &#160; DO bring their vet and vaccination records, DON’T assume everything will go according to plan: You know what they say, it’s better to be safe than sorry! Please please [&#8230;]]]></description>
				<content:encoded><![CDATA[<div id="attachment_424" style="width: 1930px" class="wp-caption aligncenter"><img class="wp-image-424 size-full" src="https://www.fetchfitlife.com/wp-content/uploads/2018/07/dogtrip_1_ds.jpg" alt="" width="1920" height="1280" srcset="https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/19181344/dogtrip_1_ds.jpg 1920w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/19181344/dogtrip_1_ds-600x400.jpg 600w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/19181344/dogtrip_1_ds-300x200.jpg 300w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/19181344/dogtrip_1_ds-768x512.jpg 768w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/19181344/dogtrip_1_ds-1170x780.jpg 1170w" sizes="(max-width: 1920px) 100vw, 1920px" /><p class="wp-caption-text">Lauren&#8217;s Pups, Cassie and Finn are ready to hit the road!</p></div>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">How many of you have a countdown until your next vacation? I know for me as soon as I book my trip I go find a calendar and count how many days I have to wait until my getaway (right now it’s 25!).</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">But you know who else really needs a vacation? Your dog! I mean, that life of chewing toys, eating treats, and late night snuggles can get pretty exhausting! My husband and I love to take our dog along with us on trips whenever we can. Meeka is always up for new places to run, food to try, and people to sniff!</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">However, traveling with a dog has its challenges, that’s why it’s oh-so important to plan ahead so you can make sure your best friend is as safe and content as possible. To ensure everyone’s fun and well being on vacation, take a look at the following DO’s and DON’Ts for planning a safe road trip with your dog:</span></p>
<p>&nbsp;</p>
<h2><b>1. Health and Safety</b></h2>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">DO bring their vet and vaccination records, DON’T assume everything will go according to plan:</span></i><span style="font-weight: 400;"> You know what they say, it’s better to be safe than sorry! Please please please make sure to pack a copy of your pet’s vaccination records and any other medical paperwork that would be helpful in case of an emergency. No one ever wants to make a trip to the emergency vet, especially when you are far away from home. However, heaven forbid something were to happen, having these papers readily on hand will make the process so much easier and more efficient, giving everyone more peace of mind while you adventure with your four-legged friend.</span></p>
<p>&nbsp;</p>
<h2><b>2. The Essentials</b></h2>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">DO bring plenty of water, treats, and your pet’s normal food, DON’T plan on buying food at your destination or only getting water during restroom breaks:</span></i><span style="font-weight: 400;"> Food and water is important for us, and it’s just as, if not more, important for your furry road trip buddy! Make sure to pack a few water bottles and a collapsible bowl (I recommend the</span><a href="https://www.amazon.com/COMSUN-Collapsible-Silicone-Expandable-Carabiner/dp/B019B53YVQ/ref=sr_1_5?ie=UTF8&amp;qid=1530621127&amp;sr=8-5&amp;keywords=portable+dog+bowl" target="_blank" rel="noopener"><span style="font-weight: 400;"> COMSUN Collapsible Dog Bowl</span></a><span style="font-weight: 400;">), especially if you’re making this trip during one of those scorching summer months. It’s important for your pup to stay hydrated, and a collapsible bowl keeps everything neat and compact… it’s a road trip essential! Not only that, but pack a large supply of your dog’s food for the trip. You want them to have their own normal food to eat, and you never know if the stores where you are travelling to will have it in stock. Pack enough for a few extra days just in case there are any spills, travel delays, or especially hungry pups! Also, make sure to keep some mess-free treats in the car in case you get stuck in traffic and your dog’s stomach starts to growl… nobody likes to ride with a &#8220;hangry&#8221; passenger!</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">And just in case your dog makes a mess with food, water, or accidents (car sickness or inability to hold it until the next rest stop), pack a roll of paper towels or a pack of wipes. Keeping their area as clean as possible will help them relax and enjoy the ride!</span></p>
<p>&nbsp;</p>
<h2><b>3. A Place to Snooze</b></h2>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">DO bring your dog’s bed or a familiar pillow, DON’T plan on your dog sleeping through the night in an unfamiliar place:</span></i><span style="font-weight: 400;"> It’s hard for me to sleep through the night in a new place, and it’s also hard for Meeka! We always make sure to pack her bed so that she has somewhere she knows is safe to lay down at night. If your dog’s bed is too big or not able to be packed up into the car, bring a pillow or some sort of cushion that has a familiar scent for your pooch to cuddle up with at night. Having this sense of familiarity will hopefully help to take the edge off and allow them settle down so they can get a good night&#8217;s rest. More sleep equals more energy for fun adventures!</span></p>
<p>&nbsp;</p>
<h2><b>4. Secure Gear and Planning Ahead</b></h2>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">DO ensure your dog has a secure collar, leash and tags, DON’T assume you won’t need to make any stops or that your pup will stay by your side: </span></i><span style="font-weight: 400;">Having your dog run away is every pet parent’s worst nightmare… so let’s take every precaution we can so it won’t happen! Travelling is fun, but it can also be extremely stressful for your dog. Make sure they are wearing a secure collar with tags that have your name and phone number on them. Any time you stop for a bathroom break, make sure to attach the leash to their collar securely before you even open the door. Being in a strange place with tons of cars whizzing by can give your dog a lot of anxiety and may cause them to want to dart off, so keep a tight grip on them. If they seem to be in distress, reassure them with a kind tone that everything is ok and to get their business done! And, if you are able to, plan out a few stops along the way at rest areas that are quieter and have enough grass for your buddy to stretch their legs. If you aren’t in a rush, try stopping at a park halfway through the drive. Go for quick walk so that you and your pup get enough exercise for the day. Who knows, maybe a little walk is just what they need to help them snooze the rest of the way!</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">And just like we need seatbelts, your dog also needs one! Make sure to invest in a </span><a href="https://www.amazon.com/Pawaboo-Safety-Harness-Adjustable-Suitable/dp/B01KNULPO6/ref=sr_1_6?s=pet-supplies&amp;ie=UTF8&amp;qid=1530625872&amp;sr=1-6&amp;keywords=dog+seat+belt" target="_blank" rel="noopener"><span style="font-weight: 400;">dog safety harness </span></a><span style="font-weight: 400;">for the car to ensure their safety!</span></p>
<p>&nbsp;</p>
<h2><b>5. Entertainment</b></h2>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">DO pack a few toys or a bone to chew on, DON’T assume they won’t get bored during the car ride:</span></i><span style="font-weight: 400;"> It is a good idea to pack a few toys that will keep your dog busy during a long trip. If your pup is getting bored or antsy, try hiding a few treats inside their </span><a href="https://www.amazon.com/KONG-Classic-Dog-Toy-Large/dp/B0002AR0I8/ref=sr_1_2?s=pet-supplies&amp;ie=UTF8&amp;qid=1530622611&amp;sr=1-2&amp;keywords=kong" target="_blank" rel="noopener"><span style="font-weight: 400;">Kong</span></a><span style="font-weight: 400;"> or a puzzle toy. If they’ve been an extra good boy or girl, give them a nice big bone to chew on (Meeka loves antlers, and they don’t make a mess!). Keeping your dog entertained will ensure you have a more pleasant car ride and help prevent them from finding something more destructive to do (like chewing through seat belts… that’s no fun to discover!).</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Happy travels!</span></p>
<p>&nbsp;</p>
<p><a href="https://www.fetchfitlife.com/2019/06/25/how-to-plan-a-safe-and-pawsome-road-trip-with-your-dog/ff_dogroadtripchecklist/" rel="attachment wp-att-937">Printable &#8211; Road Trip Checklist for Your Dog!</a></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">Where do you like to travel with your dog? What do you find is helpful for long car rides? Let us know for a chance to be featured!</span></i></p>
]]></content:encoded>
			<wfw:commentRss>https://fetchfitlife.com/2019/06/25/how-to-plan-a-safe-and-pawsome-road-trip-with-your-dog/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Happy Valentine&#8217;s Day!</title>
		<link>https://fetchfitlife.com/2019/02/14/happy-valentines-day/</link>
		<comments>https://fetchfitlife.com/2019/02/14/happy-valentines-day/#respond</comments>
		<pubDate>Thu, 14 Feb 2019 19:49:35 +0000</pubDate>
		<dc:creator><![CDATA[Lauren Henderson]]></dc:creator>
				<category><![CDATA[Pet Lifestyle]]></category>

		<guid isPermaLink="false">https://www.fetchfitlife.com/?p=809</guid>
		<description><![CDATA[We hope your day is full of puppy love! &#160; &#160;]]></description>
				<content:encoded><![CDATA[<h2 style="text-align: center;">We hope your day is full of puppy love!</h2>
<p>&nbsp;</p>
<p><a href="https://www.fetchfitlife.com/2019/02/14/happy-valentines-day/finn_valentines/" rel="attachment wp-att-810"><img class="aligncenter size-full wp-image-810" src="https://www.fetchfitlife.com/wp-content/uploads/2019/02/finn_valentines.jpg" alt="" width="696" height="960" srcset="https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2019/02/14144253/finn_valentines.jpg 696w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2019/02/14144253/finn_valentines-218x300.jpg 218w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2019/02/14144253/finn_valentines-600x828.jpg 600w" sizes="(max-width: 696px) 100vw, 696px" /></a></p>
<h2 style="text-align: center;"></h2>
<p>&nbsp;</p>
]]></content:encoded>
			<wfw:commentRss>https://fetchfitlife.com/2019/02/14/happy-valentines-day/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Merry Christmas!</title>
		<link>https://fetchfitlife.com/2018/12/25/merry-christmas/</link>
		<comments>https://fetchfitlife.com/2018/12/25/merry-christmas/#respond</comments>
		<pubDate>Tue, 25 Dec 2018 06:00:21 +0000</pubDate>
		<dc:creator><![CDATA[Lauren Henderson]]></dc:creator>
				<category><![CDATA[Fitness]]></category>
		<category><![CDATA[Pet Lifestyle]]></category>
		<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://www.fetchfitlife.com/?p=786</guid>
		<description><![CDATA[Wishing you a very merry Christmas! &#160; May your holiday season with family and friends be filled with joy and love&#8230; &#160; &#160; May you have good times full of fun and laughter&#8230; &#160; &#160; May your home be warm and cozy, with time for naps between all the yummy food and treats&#8230; &#160; Merry Christmas from the ladies (and their pups) at FetchFit.]]></description>
				<content:encoded><![CDATA[<h1>Wishing you a very merry Christmas!</h1>
<p>&nbsp;</p>
<h3>May your holiday season with family and friends be filled with joy and love&#8230;</h3>
<p>&nbsp;</p>
<p><a href="https://www.fetchfitlife.com/?attachment_id=792" rel="attachment wp-att-792"><img class="aligncenter size-full wp-image-792" src="https://www.fetchfitlife.com/wp-content/uploads/2018/12/christmas_meeka2.jpg" alt="" width="668" height="1002" srcset="https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/12/24104034/christmas_meeka2.jpg 668w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/12/24104034/christmas_meeka2-200x300.jpg 200w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/12/24104034/christmas_meeka2-600x900.jpg 600w" sizes="(max-width: 668px) 100vw, 668px" /></a></p>
<p>&nbsp;</p>
<h3>May you have good times full of fun and laughter&#8230;</h3>
<p>&nbsp;</p>
<p><a href="https://www.fetchfitlife.com/?attachment_id=790" rel="attachment wp-att-790"><img class="aligncenter size-full wp-image-790" src="https://www.fetchfitlife.com/wp-content/uploads/2018/12/Christmas_Finley.jpg" alt="" width="5184" height="3456" srcset="https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/12/24103917/Christmas_Finley.jpg 5184w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/12/24103917/Christmas_Finley-300x200.jpg 300w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/12/24103917/Christmas_Finley-768x512.jpg 768w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/12/24103917/Christmas_Finley-1170x780.jpg 1170w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/12/24103917/Christmas_Finley-600x400.jpg 600w" sizes="(max-width: 5184px) 100vw, 5184px" /></a></p>
<p>&nbsp;</p>
<h3>May your home be warm and cozy, with time for naps between all the yummy food and treats&#8230;</h3>
<p>&nbsp;</p>
<p><a href="https://www.fetchfitlife.com/?attachment_id=789" rel="attachment wp-att-789"><img class="aligncenter size-full wp-image-789" src="https://www.fetchfitlife.com/wp-content/uploads/2018/12/Christmas_CassieandFinn.jpg" alt="" width="5184" height="3456" srcset="https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/12/24103904/Christmas_CassieandFinn.jpg 5184w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/12/24103904/Christmas_CassieandFinn-300x200.jpg 300w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/12/24103904/Christmas_CassieandFinn-768x512.jpg 768w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/12/24103904/Christmas_CassieandFinn-1170x780.jpg 1170w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/12/24103904/Christmas_CassieandFinn-600x400.jpg 600w" sizes="(max-width: 5184px) 100vw, 5184px" /></a></p>
<h2></h2>
<h2>Merry Christmas from the ladies (and their pups) at FetchFit.</h2>
]]></content:encoded>
			<wfw:commentRss>https://fetchfitlife.com/2018/12/25/merry-christmas/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>5 Foods You Should Never Feed Your Dog (and 5 Safe Alternatives)</title>
		<link>https://fetchfitlife.com/2018/12/19/5-foods-you-should-never-feed-your-dog-and-5-safe-alternatives/</link>
		<comments>https://fetchfitlife.com/2018/12/19/5-foods-you-should-never-feed-your-dog-and-5-safe-alternatives/#respond</comments>
		<pubDate>Wed, 19 Dec 2018 10:00:19 +0000</pubDate>
		<dc:creator><![CDATA[Quinn Barefoot]]></dc:creator>
				<category><![CDATA[Pet Health]]></category>
		<category><![CDATA[Pet Lifestyle]]></category>
		<category><![CDATA[Tips & Tricks]]></category>
		<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://www.fetchfitlife.com/?p=775</guid>
		<description><![CDATA[Picture this: you and your family are sitting down at the dinner table after a long day, armed with forks and knives, ready to chow down on some grub. Suddenly, you feel something warm and fuzzy brush against your feet. You immediately know what it is, and as you look under the table, your eyes lock with that wide-eyed puppy staring back up at you, just desperate for a bite. They’re not looking for much, just a few table scraps to satisfy that sweet puppy belly. I mean, wouldn’t it be cruel to cook up a delicious-smelling meal and not let them try a bite? &#160; I know I’m guilty of giving into that furball under the table. But, even though I want to spoil my dog, I know that has to be done in moderation and with only a few types of food. Yes, it’s hard saying no to those desperate eyes, but it’s for their own good! And, it’s even more tempting to give into that adorable pooch during the holiday season, but it’s important to stand your ground and say “no”. &#160; We want to help you keep your furry friend safe, so we compiled a list [&#8230;]]]></description>
				<content:encoded><![CDATA[<article id="post-759" class="post-759 post type-post status-draft format-standard hentry category-uncategorized">
<div class="entry-content">
<div class="momoko-content">
<div class="momoko-excerpt-area">
<div class="momoko-post-excerpt">
<p>Picture this: you and your family are sitting down at the dinner table after a long day, armed with forks and knives, ready to chow down on some grub. Suddenly, you feel something warm and fuzzy brush against your feet. You immediately know what it is, and as you look under the table, your eyes lock with that wide-eyed puppy staring back up at you, just desperate for a bite. They’re not looking for much, just a few table scraps to satisfy that sweet puppy belly. I mean, wouldn’t it be cruel to cook up a delicious-smelling meal and not let them try a bite?</p>
<p>&nbsp;</p>
<p>I know I’m guilty of giving into that furball under the table. But, even though I want to spoil my dog, I know that has to be done in moderation and with only a few types of food. Yes, it’s hard saying no to those desperate eyes, but it’s for their own good! And, it’s even more tempting to give into that adorable pooch during the holiday season, but it’s important to stand your ground and say “no”.</p>
<p>&nbsp;</p>
<p>We want to help you keep your furry friend safe, so we compiled a list of 5 foods that you should never give your dog followed by a safe option you should consider instead.</p>
<p>&nbsp;</p>
<p><a href="https://www.fetchfitlife.com/?attachment_id=784" rel="attachment wp-att-784"><img class="aligncenter size-full wp-image-784" src="https://www.fetchfitlife.com/wp-content/uploads/2018/12/5Foods_ds.jpg" alt="" width="2400" height="3304" srcset="https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/12/18222908/5Foods_ds.jpg 2400w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/12/18222908/5Foods_ds-218x300.jpg 218w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/12/18222908/5Foods_ds-768x1057.jpg 768w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/12/18222908/5Foods_ds-1453x2000.jpg 1453w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/12/18222908/5Foods_ds-1170x1611.jpg 1170w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/12/18222908/5Foods_ds-600x826.jpg 600w" sizes="(max-width: 2400px) 100vw, 2400px" /></a></p>
<h2></h2>
<h2><strong>1. Xylitol</strong></h2>
<p>&nbsp;</p>
<p>This one is tricky but oh-so-important! Believe it or not, xylitol can be found in some brands of peanut butter, that’s why it’s crucial to always check the label before giving Fido a spoonful of their favorite sticky treat. Xylitol is a sweetner typically found in candy, gum, baked goods, and many diet foods. This chemical can cause an imbalance in your pup’s blood sugar and, in serious cases, can even lead to liver failure.</p>
<p>&nbsp;</p>
<p>Safe option: Find peanut butter that doesn’t contain xylitol (brands that say “all natural” typically don’t contain this chemical, but always double check). I’m sure your dog will always be up for a spoonful of that!</p>
</div>
<p>&nbsp;</p>
<div class="momoko-post-excerpt">
<h2><strong>2. Onions and Garlic</strong></h2>
<p>&nbsp;</p>
<p>Now, I’m sure you would never give your dog a whole onion or clove of garlic to munch on, but these dangerous ingredients are mixed into a whole bunch of foods that we might not even think twice about feeding to our pup. All forms of onions and garlic (raw, cooked, powdered, etc.) can be dangerous to dogs because they wreak havoc on their red blood cells.</p>
<p>&nbsp;</p>
<p>Safe option: Instead of giving your pup something that may contain traces on onions or garlic, try giving them few plain carrots, either steamed or raw. Carrots are a great, nutritious vegetable for dogs to enjoy as long as they are completely plain and free from seasoning.</p>
<p>&nbsp;</p>
<h2><strong>3. Grapes and Raisins</strong></h2>
<p>&nbsp;</p>
<p>Even if you’re tempted to feed your dog some fresh grapes off of an overflowing fruit tray, DON’T! Many pet parents don’t realize that grapes and raisins can lead to kidney failure in dogs. And, the scary thing is that just a small amount of this toxic fruit can cause a lot of harm to your furry friend. So, if your dog has a tendency of sneaking food off of the counter, really double check to make sure there are no grapes or foods that contain raisins within their reach!</p>
<p>&nbsp;</p>
<p>Safe option: Grapes and raisins may not be safe for dogs, but apples and bananas sure are! Try giving them a few pieces of these dog-friendly fruits the next time they’re begging for something sweet.</p>
<p>&nbsp;</p>
<h2><strong>4. Chocolate</strong></h2>
<p>&nbsp;</p>
<p>Now, all of us should know by now that dogs aren’t supposed to have chocolate, but that doesn’t stop some pet parents from allowing their dog to take a little bite of something that has this toxic ingredient. I mean, chocolate is so good, just a little bit won’t hurt them, right? WRONG! Chocolate contains theobromine which can cause a variety of health issues including heart problems, tremors, and seizures. And, it’s important to know that theobromine is found in all types of chocolate, including white chocolate. No matter how much you love chocolate, never ever under any circumstances give your dog a taste!</p>
<p>&nbsp;</p>
<p>Safe option: Pumpkin puree (which is only one ingredient: pumpkin. Make sure to buy the puree and NOT the pumpkin pie filling) is a safe and delicious food for your pup to enjoy. Not only that, but it can also help ease stomach aches and be beneficial to your pup.</p>
<p>&nbsp;</p>
<h2><strong>5. Bones</strong></h2>
<p>&nbsp;</p>
<p>You know that old saying “give a dog a bone”… but that’s probably not be the best idea! If you cook yourself up a steak or some chicken wings, it may be tempting to throw that bone under the table for Fido to enjoy. However, small bones like this are easy for dogs to choke on. Not only that, but they can splinter, which may lead to painful cuts or blockages within your pup’s digestive tract.</p>
<p>&nbsp;</p>
<p>Safe option: You may not be able to give your dog a bone from the dinner table, but there are plenty of dog-safe bones and chew toys on the market for them to enjoy. I usually end up giving my dog an <a href="https://www.amazon.com/Gnawtlers-Naturally-Specially-Selected-Heartland/dp/B01M9GOH17/ref=sr_1_9?s=pet-supplies&amp;ie=UTF8&amp;qid=1532088527&amp;sr=1-9&amp;keywords=dog+antler">Elk Antler</a> to keep her busy. Not only does she love them, but they last a long time! Now, make sure to get the appropriate size for your dog and keep an eye on them while they are chewing to make sure they don’t choke or cut themselves as some of these treats can have sharp points.</p>
<p>&nbsp;</p>
<p>So, next time you see your dog waiting under the table for some scraps, I hope you have the willpower to stand strong and not give into those begging puppy dog eyes. But, every good girl and boy does deserve a treat, so make sure to keep these dog-safe options on hand.</p>
<p>&nbsp;</p>
<p>Remember, a healthy pup is a happy pup!</p>
<p>&nbsp;</p>
<p><i>Did you find this story helpful? Do you have any other dog-safe food options that your furball enjoys? Let us know so we can let others know!</i></p>
<p>&nbsp;</p>
</div>
</div>
<div class="momoko-tags-area"></div>
</div>
</div>
</article>
<div id="comments" class="post-comments"></div>
]]></content:encoded>
			<wfw:commentRss>https://fetchfitlife.com/2018/12/19/5-foods-you-should-never-feed-your-dog-and-5-safe-alternatives/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>DIY Custom Dog Ornament</title>
		<link>https://fetchfitlife.com/2018/12/13/diy-custom-dog-ornament/</link>
		<comments>https://fetchfitlife.com/2018/12/13/diy-custom-dog-ornament/#respond</comments>
		<pubDate>Thu, 13 Dec 2018 16:48:19 +0000</pubDate>
		<dc:creator><![CDATA[Lauren Henderson]]></dc:creator>
				<category><![CDATA[DIY]]></category>
		<category><![CDATA[Pet Lifestyle]]></category>
		<category><![CDATA[Tips & Tricks]]></category>
		<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://www.fetchfitlife.com/?p=764</guid>
		<description><![CDATA[It&#8217;s more often than I&#8217;d care to admit that I come across things in stores that gets my creative mind going. Recently, I found some basic border collie ornaments at my local Cost Plus World Market. I almost couldn&#8217;t believe it, as I never see border collie themed, well&#8230;anything! The &#8220;dog things&#8221; that I do see are usually frenchie, black lab, dachshund, and pug themed (don&#8217;t get me wrong, I have nothing against them, they are all super cute and popular breeds, but&#8230;come on!).   However, the ornament wasn&#8217;t quite right because I don&#8217;t have typical black and white border collies. But then I thought; Hey! I can paint these up to look like my two pups!   In this DIY tutorial, learn how I customize a simple wooden carved ornament to look like my dogs. This is a very simple, easy mode DIY that anyone can do! Also, this ornament in particular is a basic dog shape. It could be painted up to look like any kind of floppy eared breed! Check out what I made with mine&#8230; &#160; [embedyt] https://www.youtube.com/watch?v=XNSivS317-Q[/embedyt] &#160; Materials Needed: Wood carved ornament (I found mine at World Market) Gesso or any acrylic primer of [&#8230;]]]></description>
				<content:encoded><![CDATA[<div class="" data-block="true" data-editor="86t8" data-offset-key="7sjr8-0-0">
<div class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr" data-offset-key="7sjr8-0-0">It&#8217;s more often than I&#8217;d care to admit that I come across things in stores that gets my creative mind going. Recently, I found some basic border collie ornaments at my local Cost Plus World Market. I almost couldn&#8217;t believe it, as I never see border collie themed, well&#8230;anything! The &#8220;dog things&#8221; that I do see are usually frenchie, black lab, dachshund, and pug themed (don&#8217;t get me wrong, I have nothing against them, they are all super cute and popular breeds, but&#8230;come on!).</div>
</div>
<div class="" data-block="true" data-editor="86t8" data-offset-key="auh8v-0-0">
<div class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr" data-offset-key="auh8v-0-0"><span data-offset-key="auh8v-0-0"> </span></div>
</div>
<div class="" data-block="true" data-editor="86t8" data-offset-key="3psmk-0-0">
<div class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr" data-offset-key="3psmk-0-0"><span class="complexword"><span data-offset-key="3psmk-0-0">However</span></span><span class="hardreadability"><span data-offset-key="3psmk-1-0">, the ornament wasn&#8217;t quite right because I don&#8217;t have typical black and white border collies</span></span><span data-offset-key="3psmk-2-0">. But then I thought; </span><span data-offset-key="3psmk-2-1">Hey! I can paint these up to look like my two pups!</span></div>
</div>
<div class="" data-block="true" data-editor="86t8" data-offset-key="fi6ua-0-0">
<div class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr" data-offset-key="fi6ua-0-0"><span data-offset-key="fi6ua-0-0"> </span></div>
</div>
<div class="" data-block="true" data-editor="86t8" data-offset-key="colqk-0-0">
<div class="public-DraftStyleDefault-block public-DraftStyleDefault-ltr" data-offset-key="colqk-0-0"><span data-offset-key="colqk-0-0">In this DIY tutorial, learn how I customize a simple wooden carved ornament to look like my dogs. This is a very simple, easy mode DIY that anyone can do! Also, this ornament in particular is a basic dog shape. It could </span><span class="passivevoice"><span data-offset-key="colqk-1-0">be painted</span></span><span data-offset-key="colqk-2-0"> up to look like any kind of floppy eared breed! Check out what I made with mine&#8230;</span></div>
</div>
<p>&nbsp;</p>
<p>[embedyt] https://www.youtube.com/watch?v=XNSivS317-Q[/embedyt]</p>
<p>&nbsp;</p>
<h2><strong>Materials Needed: </strong></h2>
<ul>
<li>Wood carved ornament (I found mine at World Market)</li>
<li>Gesso or any acrylic primer of choice</li>
<li>A paint palette or scrap piece of board</li>
<li>Variety of acrylic or craft paint (you don&#8217;t need professional paints. I&#8217;m an artist so this is just what I had on hand already)</li>
<li>Small soft brushes</li>
<li>Clear protective top coat (I used Krylon Acrylic non-yellowing crystal clear)</li>
</ul>
<p>&nbsp;</p>
<h2><strong>Instructions:</strong></h2>
<p>&nbsp;</p>
<p><strong>Clean Surface:</strong></p>
<p>Be sure to wipe your ornament with a cloth to remove any dust or dirt before applying your acrylic primer.</p>
<p>&nbsp;</p>
<p><strong>Prime Ornament:</strong></p>
<p>Next, prime the ornament. This will help to not only cover what is already painted on there, but also add some “tooth” to the surface, which helps the colored paints to adhere better to the surface. Start with a light coat of primer, starting from top to bottom. You can probably use a spray primer which would likely be quicker and smoother, but this is what I had on hand.</p>
<p>&nbsp;</p>
<p><strong>Apply First Coat of Color:</strong></p>
<p><span style="font-weight: 400;">Go ahead and squirt a little bit of paint out on your palette. You won’t need much. I’ll start with painting my dog Cassie. Start painting light to dark. </span></p>
<p><span style="font-weight: 400;">Here’s a pro tip: Use a nutcracker to remove paint tube caps that are stuck on. </span></p>
<p><span style="font-weight: 400;">Start working from light colors to darker colors. It doesn&#8217;t have to be perfect at this point, we are just trying to block in color and get an even coat of paint. </span></p>
<p><span style="font-weight: 400;">Allow the first coat to dry completely before starting on your next coat of paint.</span></p>
<p>&nbsp;</p>
<p><strong>Apply Final Coat of Color:</strong></p>
<p><span style="font-weight: 400;">Its time to do the final coat, and blending in the colors as needed. Make sure to add any unique characteristics that would define the dog. For example….Cassie has black markings along her snout, and Finley has freckles on his face and feet, so once I painted those details on, the ornaments really start to represent them.</span></p>
<p><span style="font-weight: 400;">Its attention to these small details that REALLY make the difference between a generic dog ornament verses YOUR dog ornament.</span></p>
<p>&nbsp;</p>
<p><strong>Apply Protective Clear Top Coat and Enjoy!:</strong></p>
<p><span style="font-weight: 400;">Make sure you allow to dry completely before applying the top clear protective coat. </span></p>
<p><span style="font-weight: 400;">Once that is dry, hand them up on the Christmas tree and enjoy your new custom dog ornaments!</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Have fun customizing your pet’s ornament! </span><span style="font-weight: 400;">If you try this DIY out,  send us a picture of your custom ornaments, we would love to see them!  </span>Please leave any questions below and we&#8217;ll try to get back to you as soon as we can. Thanks for watching and please let us know of any other DIY ideas you&#8217;d like to see in the future and we&#8217;ll try our best to make it happen!</p>
<p>&nbsp;</p>
<h6>This content is not sponsored.</h6>
<h6>Necessary Video Credits:</h6>
<h6>Music: &#8220;Summer&#8221; by <a class="yt-simple-endpoint style-scope yt-formatted-string" spellcheck="false" href="https://www.youtube.com/redirect?q=https%3A%2F%2Fwww.bensound.com&amp;v=XNSivS317-Q&amp;event=video_description&amp;redir_token=GJZNJePY8XSy-cQhNUSchpPeoo58MTU0NDgwNTY5MUAxNTQ0NzE5Mjkx" rel="nofollow">https://www.bensound.com</a> (creative commons license)</h6>
<h6>Opening graphic by Envato Market via <a class="yt-simple-endpoint style-scope yt-formatted-string" spellcheck="false" href="https://www.youtube.com/redirect?q=https%3A%2F%2Fvideohive.net&amp;v=XNSivS317-Q&amp;event=video_description&amp;redir_token=GJZNJePY8XSy-cQhNUSchpPeoo58MTU0NDgwNTY5MUAxNTQ0NzE5Mjkx" rel="nofollow">https://videohive.net</a></h6>
]]></content:encoded>
			<wfw:commentRss>https://fetchfitlife.com/2018/12/13/diy-custom-dog-ornament/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Pet Parenting: Where To Save And Where To Splurge</title>
		<link>https://fetchfitlife.com/2018/11/28/pet-parenting-where-to-save-and-where-to-splurge/</link>
		<comments>https://fetchfitlife.com/2018/11/28/pet-parenting-where-to-save-and-where-to-splurge/#respond</comments>
		<pubDate>Wed, 28 Nov 2018 15:10:04 +0000</pubDate>
		<dc:creator><![CDATA[Quinn Barefoot]]></dc:creator>
				<category><![CDATA[Pet Lifestyle]]></category>
		<category><![CDATA[Tips & Tricks]]></category>

		<guid isPermaLink="false">https://www.fetchfitlife.com/?p=44</guid>
		<description><![CDATA[Dogs are an important part of our families and, if you’re like me, you treat them as if they are your actual child! We all want the best for our fur babies, but any loving pet parent knows that taking care of Fido can get really expensive really fast. Between checkups, baths, flea prevention and food, it seems like everyday there’s a new expense or something we have to buy for our pet… time to say goodbye to that paycheck! &#160; We’ve all gotten a bill from the vet or held a receipt from the pet store and wondered “Why is this so expensive? Does my dog really need it? Is there a cheaper option I could go with instead?” &#160; The truth is when it comes to caring for animals, there are many different options we have as pet parents. It’s good to recognize that there are plenty of less expensive options available to us, but on the other hand, you have to know what expenses you should never skimp out on! &#160; 2 Places Where you need to spend: &#160; The Groomer: Taking your dog to the groomer is a bigger deal than you think&#8230; it’s not just [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><span style="font-weight: 400;">Dogs are an important part of our families and, if you’re like me, you treat them as if they are your actual child! We all want the best for our fur babies, but any loving pet parent knows that taking care of Fido can get really expensive really fast. Between checkups, baths, flea prevention and food, it seems like everyday there’s a new expense or something we have to buy for our pet… time to say goodbye to that paycheck!</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">We’ve all gotten a bill from the vet or held a receipt from the pet store and wondered “Why is this so expensive? Does my dog really need it? Is there a cheaper option I could go with instead?”</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">The truth is when it comes to caring for animals, there are many different options we have as pet parents. It’s good to recognize that there are plenty of less expensive options available to us, but on the other hand, you have to know what expenses you should never skimp out on!</span></p>
<p>&nbsp;</p>
<h2><strong>2 Places Where you need to spend:</strong></h2>
<p>&nbsp;</p>
<p><b>The Groomer: </b><span style="font-weight: 400;">Taking your dog to the groomer is a bigger deal than you think&#8230; it’s not just about getting a bath! Groomers take care of many important hygiene issues such as clipping nails, cleaning ears and draining anal glands (I know, it’s gross, but it’s so important for your dog’s health!). Keep up their hygiene with monthly appointments and make sure to do your research so you can find a reputable professional in your area. </span></p>
<p>&nbsp;</p>
<p><b>Food: </b><span style="font-weight: 400;">Never, I repeat never, skimp out on your dog’s food! Making sure your pooch has the nourishment they need is vital… it will have a lasting impact on their health and may even determine how many years you get with your fur baby! To see how your dog’s food stacks up, check out it’s rating on </span><a href="https://www.dogfoodadvisor.com/dog-food-reviews/brand/" target="_blank" rel="noopener"><span style="font-weight: 400;">Dog Food Advisor</span></a><span style="font-weight: 400;">.</span></p>
<p>&nbsp;</p>
<h2><strong>2 Places Where you can save:</strong></h2>
<p>&nbsp;</p>
<p><b>Treats:</b><span style="font-weight: 400;"> I know what you’re thinking, “You told me not to buy cheap dog food, so why can I buy cheap treats?” Well, that’s the thing, you shouldn’t buy treats, you should make your own instead! Don’t worry, doing this won’t transport you to another level of dog-craziness, but it will actually save you tons of money and make sure your dog is getting fresh, healthy treats! You can look through some of our super easy <a href="https://www.fetchfitlife.com/recipe-category/recipes-for-dogs/" target="_blank" rel="noopener">treat recipes </a></span><span style="font-weight: 400;">here </span><span style="font-weight: 400;">and find the perfect one for your dog’s taste!</span></p>
<p>&nbsp;</p>
<p><b>Spay and Neuter Clinics:</b><span style="font-weight: 400;"> First off, you have to remember that the process of spaying or neutering your dog is a big deal. It’s a surgery, and with any surgery comes the need for in-depth research and careful preparation. For this procedure, you can either bring your dog to a veterinarian office or to a lower cost spay and neuter clinic. The price differences between the two options are crazy, sometimes they can be hundreds of dollars apart! We had Meeka spayed at a lower cost clinic which was a part of our local humane society… but we made sure to do our research first! No matter what option you choose, make sure to read online reviews and ask other pet parents in your area about their experiences with local clinics.</span></p>
<p><i><span style="font-weight: 400;">Do you have any other tips or suggestions on how pet parents can save money? Let us know in the comments!</span></i></p>
<p>&nbsp;</p>
]]></content:encoded>
			<wfw:commentRss>https://fetchfitlife.com/2018/11/28/pet-parenting-where-to-save-and-where-to-splurge/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Dog Halloween Safety</title>
		<link>https://fetchfitlife.com/2018/10/30/dog-halloween-safety/</link>
		<comments>https://fetchfitlife.com/2018/10/30/dog-halloween-safety/#respond</comments>
		<pubDate>Wed, 31 Oct 2018 03:31:53 +0000</pubDate>
		<dc:creator><![CDATA[Quinn Barefoot]]></dc:creator>
				<category><![CDATA[Pet Health]]></category>
		<category><![CDATA[Pet Lifestyle]]></category>
		<category><![CDATA[Tips & Tricks]]></category>

		<guid isPermaLink="false">https://www.fetchfitlife.com/?p=734</guid>
		<description><![CDATA[Halloween is such a fantastic holiday. It’s the only day of the year when it’s socially acceptable to dress up in costumes and eat as much candy as you want… man I wish it was Halloween everyday! &#160; Even though you may love Halloween, many times we fail to realize that it can actually be a very dangerous time for our 4-legged friends. All of the scary costumes, loud noises and dangerous foods can really put our dogs in danger… and none of us want that! &#160; There are appropriate and safe ways for you to enjoy this spooky holiday with your pup… you just have to make sure that everyone is as safe and comfortable as possible! Here are 4 major pet safety threats you should consider before this wonderful October holiday rolls around. &#160; 1. Keep your pup away from the Halloween candy &#160; Keep those paws out of the candy dish! We all know that chocolate is toxic to our furry friends. Still, many times we fail to take the proper precautions and make sure that our Halloween treats are out of Fido’s reach. I mean, the candy bowl is just sitting by your front door, your [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><span style="font-weight: 400;">Halloween is such a fantastic holiday. It’s the only day of the year when it’s socially acceptable to dress up in costumes and eat as much candy as you want… man I wish it was Halloween everyday!</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Even though you may love Halloween, many times we fail to realize that it can actually be a very dangerous time for our 4-legged friends. All of the scary costumes, loud noises and dangerous foods can really put our dogs in danger… and none of us want that!</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">There are appropriate and safe ways for you to enjoy this spooky holiday with your pup… you just have to make sure that everyone is as safe and comfortable as possible! Here are 4 major pet safety threats you should consider before this wonderful October holiday rolls around.</span></p>
<p>&nbsp;</p>
<h2><b>1. Keep your pup away from the Halloween candy</b></h2>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Keep those paws out of the candy dish! We all know that chocolate is toxic to our furry friends. Still, many times we fail to take the proper precautions and make sure that our Halloween treats are out of Fido’s reach. I mean, the candy bowl is just sitting by your front door, your pup may not have the self control to resist taking a bite of those goodies. Not only that, but many young children aren’t careful about what they feed to dogs. They may try to give a dog some candy without even realizing that their favorite chocolate bar isn’t a suitable snack for animals. </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">To help keep your dog away from those dangerous treats, make sure to have the candy bowl up high in a safe spot at all times (hey, that might even help keep it away from kids, too!). Also, take the time to inform everyone in your home about the dangers of Fido getting into the Halloween candy.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">If your little buddy keeps begging for a snack and flashing those puppy dog eyes, you could always whip them up a healthy treat to satisfy their sweet tooth! Try making a batch of our </span><span style="font-weight: 400;">Pumpkin Spice Dog Truffle Treats </span><span style="font-weight: 400;">(Hyperlink to post). They’re healthy, dog approved, and still festive.</span></p>
<p>&nbsp;</p>
<div id="attachment_746" style="width: 1930px" class="wp-caption aligncenter"><img class="wp-image-746 size-full" src="https://www.fetchfitlife.com/wp-content/uploads/2018/10/meekagirl_ds.jpg" alt="" width="1920" height="1280" srcset="https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/10/30232522/meekagirl_ds.jpg 1920w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/10/30232522/meekagirl_ds-300x200.jpg 300w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/10/30232522/meekagirl_ds-768x512.jpg 768w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/10/30232522/meekagirl_ds-1170x780.jpg 1170w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/10/30232522/meekagirl_ds-600x400.jpg 600w" sizes="(max-width: 1920px) 100vw, 1920px" /><p class="wp-caption-text">Meeka!</p></div>
<h2></h2>
<h2><b>2. Ensure any dog costumes are safe &amp; comfortable</b></h2>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">There’s really nothing cuter than a dog dressed up for Halloween. I love to come up with creative ideas for my family’s Halloween costume&#8230; and incorporating Meeka is one of the best parts! However, you have to be very careful if you choose to dress up your pup for Halloween. </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Make sure that their costume is secure, but not strangling. If there is any part of it that could be a potential choke hazard please stay clear of it! Also, if you are making the costume yourself, double check that all of the costume material is dog-friendly and dog-safe. Don’t use anything with glitter, small pieces, or anything that could be dangerous for your pup to chew on. Another thing you want to check on is how your dog feels in the costume. If they really feel out of place and uncomfortable, it can cause them a lot of anxiety. If your pup seems to be in distress while wearing their costume, PLEASE take it off of them, no matter how cute they may look.</span></p>
<p>&nbsp;</p>
<h2><b>3. Be aware of children wearing masks</b></h2>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">This can be a scary one, and my family had to find it out the hard way. On Meeka’s first Halloween she was just short of a year old and we took her out into the yard on a leash that night. She seemed to be ok with all of the families passing by, but then something scary happened. A group of children dressed in costumes approached the house and Meeka went crazy! We couldn’t figure out why at first, but then it clicked: they were wearing masks! Meeka couldn’t see their faces, and that did not sit right with her. Luckily we were able to pull her back inside before anything got out of control and this experience taught us a valuable lesson.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">If you or a loved one is planning on wearing a mask as a part of their Halloween costume this year, try getting your dog used to it first. Let them sniff it while it’s not on your face and see how they react when you put it on. If they seem to be ok with it, go ahead and wear it, but be extra cautious not to make any really quick or scary movements while you are wearing it. And, if you dog seems any bit afraid of it, please do not wear it around them. Making them feel comfortable is key to everyone’s safety.</span></p>
<p>&nbsp;</p>
<h2><b>4. Make sure that all of your Halloween decor is dog-safe</b></h2>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Caleb and I decorate our house for two holidays: Christmas and Halloween. We go all out for these holidays, and man does our house look good! However, we always make sure to think about Meeka when we pick out and put up decorations. Just like your dog’s costume shouldn’t include any glitter or small, easy-to-swallow pieces, neither should your home decorations. Even though they may make your home look good, decorations like glitter pumpkins and sparkly spiders can pose a health threat to your dog if ingested. Also, if you have a chewer, be careful about those spider web decorations. Those stringy webs can wreak havoc on your dog’s digestive system. Do you like burning yummy pumpkin-scented candles? Make sure to keep them out of your dog’s reach, your pup may think they smell good enough to eat.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">So, what can you use? Look for paper decorations that can be hung somewhere high and completely out of Fido’s reach. Also, consider switching out your normal dishcloths to more festive ones, that’s always a safe choice and cute update. Do you still want your house to smell like fall? Opt for autumn-scented oils instead of candles. </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Now that you know how to keep your dog safe, go on and enjoy the holiday! Happy Halloween everyone!</span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">Do you have dog safety tips for Halloween or any other holidays? Please share them with us so we can let others know!</span></i></p>
]]></content:encoded>
			<wfw:commentRss>https://fetchfitlife.com/2018/10/30/dog-halloween-safety/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Fall Activities To Do With Your Dog</title>
		<link>https://fetchfitlife.com/2018/10/22/fall-activities-to-do-with-your-dog/</link>
		<comments>https://fetchfitlife.com/2018/10/22/fall-activities-to-do-with-your-dog/#respond</comments>
		<pubDate>Mon, 22 Oct 2018 11:00:37 +0000</pubDate>
		<dc:creator><![CDATA[Quinn Barefoot]]></dc:creator>
				<category><![CDATA[Pet Lifestyle]]></category>
		<category><![CDATA[Tips & Tricks]]></category>

		<guid isPermaLink="false">https://www.fetchfitlife.com/?p=739</guid>
		<description><![CDATA[Crisp air, yellow leaves, and the smell of pumpkin spice everywhere can only mean one thing: fall is here! I have to get something off my chest: fall is my absolute favorite season. Yeah, winter, spring and summer are ok, but fall is by far the best time of the year. I love the cooler weather, fall fashion, and, of course, the delicious food that comes with this marvelous season! &#160; Another thing I love about fall is that I get to take my dog out more often. The heat from summer is finally fading away and the slight cool breeze makes it the perfect “let’s go for a walk” weather. &#160; Are you glad it’s finally fall too? Do you want to spend more time with your furry friend this season? Well, we’ve compiled a list of the perfect fall activities to do with your dog. &#160; Enjoy! &#160; Fall Photo Shoot &#160; Now, my dog will do just about anything for a treat, and that includes letting me dress her up and put her in ridiculous poses. I mean, I’ll go to extreme lengths for the perfect pic of my pooch! And since the outdoors are beautiful in [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><span style="font-weight: 400;">Crisp air, yellow leaves, and the smell of pumpkin spice everywhere can only mean one thing: fall is here! I have to get something off my chest: fall is my absolute favorite season. Yeah, winter, spring and summer are ok, but fall is by far the best time of the year. I love the cooler weather, fall fashion, and, of course, the delicious food that comes with this marvelous season!</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Another thing I love about fall is that I get to take my dog out more often. The heat from summer is finally fading away and the slight cool breeze makes it the perfect “let’s go for a walk” weather. </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Are you glad it’s finally fall too? Do you want to spend more time with your furry friend this season? Well, we’ve compiled a list of the perfect fall activities to do with your dog.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Enjoy!</span></p>
<p>&nbsp;</p>
<h2><b>Fall Photo Shoot</b></h2>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Now, my dog will do just about anything for a treat, and that includes letting me dress her up and put her in ridiculous poses. I mean, I’ll go to extreme lengths for the perfect pic of my pooch! And since the outdoors are beautiful in the fall, you might as well take advantage of all nature has to offer and have an all-out photo shoot! It doesn’t have to be professional if you’re on a budget (I mean, if you have photographer connections, that’s great too, by all means go for it!), all you need is a camera (a nice phone may even work well enough), a few friends, and, of course, your pup! Bring along some props like a pumpkin, a plaid blanket and any fall-themed toys your dog has. These are all of the perfect ingredients for a new profile picture!</span></p>
<p>&nbsp;</p>
<h2><b>Make Pumpkin Spice Dog Treats</b></h2>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Ok, so your dog may not actually be able to help you mix up the dough for these, but i’m sure they’ll be willing taste testers! And I can imagine they’ll probably keep you company in the kitchen after smelling that you’re whipping up these fantastic treats! Let Fido in on the fall fun by making him a batch of these festive treats, the recipe is available </span><span style="font-weight: 400;">here: <a href="https://www.fetchfitlife.com/recipes/pumpkin-spice-dog-truffle-treats/">Pumpkin Spice Dog Truffle Treats</a></span></p>
<p>&nbsp;</p>
<h2><b>Starbucks Date</b></h2>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">You can indulge in a pumpkin spice latte while your pooch enjoys their favorite puppuccino! You can request this dog-friendly drink at Starbucks all over the country and, boy oh boy, your pup will love it! And, since fall provides the perfect weather, sit on the patio with your furry friend while enjoying your drinks together. I’m sure your dog will get loads of pets and compliments from passersby about how they’re such an adorable pup!</span></p>
<p>&nbsp;</p>
<h2><b>Halloween Events</b></h2>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">I mean, what’s more adorable than dogs dressed up in a Halloween costumes? Not much! Look up different pet stores or pet organizations in your area to scope out any animal-friendly Halloween celebrations around town. Often times there are giveaways, free treats, and, of course, costume contests! What makes these parties even better is that oftentimes the money raised goes to help animals in need, so you and your pup get to have fun while making a difference.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Have fun and happy fall!</span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">What do you love most about fall? Do you have any special fall activities that you and your dog enjoy? Let us know for a chance to be featured!</span></i></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
]]></content:encoded>
			<wfw:commentRss>https://fetchfitlife.com/2018/10/22/fall-activities-to-do-with-your-dog/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>My Pup Oakley: The True TAIL Of A Golden Retriever That Became A Social Media Sensation</title>
		<link>https://fetchfitlife.com/2018/10/01/my-pup-oakley-the-true-tail-of-a-golden-retriever-that-became-a-social-media-sensation/</link>
		<comments>https://fetchfitlife.com/2018/10/01/my-pup-oakley-the-true-tail-of-a-golden-retriever-that-became-a-social-media-sensation/#respond</comments>
		<pubDate>Mon, 01 Oct 2018 11:00:34 +0000</pubDate>
		<dc:creator><![CDATA[Quinn Barefoot]]></dc:creator>
				<category><![CDATA[Pet Lifestyle]]></category>
		<category><![CDATA[Tips & Tricks]]></category>

		<guid isPermaLink="false">https://www.fetchfitlife.com/?p=640</guid>
		<description><![CDATA[He’s so golden, you’ll probably need a pair of sunglasses to look at him. &#160; If you’re a local of Wilmington, you’ve probably seen Oakley. The giddy golden retriever loves to stroll around our coastal North Carolina city and you can’t help but bust a smile whenever you see him. &#160; This golden boy sure has won a special place in all of our hearts! But you know what’s crazy? You don’t have to live in Wilmington to know Oakley. In fact, you don’t even have to meet Oakley to be inspired by his lovable face! All you need to do is look up @mypupoakley on Instagram to follow his journey, just like thousands of people all over the world already have. &#160; Currently, Oakley’s Instagram account boasts over 34 thousand followers… and those numbers are growing everyday. His sweet photos and videos make it obvious that this pup not only has a golden coat, but a golden attitude! &#160; So how exactly did this drool-worthy social media star rise to Instagram fame? Well, it’s all thanks to his mom who&#8217;s always had a sweet spot for puppy dog eyes. &#160; &#160; Morgan is a young professional who’s demeanor is [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><span style="font-weight: 400;">He’s so golden, you’ll probably need a pair of sunglasses to look at him.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">If you’re a local of Wilmington, you’ve probably seen Oakley. The giddy golden retriever loves to stroll around our coastal North Carolina city and you can’t help but bust a smile whenever you see him. </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">This golden boy sure has won a special place in all of our hearts! But you know what’s crazy? You don’t have to live in Wilmington to know Oakley. In fact, you don’t even have to meet Oakley to be inspired by his lovable face! All you need to do is look up </span><a href="https://www.instagram.com/mypupoakley/"><span style="font-weight: 400;">@mypupoakley</span></a><span style="font-weight: 400;"> on Instagram to follow his journey, just like thousands of people all over the world already have.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Currently, Oakley’s Instagram account boasts over 34 thousand followers… and those numbers are growing everyday. His sweet photos and videos make it obvious that this pup not only has a golden coat, but a golden attitude! </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">So how exactly did this drool-worthy social media star rise to Instagram fame? Well, it’s all thanks to his mom who&#8217;s always had a sweet spot for puppy dog eyes.</span></p>
<p>&nbsp;</p>
<div id="attachment_644" style="width: 1210px" class="wp-caption aligncenter"><a href="https://www.instagram.com/mypupoakley/" rel="attachment wp-att-644"><img class="wp-image-644 size-full" src="https://www.fetchfitlife.com/wp-content/uploads/2018/08/oakleypuppy-e1534167485328.jpg" alt="" width="1200" height="1492" srcset="https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/08/13093651/oakleypuppy-e1534167485328.jpg 1200w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/08/13093651/oakleypuppy-e1534167485328-600x746.jpg 600w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/08/13093651/oakleypuppy-e1534167485328-241x300.jpg 241w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/08/13093651/oakleypuppy-e1534167485328-768x955.jpg 768w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/08/13093651/oakleypuppy-e1534167485328-1170x1455.jpg 1170w" sizes="(max-width: 1200px) 100vw, 1200px" /></a><p class="wp-caption-text">How could you say &#8220;no&#8221; to that sweet face?</p></div>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Morgan is a young professional who’s demeanor is just as cheerful as her furry ray of sunshine’s. On any given day, the proud dog mom can be spotted walking Oakley all over town… a sight that makes all of us smile.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">So, how did this sweet friendship start? Well, Morgan explained that she’s always wanted to have a puppy of her own, however, she knew that it would be wise to wait until after graduating college to get one. And her patience paid off! As she was finishing up her final year at the University Of North Carolina Wilmington, Morgan heard about a Golden Retriever breeder in West Virginia from her family’s veterinarian. So, 5 days after graduation, Morgan hit the road in search of her new best friend. She arrived at the farm to see the puppies and it didn’t take long before one little furball caught her attention. “On the day I went to pick him out, all of the puppies were jumping all over me, but Oakley just sat patiently about a foot away and smiled up at me,” Morgan said. “I knew he was the one.”</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Knowing that Oakley had a face too cute not to share, Morgan quickly decided to create an Instagram account for him. “I started his Instagram about a week after I got him when he was 9 weeks old,” Morgan said. “I originally started it so I had a place where I could post endless pictures of him without flooding my personal account.” </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">However, it wasn’t long before what started out as a simple account became a viral sensation. “A couple weeks after I started the Instagram, I made a video of Oakley and I dancing in the car and the video somehow ended up going viral,” Morgan explained. “After the video went viral, for weeks he would get about 1,000 new followers a day.”</span></p>
<p>&nbsp;</p>
<div id="attachment_643" style="width: 1319px" class="wp-caption aligncenter"><a href="https://www.instagram.com/mypupoakley/" rel="attachment wp-att-643"><img class="wp-image-643 size-full" src="https://www.fetchfitlife.com/wp-content/uploads/2018/08/oakley2-e1534167548166.jpg" alt="" width="1309" height="1498" srcset="https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/08/13093650/oakley2-e1534167548166.jpg 1309w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/08/13093650/oakley2-e1534167548166-600x687.jpg 600w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/08/13093650/oakley2-e1534167548166-262x300.jpg 262w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/08/13093650/oakley2-e1534167548166-768x879.jpg 768w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/08/13093650/oakley2-e1534167548166-1170x1339.jpg 1170w" sizes="(max-width: 1309px) 100vw, 1309px" /></a><p class="wp-caption-text">Ready and waiting! Maybe Oakley can take himself on walks!</p></div>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Realizing that she had a true star at the end of her leash, Morgan continued to keep all of Oakley’s new followers entertained with daily updates on his sweet, happy life. His success continued as he gained the attention of more and more people all over the world. “I continued to post cute pictures and funny videos of my quirky pup on his Instagram and a few other videos went viral,” Morgan said. “Dog pages started sharing his pictures, and his videos were featured on a Nat Geo Wild TV show called Puppies vs. the World. More and more people followed him and continue to do so.”</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Even though Morgan knew Oakley was one in-a-million, she didn’t expect the growth of his account to happen so quickly.  But, then again, he is a cutie pie! “I am very surprised about how many followers Oakley has on instagram, but at the same time I’m not because he is the most perfect boy,” Morgan confessed.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">So, what’s it really like running an account that is loved by over 30 thousand people? Well, Morgan explains that running the account can take up a lot of her time, but she wouldn’t have it any other way! In fact, Morgan said that through Oakley’s account, the two have been able to meet a lot of new friends. “My favorite part about running Oakley’s instagram is connecting with the community of dog instagrammers,” Morgan said. “I actually have made friends with other local golden owners through his Instagram and we meet up and have puppy play dates and photo shoots! It’s a lot of work to keep up with his Instagram, but it’s fun.”</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">With all of the exciting meet ups and play dates he goes on, Oakley is sure living the life&#8230; and he isn’t planning on slowing down anytime soon! So, what’s next on the agenda for this golden boy? Well, more adorable adventures, of course! “I am a teacher and have summers off, so Oakley and I are getting ready to have a summer full of adventures,” Morgan said. “I just trained him to ride in the kayak with me, so hopefully we will be kayaking to some islands around Wilmington this summer.”</span></p>
<p>&nbsp;</p>
<div id="attachment_646" style="width: 1502px" class="wp-caption aligncenter"><a href="https://www.instagram.com/mypupoakley/" rel="attachment wp-att-646"><img class="wp-image-646 size-full" src="https://www.fetchfitlife.com/wp-content/uploads/2018/08/oakley3.jpg" alt="" width="1492" height="1000" srcset="https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/08/13094359/oakley3.jpg 1492w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/08/13094359/oakley3-300x201.jpg 300w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/08/13094359/oakley3-768x515.jpg 768w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/08/13094359/oakley3-1170x784.jpg 1170w" sizes="(max-width: 1492px) 100vw, 1492px" /></a><p class="wp-caption-text">A summer kayaking trip with a pup?! What could be better?</p></div>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">I</span><span style="font-weight: 400;"> don’t know about you, but I’ll sure be keeping up with Oakley’s Instagram to see how that goes! And even though Oakley has many talents, which include making goofy faces and being able to kayak, there is one trick he does that Morgan claims is her absolute favorite. “Fun fact: Oakley doesn’t instinctively like to snuggle very often, so I trained him to cuddle on command,” Morgan said. “It’s about the cutest trick ever!”</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Now, that’s a good boy!</span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">Did you enjoy this story? Be sure to go follow Oakley on Instagram for more sweet pictures!</span></i></p>
]]></content:encoded>
			<wfw:commentRss>https://fetchfitlife.com/2018/10/01/my-pup-oakley-the-true-tail-of-a-golden-retriever-that-became-a-social-media-sensation/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Welcome to FetchFit!</title>
		<link>https://fetchfitlife.com/2018/09/18/welcome-to-fetchfit/</link>
		<comments>https://fetchfitlife.com/2018/09/18/welcome-to-fetchfit/#respond</comments>
		<pubDate>Tue, 18 Sep 2018 09:00:37 +0000</pubDate>
		<dc:creator><![CDATA[Lauren Henderson]]></dc:creator>
				<category><![CDATA[Fitness]]></category>
		<category><![CDATA[Pet Lifestyle]]></category>
		<category><![CDATA[Physical Fitness]]></category>
		<category><![CDATA[Spiritual Fitness]]></category>

		<guid isPermaLink="false">https://www.fetchfitlife.com/?p=38</guid>
		<description><![CDATA[Welcome! &#160; Our goal here at FetchFit is to create a strong community of like-minded women who highly value their health and happiness. We believe in the importance of nurturing our bodies in a healthy way by eating clean, working out, and challenging ourselves both mentally and physically. Society has plenty of things to say about us, but we want to seek out the real truth. We are determined to focus on the things in life that hold the most value and therefore create healthy habits and develop a positive body image. &#160; We believe that God has created all women beautifully even though each of us has a unique body type, shape, and appearance. No matter what kind of body we have, we are all children of God and therefore have been specifically created in His image for His divine purpose. We know every woman is beautiful and that each one of us is deeply loved by Him. &#160; We invite you, the FetchFit community, to join us in our adventure! And, don’t forget to bring along your furry companion if you have one. We want to be an encouraging, safe place for all women to develop a biblical [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><span style="font-weight: 400;">Welcome!</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Our goal here at FetchFit is to create a strong community of like-minded women who highly value their health and happiness. We believe in the importance of nurturing our bodies in a healthy way by eating clean, working out, and challenging ourselves both mentally and physically. Society has plenty of things to say about us, but we want to seek out the real truth. We are determined to focus on the things in life that hold the most value and therefore create healthy habits and develop a positive body image.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">We believe that God has created all women beautifully even though each of us has a unique body type, shape, and appearance. No matter what kind of body we have, we are all children of God and therefore have been specifically created in His image for His divine purpose. We know every woman is beautiful and that each one of us is deeply loved by Him.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">We invite you, the FetchFit community, to join us in our adventure! And, don’t forget to bring along your furry companion if you have one. We want to be an encouraging, safe place for all women to develop a biblical perspective on health and fitness, while at the same time bonding with your favorite furkid(s)!</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Companionship with dogs is something near and dear to our hearts. Personally, I have grown up with dogs all my life and couldn’t wait to get my own dog as soon as I moved out on my own. My two border collies, who I loving call my “furkids”, have always been a physical (and fluffy) comfort to me throughout even during my darkest times. They provide  me with comfort and unbiased listening ears. Even though they may not understand everything I tell them, they are my confidants. My furkids help keep me active, positive, and it fills me with joy everytime I wake up to their cold wet noses and sloppy puppy kisses.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Even if you aren’t a dog mom, I believe that you can benefit greatly from what we have to say here. We may not have everything figured out, but I hope that you will join us on our journey to a healthier lifestyle while remaining both positive and realistic. Our bodies are temples, so if we don’t treat them with the respect they need, then how are we supposed to honor God or do His work well?</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">We are here to share helpful articles, workouts, and information on dog lifestyle related topics with our readers. We believe it’s so important to be spiritually fit and become strong women of God, not only physically, but in our hearts as well. Even if you are not a follower of Christ, we want to welcome you with open arms. We are not here to judge or shove anything in your face. We are all on our own journeys, and no one here is “perfect” or “has it all together”. If you ever have any questions, please don’t hesitate to contact us! We want to be here for each one of you and will try our best to answer everything honestly and truthfully.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Thank you for taking the time to visit us. We look forward to continuing our journey to a fitter lifestyle with you!</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Lauren Henderson</span></p>
<p><span style="font-weight: 400;">Founder of FetchFit</span></p>
<p>&nbsp;</p>
]]></content:encoded>
			<wfw:commentRss>https://fetchfitlife.com/2018/09/18/welcome-to-fetchfit/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
