<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Recipes for Dogs &#8211; FetchFit</title>
	<atom:link href="https://fetchfitlife.com/recipe-category/recipes-for-dogs/feed/" rel="self" type="application/rss+xml" />
	<link>http://fetchfitlife.com/</link>
	<description>Women&#039;s Fitness and Pet Lifestyle Blog</description>
	<lastBuildDate>Sun, 26 Jul 2020 22:18:08 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.5</generator>

<image>
	<url>https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/19004744/fetchfit-logo-100x100.png</url>
	<title>Recipes for Dogs &#8211; FetchFit</title>
	<link>http://fetchfitlife.com/</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Finley&#8217;s Peanut Butter Delights</title>
		<link>https://fetchfitlife.com/recipes/finleys-peanut-butter-delights/</link>
		<comments>https://fetchfitlife.com/recipes/finleys-peanut-butter-delights/#respond</comments>
		<pubDate>Mon, 11 Mar 2019 09:00:10 +0000</pubDate>
		<dc:creator><![CDATA[Lauren Henderson]]></dc:creator>
		
		<guid isPermaLink="false">https://www.fetchfitlife.com/?post_type=cp_recipe&#038;p=601</guid>
		<description><![CDATA[Finley&#8217;s Peanut Butter Delights]]></description>
				<content:encoded><![CDATA[<h2>Finley&#8217;s Peanut Butter Delights</h2>
<h3>Ingredients</h3>
<div class="cooked-recipe-ingredients">
<div itemprop="recipeIngredient" class="cooked-single-ingredient cooked-ingredient cooked-ing-no-checkbox"><span class="cooked-ing-amount" data-decimal="1.25">1 &#188;</span> <span class="cooked-ing-measurement">cups</span> <span class="cooked-ing-name">Whole wheat flour (or your favorite dog safe grain free flour)</span></div>
<div itemprop="recipeIngredient" class="cooked-single-ingredient cooked-ingredient cooked-ing-no-checkbox"><span class="cooked-ing-amount" data-decimal="0.5">&#189;</span> <span class="cooked-ing-measurement">tsp</span> <span class="cooked-ing-name">Cinnamon</span></div>
<div itemprop="recipeIngredient" class="cooked-single-ingredient cooked-ingredient cooked-ing-no-checkbox"><span class="cooked-ing-amount" data-decimal="0.75">&#190;</span> <span class="cooked-ing-measurement">cup</span> <span class="cooked-ing-name">100% Natural Creamy Peanut Butter (make sure it is xylitol free!)</span></div>
<div itemprop="recipeIngredient" class="cooked-single-ingredient cooked-ingredient cooked-ing-no-checkbox"><span class="cooked-ing-amount" data-decimal="1">1</span> <span class="cooked-ing-measurement">tsp</span> <span class="cooked-ing-name">All natural local honey</span></div>
<div itemprop="recipeIngredient" class="cooked-single-ingredient cooked-ingredient cooked-ing-no-checkbox"><span class="cooked-ing-amount" data-decimal="0.5">&#189;</span> <span class="cooked-ing-measurement">cup</span> <span class="cooked-ing-name">Skim milk (or goat&#8217;s milk)</span></div>
</div>
<h3>Directions</h3>
<div class="cooked-recipe-directions">
<div class="cooked-single-direction cooked-direction" data-step="Step 1">
<div class="cooked-dir-content">
<p>Combine all wet ingredients in a large mixing bowl.</p>
</div>
</div>
<div class="cooked-single-direction cooked-direction" data-step="Step 2">
<div class="cooked-dir-content">
<p>In a separate bowl combine dry ingredients.</p>
</div>
</div>
<div class="cooked-single-direction cooked-direction" data-step="Step 3">
<div class="cooked-dir-content">
<p>Slowly add dry ingredients into the wet until well combined. Form it into dough and kneed for about 2 minutes.</p>
</div>
</div>
<div class="cooked-single-direction cooked-direction" data-step="Step 4">
<div class="cooked-dir-content">
<p>If dough is dry add in a little milk (a tablespoon at a time). Let dough rest for about 10 minutes.</p>
</div>
</div>
<div class="cooked-single-direction cooked-direction" data-step="Step 5">
<div class="cooked-dir-content">
<p>Roll dough out onto a greased cookies sheet (about 1/2&#8243; thick)</p>
</div>
</div>
<div class="cooked-single-direction cooked-direction" data-step="Step 6">
<div class="cooked-dir-content">
<p>Then, with a knife or a pizza cutter, run through the dough and make little squares (1”x1” or 2”x2”), depending on the size of your dog. Or, you can use a cookie cutter for fun shapes! </p>
</div>
</div>
<div class="cooked-single-direction cooked-direction" data-step="Step 7">
<div class="cooked-dir-content">
<p>Bake at 350 for about 20-45 mins, then shut off the heat and let cool in the oven overnight. Doing this will help to ensure they will be crunchy. If you’d like to make softer treats like I do, bake them for 20-25 mins, then immediately remove pan from oven and allow to cool before serving. Store treats in an airtight container and keep refrigerated.</p>
</div>
</div>
</div>
]]></content:encoded>
			<wfw:commentRss>https://fetchfitlife.com/recipes/finleys-peanut-butter-delights/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Pumpkin Spice Dog Truffle Treats</title>
		<link>https://fetchfitlife.com/recipes/pumpkin-spice-dog-truffle-treats/</link>
		<comments>https://fetchfitlife.com/recipes/pumpkin-spice-dog-truffle-treats/#respond</comments>
		<pubDate>Mon, 15 Oct 2018 04:00:08 +0000</pubDate>
		<dc:creator><![CDATA[Quinn Barefoot]]></dc:creator>
		
		<guid isPermaLink="false">https://www.fetchfitlife.com/?post_type=cp_recipe&#038;p=668</guid>
		<description><![CDATA[An easy and delicious fall treat recipe for your pooch!]]></description>
				<content:encoded><![CDATA[<h2>An easy and delicious fall treat recipe for your pooch!</h2>
<h3>Ingredients</h3>
<div class="cooked-recipe-ingredients">
<div itemprop="recipeIngredient" class="cooked-single-ingredient cooked-ingredient cooked-ing-no-checkbox"><span class="cooked-ing-amount" data-decimal="2">2</span> <span class="cooked-ing-measurement">cups</span> <span class="cooked-ing-name">Old Fashioned Oats</span></div>
<div itemprop="recipeIngredient" class="cooked-single-ingredient cooked-ingredient cooked-ing-no-checkbox"><span class="cooked-ing-amount" data-decimal="1">1</span> <span class="cooked-ing-measurement">cup</span> <span class="cooked-ing-name">Canned Pumpkin (Remember: Pure Pumpkin Puree and NOT Pumpkin Pie Filling)</span></div>
<div itemprop="recipeIngredient" class="cooked-single-ingredient cooked-ingredient cooked-ing-no-checkbox"><span class="cooked-ing-amount" data-decimal="0.5">&#189;</span> <span class="cooked-ing-measurement">cup</span> <span class="cooked-ing-name">Peanut Butter</span></div>
<div itemprop="recipeIngredient" class="cooked-single-ingredient cooked-ingredient cooked-ing-no-checkbox"><span class="cooked-ing-amount" data-decimal="2">2</span> <span class="cooked-ing-measurement">tbsp</span> <span class="cooked-ing-name">Honey</span></div>
<div itemprop="recipeIngredient" class="cooked-single-ingredient cooked-ingredient cooked-ing-no-checkbox"><span class="cooked-ing-amount" data-decimal="1">1</span> <span class="cooked-ing-measurement">tsp</span> <span class="cooked-ing-name">Cinnamon</span></div>
</div>
<h3>Directions</h3>
<div class="cooked-recipe-directions">
<div class="cooked-single-direction cooked-direction" data-step="Step 1">
<div class="cooked-dir-content">
<p>Start by lining a baking sheet or tray with parchment paper. You will hopefully end up having around 20-30 balls at the end, so you may need two trays depending on how big you make them and how far you space them apart (remember: these are no bake treats, so you can pack them pretty tight together since you don’t have to worry about them spreading into each other). Set the prepared trays aside and roll up your sleeves, it’s time to get busy mixing!</p>
</div>
</div>
<div class="cooked-single-direction cooked-direction" data-step="Step 2">
<div class="cooked-dir-content">
<p>In a large bowl, combine the peanut butter, pumpkin, cinnamon and honey. Mix these ingredients together until they all fully get to know each other (AKA, everything is well incorporated). Next, pour in the oats and gently fold them into the wet batter. Test a ball by grabbing a tablespoon-sized clump and rolling it around in your hands. You should be able to roll and shape it fairly easily without too much of a mess. If the ball begins to fall apart, add ¼ cup more oats until it is easily managed and rolled. </p>
</div>
</div>
<div class="cooked-single-direction cooked-direction" data-step="Step 3">
<div class="cooked-dir-content">
<p>Once the batter reaches the right consistency it’s time to roll out those treats! I recommend making each one a little smaller than a golf ball and placing them pretty close together on the parchment-lined pan. I was able to get a good amount of treats out of my batch and I even ended up getting them all to fit on one pan (now that’s some serious skill!). </p>
</div>
</div>
<div class="cooked-single-direction cooked-direction" data-step="Step 4">
<div class="cooked-dir-content">
<p>Once your truffle treats are all rolled out and lined up, transfer your baking sheet to the fridge and let them cool for 2 hours or overnight (the longer they sit, the more firm and better they will be). When you remove them from the fridge, give one to Fido for quality assurance (Meeka is so glad I included that part in the instructions) and package the rest up in an air-tight container. Keep them stored in the fridge for up to 3 weeks or you can even freeze them and keep them good for up to 3 months.</p>
</div>
</div>
</div>
]]></content:encoded>
			<wfw:commentRss>https://fetchfitlife.com/recipes/pumpkin-spice-dog-truffle-treats/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>3 Ingredient Puppy Ice Cream For The Dog Days Of Summer</title>
		<link>https://fetchfitlife.com/recipes/3-ingredient-puppy-ice-cream-for-the-dog-days-of-summer/</link>
		<comments>https://fetchfitlife.com/recipes/3-ingredient-puppy-ice-cream-for-the-dog-days-of-summer/#respond</comments>
		<pubDate>Fri, 28 Sep 2018 11:00:48 +0000</pubDate>
		<dc:creator><![CDATA[Quinn Barefoot]]></dc:creator>
		
		<guid isPermaLink="false">https://www.fetchfitlife.com/?post_type=cp_recipe&#038;p=431</guid>
		<description><![CDATA[A quick and easy recipe to cool down your pup during the dog days of summer!]]></description>
				<content:encoded><![CDATA[<h2>A quick and easy recipe to cool down your pup during the dog days of summer!</h2>
<h3>Ingredients</h3>
<div class="cooked-recipe-ingredients">
<div itemprop="recipeIngredient" class="cooked-single-ingredient cooked-ingredient cooked-ing-no-checkbox"><span class="cooked-ing-amount" data-decimal="32">32</span> <span class="cooked-ing-measurement">oz</span> <span class="cooked-ing-name">Plain nonfat yogurt (no added sugars!)</span></div>
<div itemprop="recipeIngredient" class="cooked-single-ingredient cooked-ingredient cooked-ing-no-checkbox"><span class="cooked-ing-amount" data-decimal="0.33333333333333">&#8531;</span> <span class="cooked-ing-measurement">cup</span> <span class="cooked-ing-name">Peanut Butter (All natural, no sugar or xylitol)</span></div>
<div itemprop="recipeIngredient" class="cooked-single-ingredient cooked-ingredient cooked-ing-no-checkbox"><span class="cooked-ing-amount" data-decimal="4">4</span> <span class="cooked-ing-measurement"></span> <span class="cooked-ing-name">Ripe bananas</span></div>
<div itemprop="recipeIngredient" class="cooked-single-ingredient cooked-ingredient cooked-ing-no-checkbox"><span class="cooked-ing-name">Milk-bone Mini&#8217;s (or favorite small dog biscuit)</span></div>
</div>
<h3>Directions</h3>
<div class="cooked-recipe-directions">
<div class="cooked-single-direction cooked-direction cooked-direction-has-image" data-step="Step 1">
<div class="cooked-dir-content">
<p>Along with the above ingredients, you will also need a mixer and a few ice cube trays.</p>
<p>First, peel the 4 bananas and place them in a large mixing bowl (I use the KitchenAid  Bowl-Lift Stand Mixer and love it). Use a beater or whisk attachment to mash the bananas until there are no lumps. </p>
<p>Once you’ve pureed the bananas, add the ⅓ cup of peanut butter and continue beating the mixture until it’s smooth. </p>
<p><img width="640" height="427" src="https://www.fetchfitlife.com/wp-content/uploads/2018/07/puppyicecream1_ds.jpg" class="attachment-large size-large" alt="" srcset="https://www.fetchfitlife.com/wp-content/uploads/2018/07/puppyicecream1_ds.jpg 1920w, https://www.fetchfitlife.com/wp-content/uploads/2018/07/puppyicecream1_ds-600x400.jpg 600w, https://www.fetchfitlife.com/wp-content/uploads/2018/07/puppyicecream1_ds-300x200.jpg 300w, https://www.fetchfitlife.com/wp-content/uploads/2018/07/puppyicecream1_ds-768x512.jpg 768w, https://www.fetchfitlife.com/wp-content/uploads/2018/07/puppyicecream1_ds-1170x780.jpg 1170w" sizes="(max-width: 640px) 100vw, 640px" /></p>
</div>
</div>
<div class="cooked-single-direction cooked-direction cooked-direction-has-image" data-step="Step 2">
<div class="cooked-dir-content">
<p>Finally, it’s time to add the yogurt! Pour the full container of yogurt into the bowl and continue mixing the batter until all of the ingredients are well incorporated. This recipe will make a lot of batter, so be sure to use a large bowl or it might get messy! (Note: you can always cut the recipe in half to make a smaller batch)</p>
<p><img width="640" height="427" src="https://www.fetchfitlife.com/wp-content/uploads/2018/07/puppyicecream3_ds.jpg" class="attachment-large size-large" alt="" srcset="https://www.fetchfitlife.com/wp-content/uploads/2018/07/puppyicecream3_ds.jpg 1920w, https://www.fetchfitlife.com/wp-content/uploads/2018/07/puppyicecream3_ds-600x400.jpg 600w, https://www.fetchfitlife.com/wp-content/uploads/2018/07/puppyicecream3_ds-300x200.jpg 300w, https://www.fetchfitlife.com/wp-content/uploads/2018/07/puppyicecream3_ds-768x512.jpg 768w, https://www.fetchfitlife.com/wp-content/uploads/2018/07/puppyicecream3_ds-1170x780.jpg 1170w" sizes="(max-width: 640px) 100vw, 640px" /></p>
</div>
</div>
<div class="cooked-single-direction cooked-direction cooked-direction-has-image" data-step="Step 3">
<div class="cooked-dir-content">
<p>Now it’s time to pour the pup cups! I used ice cube trays, but you could also pour the batter into foil cupcake liners or small paper cups. Using a small cookie scoop, pour the batter into your prefered container and place a small Milk-Bone biscuit on top of eat one. Place the pup cups in the freezer and let them harden. They should be frozen in about two hours depending on how large you made them. </p>
<p><img width="640" height="427" src="https://www.fetchfitlife.com/wp-content/uploads/2018/07/puppyicecream5_ds.jpg" class="attachment-large size-large" alt="" srcset="https://www.fetchfitlife.com/wp-content/uploads/2018/07/puppyicecream5_ds.jpg 1920w, https://www.fetchfitlife.com/wp-content/uploads/2018/07/puppyicecream5_ds-600x400.jpg 600w, https://www.fetchfitlife.com/wp-content/uploads/2018/07/puppyicecream5_ds-300x200.jpg 300w, https://www.fetchfitlife.com/wp-content/uploads/2018/07/puppyicecream5_ds-768x512.jpg 768w, https://www.fetchfitlife.com/wp-content/uploads/2018/07/puppyicecream5_ds-1170x780.jpg 1170w" sizes="(max-width: 640px) 100vw, 640px" /></p>
</div>
</div>
<div class="cooked-single-direction cooked-direction cooked-direction-has-image" data-step="Step 4">
<div class="cooked-dir-content">
<p>Once the pup cups are set, remove them from the freezer, store them in an airtight container, and return them to the freezer (or into your hungry dog’s tummy)! </p>
<p><img width="640" height="427" src="https://www.fetchfitlife.com/wp-content/uploads/2018/07/puppyicecream7_ds.jpg" class="attachment-large size-large" alt="" srcset="https://www.fetchfitlife.com/wp-content/uploads/2018/07/puppyicecream7_ds.jpg 1920w, https://www.fetchfitlife.com/wp-content/uploads/2018/07/puppyicecream7_ds-600x400.jpg 600w, https://www.fetchfitlife.com/wp-content/uploads/2018/07/puppyicecream7_ds-300x200.jpg 300w, https://www.fetchfitlife.com/wp-content/uploads/2018/07/puppyicecream7_ds-768x512.jpg 768w, https://www.fetchfitlife.com/wp-content/uploads/2018/07/puppyicecream7_ds-1170x780.jpg 1170w" sizes="(max-width: 640px) 100vw, 640px" /></p>
</div>
</div>
</div>
]]></content:encoded>
			<wfw:commentRss>https://fetchfitlife.com/recipes/3-ingredient-puppy-ice-cream-for-the-dog-days-of-summer/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Sweet Potato Dog Chews</title>
		<link>https://fetchfitlife.com/recipes/sweet-potato-dog-chews/</link>
		<comments>https://fetchfitlife.com/recipes/sweet-potato-dog-chews/#respond</comments>
		<pubDate>Sat, 14 Jul 2018 14:23:20 +0000</pubDate>
		<dc:creator><![CDATA[Quinn Barefoot]]></dc:creator>
		
		<guid isPermaLink="false">https://www.fetchfitlife.com/?post_type=cp_recipe&#038;p=237</guid>
		<description><![CDATA[A yummy chew for your good dogs!]]></description>
				<content:encoded><![CDATA[<h2>A yummy chew for your good dogs!</h2>
<h3>Ingredients</h3>
<div class="cooked-recipe-ingredients">
<div class="cooked-single-ingredient cooked-heading">Ingredients</div>
<div itemprop="recipeIngredient" class="cooked-single-ingredient cooked-ingredient cooked-ing-no-checkbox"><span class="cooked-ing-amount" data-decimal="2">2</span> <span class="cooked-ing-measurement"></span> <span class="cooked-ing-name">Sweet Potatoes</span></div>
</div>
<h3>Directions</h3>
<div class="cooked-recipe-directions">
<div class="cooked-single-direction cooked-direction" data-step="Step 1">
<div class="cooked-dir-content">
<p>Preheat your oven to 250 degrees fahrenheit. </p>
</div>
</div>
<div class="cooked-single-direction cooked-direction" data-step="Step 2">
<div class="cooked-dir-content">
<p>While your oven is preheating, start scrubbing your sweet potatoes. Make sure the skin is clean because you will not be peeling them. Next, cut the potatoes lengthwise into ¼ inch thick pieces (you can also cut them into circles. If you chose to do this the pieces will be a lot smaller which can be good if you have a tiny dog). I used a sharp knife to cut mine but you can also use a Mandoline, just watch your fingers!</p>
</div>
</div>
<div class="cooked-single-direction cooked-direction" data-step="Step 3">
<div class="cooked-dir-content">
<p>Arrange the slices on a few parchment lined baking sheets, I normally use two sheets and separate the pieces by size. Transfer the pans to the oven and set your timer for 1 hour. When the times goes off, flip each piece and rotate the pans around so that every piece will cook as evenly as possible. Set a timer for 1 more hour and keep an eye on your chews. You want them to come out chewy, not crunchy and not mushy. So if they still seem underdone after the second hour, set your timer for 15 minute intervals until they are just right!</p>
</div>
</div>
<div class="cooked-single-direction cooked-direction" data-step="Step 4">
<div class="cooked-dir-content">
<p>Remove your chews from the oven and let them cool on the pans. Finally it’s time for your dog’s favorite part… taste testing!</p>
</div>
</div>
<div class="cooked-single-direction cooked-direction" data-step="Step 5">
<div class="cooked-dir-content">
<p>Store these chews in an airtight container and let your pooch enjoy a few when they&#8217;ve been extra good!</p>
</div>
</div>
</div>
]]></content:encoded>
			<wfw:commentRss>https://fetchfitlife.com/recipes/sweet-potato-dog-chews/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
