<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Pet Health &#8211; FetchFit</title>
	<atom:link href="https://fetchfitlife.com/category/pet-lifestyle/pet-health/feed/" rel="self" type="application/rss+xml" />
	<link>http://fetchfitlife.com/</link>
	<description>Women&#039;s Fitness and Pet Lifestyle Blog</description>
	<lastBuildDate>Sun, 26 Jul 2020 22:18:08 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.5</generator>

<image>
	<url>https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/19004744/fetchfit-logo-100x100.png</url>
	<title>Pet Health &#8211; FetchFit</title>
	<link>http://fetchfitlife.com/</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>5 Foods You Should Never Feed Your Dog (and 5 Safe Alternatives)</title>
		<link>https://fetchfitlife.com/2018/12/19/5-foods-you-should-never-feed-your-dog-and-5-safe-alternatives/</link>
		<comments>https://fetchfitlife.com/2018/12/19/5-foods-you-should-never-feed-your-dog-and-5-safe-alternatives/#respond</comments>
		<pubDate>Wed, 19 Dec 2018 10:00:19 +0000</pubDate>
		<dc:creator><![CDATA[Quinn Barefoot]]></dc:creator>
				<category><![CDATA[Pet Health]]></category>
		<category><![CDATA[Pet Lifestyle]]></category>
		<category><![CDATA[Tips & Tricks]]></category>
		<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://www.fetchfitlife.com/?p=775</guid>
		<description><![CDATA[Picture this: you and your family are sitting down at the dinner table after a long day, armed with forks and knives, ready to chow down on some grub. Suddenly, you feel something warm and fuzzy brush against your feet. You immediately know what it is, and as you look under the table, your eyes lock with that wide-eyed puppy staring back up at you, just desperate for a bite. They’re not looking for much, just a few table scraps to satisfy that sweet puppy belly. I mean, wouldn’t it be cruel to cook up a delicious-smelling meal and not let them try a bite? &#160; I know I’m guilty of giving into that furball under the table. But, even though I want to spoil my dog, I know that has to be done in moderation and with only a few types of food. Yes, it’s hard saying no to those desperate eyes, but it’s for their own good! And, it’s even more tempting to give into that adorable pooch during the holiday season, but it’s important to stand your ground and say “no”. &#160; We want to help you keep your furry friend safe, so we compiled a list [&#8230;]]]></description>
				<content:encoded><![CDATA[<article id="post-759" class="post-759 post type-post status-draft format-standard hentry category-uncategorized">
<div class="entry-content">
<div class="momoko-content">
<div class="momoko-excerpt-area">
<div class="momoko-post-excerpt">
<p>Picture this: you and your family are sitting down at the dinner table after a long day, armed with forks and knives, ready to chow down on some grub. Suddenly, you feel something warm and fuzzy brush against your feet. You immediately know what it is, and as you look under the table, your eyes lock with that wide-eyed puppy staring back up at you, just desperate for a bite. They’re not looking for much, just a few table scraps to satisfy that sweet puppy belly. I mean, wouldn’t it be cruel to cook up a delicious-smelling meal and not let them try a bite?</p>
<p>&nbsp;</p>
<p>I know I’m guilty of giving into that furball under the table. But, even though I want to spoil my dog, I know that has to be done in moderation and with only a few types of food. Yes, it’s hard saying no to those desperate eyes, but it’s for their own good! And, it’s even more tempting to give into that adorable pooch during the holiday season, but it’s important to stand your ground and say “no”.</p>
<p>&nbsp;</p>
<p>We want to help you keep your furry friend safe, so we compiled a list of 5 foods that you should never give your dog followed by a safe option you should consider instead.</p>
<p>&nbsp;</p>
<p><a href="https://www.fetchfitlife.com/?attachment_id=784" rel="attachment wp-att-784"><img class="aligncenter size-full wp-image-784" src="https://www.fetchfitlife.com/wp-content/uploads/2018/12/5Foods_ds.jpg" alt="" width="2400" height="3304" srcset="https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/12/18222908/5Foods_ds.jpg 2400w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/12/18222908/5Foods_ds-218x300.jpg 218w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/12/18222908/5Foods_ds-768x1057.jpg 768w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/12/18222908/5Foods_ds-1453x2000.jpg 1453w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/12/18222908/5Foods_ds-1170x1611.jpg 1170w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/12/18222908/5Foods_ds-600x826.jpg 600w" sizes="(max-width: 2400px) 100vw, 2400px" /></a></p>
<h2></h2>
<h2><strong>1. Xylitol</strong></h2>
<p>&nbsp;</p>
<p>This one is tricky but oh-so-important! Believe it or not, xylitol can be found in some brands of peanut butter, that’s why it’s crucial to always check the label before giving Fido a spoonful of their favorite sticky treat. Xylitol is a sweetner typically found in candy, gum, baked goods, and many diet foods. This chemical can cause an imbalance in your pup’s blood sugar and, in serious cases, can even lead to liver failure.</p>
<p>&nbsp;</p>
<p>Safe option: Find peanut butter that doesn’t contain xylitol (brands that say “all natural” typically don’t contain this chemical, but always double check). I’m sure your dog will always be up for a spoonful of that!</p>
</div>
<p>&nbsp;</p>
<div class="momoko-post-excerpt">
<h2><strong>2. Onions and Garlic</strong></h2>
<p>&nbsp;</p>
<p>Now, I’m sure you would never give your dog a whole onion or clove of garlic to munch on, but these dangerous ingredients are mixed into a whole bunch of foods that we might not even think twice about feeding to our pup. All forms of onions and garlic (raw, cooked, powdered, etc.) can be dangerous to dogs because they wreak havoc on their red blood cells.</p>
<p>&nbsp;</p>
<p>Safe option: Instead of giving your pup something that may contain traces on onions or garlic, try giving them few plain carrots, either steamed or raw. Carrots are a great, nutritious vegetable for dogs to enjoy as long as they are completely plain and free from seasoning.</p>
<p>&nbsp;</p>
<h2><strong>3. Grapes and Raisins</strong></h2>
<p>&nbsp;</p>
<p>Even if you’re tempted to feed your dog some fresh grapes off of an overflowing fruit tray, DON’T! Many pet parents don’t realize that grapes and raisins can lead to kidney failure in dogs. And, the scary thing is that just a small amount of this toxic fruit can cause a lot of harm to your furry friend. So, if your dog has a tendency of sneaking food off of the counter, really double check to make sure there are no grapes or foods that contain raisins within their reach!</p>
<p>&nbsp;</p>
<p>Safe option: Grapes and raisins may not be safe for dogs, but apples and bananas sure are! Try giving them a few pieces of these dog-friendly fruits the next time they’re begging for something sweet.</p>
<p>&nbsp;</p>
<h2><strong>4. Chocolate</strong></h2>
<p>&nbsp;</p>
<p>Now, all of us should know by now that dogs aren’t supposed to have chocolate, but that doesn’t stop some pet parents from allowing their dog to take a little bite of something that has this toxic ingredient. I mean, chocolate is so good, just a little bit won’t hurt them, right? WRONG! Chocolate contains theobromine which can cause a variety of health issues including heart problems, tremors, and seizures. And, it’s important to know that theobromine is found in all types of chocolate, including white chocolate. No matter how much you love chocolate, never ever under any circumstances give your dog a taste!</p>
<p>&nbsp;</p>
<p>Safe option: Pumpkin puree (which is only one ingredient: pumpkin. Make sure to buy the puree and NOT the pumpkin pie filling) is a safe and delicious food for your pup to enjoy. Not only that, but it can also help ease stomach aches and be beneficial to your pup.</p>
<p>&nbsp;</p>
<h2><strong>5. Bones</strong></h2>
<p>&nbsp;</p>
<p>You know that old saying “give a dog a bone”… but that’s probably not be the best idea! If you cook yourself up a steak or some chicken wings, it may be tempting to throw that bone under the table for Fido to enjoy. However, small bones like this are easy for dogs to choke on. Not only that, but they can splinter, which may lead to painful cuts or blockages within your pup’s digestive tract.</p>
<p>&nbsp;</p>
<p>Safe option: You may not be able to give your dog a bone from the dinner table, but there are plenty of dog-safe bones and chew toys on the market for them to enjoy. I usually end up giving my dog an <a href="https://www.amazon.com/Gnawtlers-Naturally-Specially-Selected-Heartland/dp/B01M9GOH17/ref=sr_1_9?s=pet-supplies&amp;ie=UTF8&amp;qid=1532088527&amp;sr=1-9&amp;keywords=dog+antler">Elk Antler</a> to keep her busy. Not only does she love them, but they last a long time! Now, make sure to get the appropriate size for your dog and keep an eye on them while they are chewing to make sure they don’t choke or cut themselves as some of these treats can have sharp points.</p>
<p>&nbsp;</p>
<p>So, next time you see your dog waiting under the table for some scraps, I hope you have the willpower to stand strong and not give into those begging puppy dog eyes. But, every good girl and boy does deserve a treat, so make sure to keep these dog-safe options on hand.</p>
<p>&nbsp;</p>
<p>Remember, a healthy pup is a happy pup!</p>
<p>&nbsp;</p>
<p><i>Did you find this story helpful? Do you have any other dog-safe food options that your furball enjoys? Let us know so we can let others know!</i></p>
<p>&nbsp;</p>
</div>
</div>
<div class="momoko-tags-area"></div>
</div>
</div>
</article>
<div id="comments" class="post-comments"></div>
]]></content:encoded>
			<wfw:commentRss>https://fetchfitlife.com/2018/12/19/5-foods-you-should-never-feed-your-dog-and-5-safe-alternatives/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Dog Halloween Safety</title>
		<link>https://fetchfitlife.com/2018/10/30/dog-halloween-safety/</link>
		<comments>https://fetchfitlife.com/2018/10/30/dog-halloween-safety/#respond</comments>
		<pubDate>Wed, 31 Oct 2018 03:31:53 +0000</pubDate>
		<dc:creator><![CDATA[Quinn Barefoot]]></dc:creator>
				<category><![CDATA[Pet Health]]></category>
		<category><![CDATA[Pet Lifestyle]]></category>
		<category><![CDATA[Tips & Tricks]]></category>

		<guid isPermaLink="false">https://www.fetchfitlife.com/?p=734</guid>
		<description><![CDATA[Halloween is such a fantastic holiday. It’s the only day of the year when it’s socially acceptable to dress up in costumes and eat as much candy as you want… man I wish it was Halloween everyday! &#160; Even though you may love Halloween, many times we fail to realize that it can actually be a very dangerous time for our 4-legged friends. All of the scary costumes, loud noises and dangerous foods can really put our dogs in danger… and none of us want that! &#160; There are appropriate and safe ways for you to enjoy this spooky holiday with your pup… you just have to make sure that everyone is as safe and comfortable as possible! Here are 4 major pet safety threats you should consider before this wonderful October holiday rolls around. &#160; 1. Keep your pup away from the Halloween candy &#160; Keep those paws out of the candy dish! We all know that chocolate is toxic to our furry friends. Still, many times we fail to take the proper precautions and make sure that our Halloween treats are out of Fido’s reach. I mean, the candy bowl is just sitting by your front door, your [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><span style="font-weight: 400;">Halloween is such a fantastic holiday. It’s the only day of the year when it’s socially acceptable to dress up in costumes and eat as much candy as you want… man I wish it was Halloween everyday!</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Even though you may love Halloween, many times we fail to realize that it can actually be a very dangerous time for our 4-legged friends. All of the scary costumes, loud noises and dangerous foods can really put our dogs in danger… and none of us want that!</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">There are appropriate and safe ways for you to enjoy this spooky holiday with your pup… you just have to make sure that everyone is as safe and comfortable as possible! Here are 4 major pet safety threats you should consider before this wonderful October holiday rolls around.</span></p>
<p>&nbsp;</p>
<h2><b>1. Keep your pup away from the Halloween candy</b></h2>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Keep those paws out of the candy dish! We all know that chocolate is toxic to our furry friends. Still, many times we fail to take the proper precautions and make sure that our Halloween treats are out of Fido’s reach. I mean, the candy bowl is just sitting by your front door, your pup may not have the self control to resist taking a bite of those goodies. Not only that, but many young children aren’t careful about what they feed to dogs. They may try to give a dog some candy without even realizing that their favorite chocolate bar isn’t a suitable snack for animals. </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">To help keep your dog away from those dangerous treats, make sure to have the candy bowl up high in a safe spot at all times (hey, that might even help keep it away from kids, too!). Also, take the time to inform everyone in your home about the dangers of Fido getting into the Halloween candy.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">If your little buddy keeps begging for a snack and flashing those puppy dog eyes, you could always whip them up a healthy treat to satisfy their sweet tooth! Try making a batch of our </span><span style="font-weight: 400;">Pumpkin Spice Dog Truffle Treats </span><span style="font-weight: 400;">(Hyperlink to post). They’re healthy, dog approved, and still festive.</span></p>
<p>&nbsp;</p>
<div id="attachment_746" style="width: 1930px" class="wp-caption aligncenter"><img class="wp-image-746 size-full" src="https://www.fetchfitlife.com/wp-content/uploads/2018/10/meekagirl_ds.jpg" alt="" width="1920" height="1280" srcset="https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/10/30232522/meekagirl_ds.jpg 1920w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/10/30232522/meekagirl_ds-300x200.jpg 300w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/10/30232522/meekagirl_ds-768x512.jpg 768w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/10/30232522/meekagirl_ds-1170x780.jpg 1170w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/10/30232522/meekagirl_ds-600x400.jpg 600w" sizes="(max-width: 1920px) 100vw, 1920px" /><p class="wp-caption-text">Meeka!</p></div>
<h2></h2>
<h2><b>2. Ensure any dog costumes are safe &amp; comfortable</b></h2>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">There’s really nothing cuter than a dog dressed up for Halloween. I love to come up with creative ideas for my family’s Halloween costume&#8230; and incorporating Meeka is one of the best parts! However, you have to be very careful if you choose to dress up your pup for Halloween. </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Make sure that their costume is secure, but not strangling. If there is any part of it that could be a potential choke hazard please stay clear of it! Also, if you are making the costume yourself, double check that all of the costume material is dog-friendly and dog-safe. Don’t use anything with glitter, small pieces, or anything that could be dangerous for your pup to chew on. Another thing you want to check on is how your dog feels in the costume. If they really feel out of place and uncomfortable, it can cause them a lot of anxiety. If your pup seems to be in distress while wearing their costume, PLEASE take it off of them, no matter how cute they may look.</span></p>
<p>&nbsp;</p>
<h2><b>3. Be aware of children wearing masks</b></h2>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">This can be a scary one, and my family had to find it out the hard way. On Meeka’s first Halloween she was just short of a year old and we took her out into the yard on a leash that night. She seemed to be ok with all of the families passing by, but then something scary happened. A group of children dressed in costumes approached the house and Meeka went crazy! We couldn’t figure out why at first, but then it clicked: they were wearing masks! Meeka couldn’t see their faces, and that did not sit right with her. Luckily we were able to pull her back inside before anything got out of control and this experience taught us a valuable lesson.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">If you or a loved one is planning on wearing a mask as a part of their Halloween costume this year, try getting your dog used to it first. Let them sniff it while it’s not on your face and see how they react when you put it on. If they seem to be ok with it, go ahead and wear it, but be extra cautious not to make any really quick or scary movements while you are wearing it. And, if you dog seems any bit afraid of it, please do not wear it around them. Making them feel comfortable is key to everyone’s safety.</span></p>
<p>&nbsp;</p>
<h2><b>4. Make sure that all of your Halloween decor is dog-safe</b></h2>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Caleb and I decorate our house for two holidays: Christmas and Halloween. We go all out for these holidays, and man does our house look good! However, we always make sure to think about Meeka when we pick out and put up decorations. Just like your dog’s costume shouldn’t include any glitter or small, easy-to-swallow pieces, neither should your home decorations. Even though they may make your home look good, decorations like glitter pumpkins and sparkly spiders can pose a health threat to your dog if ingested. Also, if you have a chewer, be careful about those spider web decorations. Those stringy webs can wreak havoc on your dog’s digestive system. Do you like burning yummy pumpkin-scented candles? Make sure to keep them out of your dog’s reach, your pup may think they smell good enough to eat.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">So, what can you use? Look for paper decorations that can be hung somewhere high and completely out of Fido’s reach. Also, consider switching out your normal dishcloths to more festive ones, that’s always a safe choice and cute update. Do you still want your house to smell like fall? Opt for autumn-scented oils instead of candles. </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Now that you know how to keep your dog safe, go on and enjoy the holiday! Happy Halloween everyone!</span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">Do you have dog safety tips for Halloween or any other holidays? Please share them with us so we can let others know!</span></i></p>
]]></content:encoded>
			<wfw:commentRss>https://fetchfitlife.com/2018/10/30/dog-halloween-safety/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>The 2 Animal Safety Cards Every Pet Parent Needs To Have</title>
		<link>https://fetchfitlife.com/2018/07/24/the-2-animal-safety-cards-every-pet-parent-needs-to-have/</link>
		<comments>https://fetchfitlife.com/2018/07/24/the-2-animal-safety-cards-every-pet-parent-needs-to-have/#respond</comments>
		<pubDate>Tue, 24 Jul 2018 17:49:43 +0000</pubDate>
		<dc:creator><![CDATA[Quinn Barefoot]]></dc:creator>
				<category><![CDATA[Pet Health]]></category>
		<category><![CDATA[Pet Lifestyle]]></category>
		<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://www.fetchfitlife.com/?p=450</guid>
		<description><![CDATA[Ok, I can’t even handle the thought of my dog being in danger and my stomach is already in knots just writing this sentence. But things happen, and that old adage “it’s better to be safe than sorry” really speaks volumes. This is why pet safety cards are so important. &#160; There are two cards that every pet parent should have. The first is an emergency wallet card which can save your pets in case something unfortunate were to ever happen to you (I know, it’s awful to think about, but precautions should still be taken). A first responder should see this card in your wallet and know you have a pet that is potentially home alone. &#160; This card should get straight to the point and say something along the lines of “My pet is home alone” in bold letters at the top. Then, either underneath the bold letters or on the back of the card, there should be a few pieces of information. First, list your name and the address where your pet or pets can be found. Next, list how many pets are there, the types of pets you have, and your pet’s name(s). Finally, write down [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><span style="font-weight: 400;">Ok, I can’t even handle the thought of my dog being in danger and my stomach is already in knots just writing this sentence. But things happen, and that old adage “it’s better to be safe than sorry” really speaks volumes. This is why pet safety cards are so important.</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">There are two cards that every pet parent should have. The first is an emergency wallet card which can save your pets in case something unfortunate were to ever happen to you (I know, it’s awful to think about, but precautions should still be taken). A first responder should see this card in your wallet and know you have a pet that is potentially home alone. </span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">This card should get straight to the point and say something along the lines of “My pet is home alone” in bold letters at the top. Then, either underneath the bold letters or on the back of the card, there should be a few pieces of information. First, list your name and the address where your pet or pets can be found. Next, list how many pets are there, the types of pets you have, and your pet’s name(s). Finally, write down an emergency contact that can assist in caring for your pets at the bottom of the card (this could be a relative, friend, spouse, or even your veterinarian).</span></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">This card should be placed in the front of your wallet where it can be easily spotted. Also, you can laminate a smaller card that simply reads “My pet is home alone” and attach it to your key chain. For this card, you may not want to list your address in case you lose your keys or someone steals them. However, this key chain should still do the job of alerting first responders and lead them to look for the matching card in your wallet. You can download one of our free printables down below, fill it out, laminate it and stick it in your wallet.</span></p>
<p>&nbsp;</p>
<p><img class="aligncenter wp-image-455 size-full" src="https://www.fetchfitlife.com/wp-content/uploads/2018/07/Pethomealonecard_ds.jpg" alt="" width="1050" height="600" srcset="https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/23232940/Pethomealonecard_ds.jpg 1050w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/23232940/Pethomealonecard_ds-600x343.jpg 600w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/23232940/Pethomealonecard_ds-300x171.jpg 300w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/23232940/Pethomealonecard_ds-768x439.jpg 768w" sizes="(max-width: 1050px) 100vw, 1050px" /></p>
<p style="text-align: center;">Download: <a href="https://www.fetchfitlife.com/wp-content/uploads/2018/07/Pethomealonecard.pdf">My Pet Is Home Alone Wallet Card in Red</a></p>
<p style="text-align: center;"><img class="aligncenter size-full wp-image-454" src="https://www.fetchfitlife.com/wp-content/uploads/2018/07/Pethomealonecard_bw_ds.jpg" alt="" width="1050" height="600" srcset="https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/23232939/Pethomealonecard_bw_ds.jpg 1050w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/23232939/Pethomealonecard_bw_ds-600x343.jpg 600w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/23232939/Pethomealonecard_bw_ds-300x171.jpg 300w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/23232939/Pethomealonecard_bw_ds-768x439.jpg 768w" sizes="(max-width: 1050px) 100vw, 1050px" /></p>
<p style="text-align: center;">Download: <a href="https://www.fetchfitlife.com/wp-content/uploads/2018/07/Pethomealonecard_bw.pdf">My Pet Is Home Alone Wallet Card in Black</a></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">The second type of card that every pet owner needs to have is an “In case of emergency card” that should be present on or near your front door. Again, I hate to even think about it, but this card will alert any police or firefighters who come to your home that there are animals inside who need to be rescued. You can buy a sticker or a vinyl decal online from places like </span><a href="https://www.thepetcarecard.com/" target="_blank" rel="noopener"><span style="font-weight: 400;">The Pet Care Card</span></a><span style="font-weight: 400;"> or </span><a href="https://www.amazon.com/s/ref=nb_sb_noss?url=search-alias%3Daps&amp;field-keywords=pet+emergency+sticker&amp;rh=i%3Aaps%2Ck%3Apet+emergency+sticker" target="_blank" rel="noopener"><span style="font-weight: 400;">Amazon</span></a><span style="font-weight: 400;">, then just check off whichever boxes apply to your pets. </span><span style="font-weight: 400;">Make sure this card is easy to see, you may even want to put a few more of them on different windows and outside-facing doors around your home.</span></p>
<p>&nbsp;</p>
<p><a href="https://www.fetchfitlife.com/2018/07/24/the-2-animal-safety-cards-every-pet-parent-needs-to-have/finn_rescuesticker_ds/" rel="attachment wp-att-657"><img class="aligncenter size-full wp-image-657" src="https://www.fetchfitlife.com/wp-content/uploads/2018/07/finn_rescuesticker_ds.jpg" alt="" width="4793" height="3196" srcset="https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/14184120/finn_rescuesticker_ds.jpg 4793w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/14184120/finn_rescuesticker_ds-600x400.jpg 600w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/14184120/finn_rescuesticker_ds-300x200.jpg 300w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/14184120/finn_rescuesticker_ds-768x512.jpg 768w, https://fetchfit-prod.s3.amazonaws.com/wp-content/uploads/2018/07/14184120/finn_rescuesticker_ds-1170x780.jpg 1170w" sizes="(max-width: 4793px) 100vw, 4793px" /></a></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">Having these two vital cards can save your animals and lessen the blow of an already unfortunate situation. Please keep yourself and your animals safe!</span></p>
<p>&nbsp;</p>
<p><i><span style="font-weight: 400;">Do you have any pet safety tips you’d like to share? Leave them in the comments or send them to us in  a message. We want to help every pet owner know the best ways to keep their pets safe… help us help others!</span></i></p>
]]></content:encoded>
			<wfw:commentRss>https://fetchfitlife.com/2018/07/24/the-2-animal-safety-cards-every-pet-parent-needs-to-have/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
